Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

dvc: commit experiment 67536b7439c118abec39c69a1ba4746b044028627f6865363aef306937a2b874
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment d91a4ac7a256a07786c0b0ac38a83df8054e2d6c708c1363a796638426006f37
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 174b23a2da157e0cbbe31972b87eaed0ff21771b38a31a53802754e74b84894d
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 12f9631d4eb1a157a98e61347911e0c466289c31a295fed82398f10ebb46bc7b
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 51eb1dd26feb103be4149c11c60dae561953d40e9bd7e45aa59077f8a89c60a8
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment aaa6d35e931e1d4ff9c31b32a69e3d6cd0e988dfb6bf7741a52fce728fec1544
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment c301a5e06f61ab167c8a399b4ffb99a5a4b730f536fcac1791f64e7324985874
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 5902236dbe475afff18a8375055742401b659db5bf6d9f5abe0054da13957a3e
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment ff5f5743b293f21bd70dba75788d4e7b0d30d8d0ffb844bdbd070fa50142884d
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment b2a1ad1510a6325e6323eece99a1ffcda097e13afe8c3acf2bc7d4b0b736e930
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 58097494e2f052f65408b2bc99e8b6a0ec4c89ac26ddb7f13e6115e0e57b84ae
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 510ff3e36c3e11f402792212e7308bf88db401c797d7f94f17fef98828473acc
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

temp update branch command to share experiment
  extension/src/experiments/commands/register.ts
  extension/src/git.ts
Due: prettier --write, eslint --cache --fix

change dep to data/MNIST/raw
  demo/dvc.yaml
Due: none

Fix sticky workspace row obscuring branch
  webview/src/experiments/components/table/TableHead.tsx
Due: prettier --write, eslint --cache --fix

Apply review comment
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Disable table selection when resizing
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix sticky workspace row obscuring branch (#2212)
  webview/src/experiments/components/table/TableHead.tsx
Due: prettier --write, eslint --cache --fix

Make drop zones larger when dragging in the same section (#2206)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/util.ts
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/DropTarget.tsx
  webview/src/util/array.ts
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Add a copy button for comparision table rows
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Let the user select the text of the comparison row path
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: none

Disable toggling while selecting comparison row path
  webview/src/plots/components/comparisonTable/ComparisonTableRow.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/test/selection.ts
Due: prettier --write, eslint --cache --fix

Add more tests
  webview/src/plots/components/comparisonTable/ComparisonTableRow.test.tsx
  webview/src/test/selection.ts
Due: prettier --write, eslint --cache --fix

Revert colspan move
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Revert change
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix stories
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

Disable selection on resize (#2214)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Clean up styles
  webview/src/experiments/components/table/styles.module.scss
Due: none

Add missing file
  webview/src/shared/variables.scss
Due: none

add share experiment command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

add share experiment into experiments table
  extension/src/experiments/webview/messages.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

dvc: commit experiment 462505dc79eb4c76fc9c32a365e82b7840a161b48a52bf59c3df95957d0e9a19
  demo/dvc.lock
  demo/params.yaml
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 0c0541d8dc2ea0df0a4c95c1a74da5bcda9bcd1846e64232c2fda596ba6db6f1
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 0885148ecd950ecc8d788ec7f4e5e42e587269ecc61cd6ee6eb2412b790670a1
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment e06e959e8f39f746f2571667d64809f0b6f6e772df068295b716e80a8d97ad0a
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 9ce5df79e97f0261f6008d53fdc5205e2680893ff6ed343b132e4665a54a449c
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 4122d91794515243ce198ca7ee1464add6a332316d926b450397da80bba41c20
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment b65429ca122407573ac37f96843e7e3c7af611edf65e61e8b762f6c8fab36ed0
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment d79c006d40b54bdaaba24a8067b629116507f17929218b754a5fd56ff33ce5b1
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write
