Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

hoist getCachedTable for newspaper rule
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

add debounce dependencies
  extension/package.json
  yarn.lock
Due: prettier --write

add chokidar as fs replacement
  extension/package.json
  yarn.lock
Due: prettier --write

add chokidar to replace fs
  extension/package.json
  yarn.lock
Due: prettier --write

update fileSystem to use chokidar
  extension/src/fileSystem.test.ts
  extension/src/fileSystem.ts
Due: prettier --write, eslint --cache --fix

update extension with new file change handler
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

convert refreshWebviews to arrow function for this
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

change debounce to trailing
  extension/src/fileSystem.test.ts
  extension/src/fileSystem.ts
Due: prettier --write, eslint --cache --fix

Set autoResetExpanded to false on the Experiments table
  webview/src/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

remove disable-extensions from dev-ui command
  package.json
Due: prettier --write

add need for python extension to contributing doc
  CONTRIBUTING.md
Due: prettier --write

add extension to demo project recommendations
  demo/.vscode/extensions.json
Due: prettier --write

add tensorflow to requirements
  demo/requirements.txt
Due: none

update interpreter to be generic version
  demo/.vscode/settings.json
Due: prettier --write

add recommended version of python to contributing doc
  CONTRIBUTING.md
Due: prettier --write

unhook setup:venv from CI
  CONTRIBUTING.md
  activate-demo-venv.sh
  package.json
Due: prettier --write

remove python build from CI
  .github/workflows/build.yml
Due: none

Add TensorFlow as demo dependency (#112)
  .github/workflows/build.yml
  CONTRIBUTING.md
  activate-demo-venv.sh
  demo/.vscode/settings.json
  demo/requirements.txt
  package.json
Due: prettier --write

Set autoResetExpanded to false on the Experiments table (#110)
  webview/src/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

remove unnecessary path from cli commands
  extension/src/IntegratedTerminal.test.ts
  extension/src/dvcCommands.ts
Due: prettier --write, eslint --cache --fix

Remove nearly-unused Experiment cache mechanism
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Revert out-of-scope changes
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Enable type checking on typescript-eslint
  .eslintrc.js
  tsconfig.json
Due: prettier --write, eslint --cache --fix

Remove unused Experiment cache mechanism (#115)
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

move shared types into the webviewContract
  extension/src/DvcReader.ts
  extension/src/DvcWebviewManager.ts
  extension/src/webviewContract.ts
  webview/src/components/Experiments.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/model/Model.ts
  webview/src/util/parse-experiments.ts
Due: prettier --write, eslint --cache --fix

Start squashing eslint errors
  .eslintrc.js
  extension/src/DvcReader.ts
  extension/src/DvcWebviewManager.ts
  extension/src/IntegratedTerminal.ts
  extension/src/extension.ts
  extension/src/fileSystem.test.ts
  extension/src/fileSystem.ts
  extension/src/test/runTest.ts
  extension/src/test/suite/index.ts
  extension/webpack.config.ts
  webview/src/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

create webviews contract folder
  extension/src/Config.ts
  extension/src/DvcReader.test.ts
  extension/src/DvcReader.ts
  extension/src/DvcWebviewManager.ts
  extension/src/webviews/experiments/complex-output-example.json
  extension/src/webviews/experiments/contract.ts
  webview/src/components/App.test.tsx
  webview/src/components/Experiments.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/model/Model.ts
  webview/src/stories/Experiments.stories.tsx
  webview/src/util/parse-experiments.test.ts
  webview/src/util/parse-experiments.ts
Due: prettier --write, eslint --cache --fix

pull required code from git lens into single file
  .vscode/settings.json
  extension/src/Git.ts
Due: prettier --write, eslint --cache --fix

add fs-extra
  extension/package.json
  yarn.lock
Due: prettier --write

convert fs functions to fs-extra
  extension/src/Git.ts
Due: prettier --write, eslint --cache --fix

remove custom logger
  extension/src/Git.ts
Due: prettier --write, eslint --cache --fix

add basic tests
  extension/src/Git.ts
  extension/src/git.test.ts
Due: prettier --write, eslint --cache --fix

remove isDirectory flag
  extension/src/Git.ts
  extension/src/git.test.ts
Due: prettier --write, eslint --cache --fix

lower case the file name in git
  extension/src/git.ts
Due: prettier --write, eslint --cache --fix

simplify test to pass on multiple OS
  extension/src/git.test.ts
Due: prettier --write, eslint --cache --fix

remove test to leave CI passing
  extension/src/git.test.ts
Due: prettier --write, eslint --cache --fix

Add explorer context menu contributes
  extension/package.json
Due: prettier --write

Tests for new commands & mock for vscode.workspace
  extension/src/IntegratedTerminal.test.ts
  extension/src/__mocks__/vscode.ts
Due: prettier --write, eslint --cache --fix

New commands: initializeDirectory, add, checkout, checkoutRecursive
  extension/src/IntegratedTerminal.ts
  extension/src/dvcCommands.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Fix for CI
  extension/src/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix
