Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

revert test vscode styles entry
  webview/src/stories/test-vscode-styles.scss
Due: none

change tooltip for git modified to tracked
  extension/src/repository/decorationProvider.ts
Due: prettier --write, eslint --cache --fix

add output channel to walkthrough
  extension/package.json
  extension/resources/walkthrough/output-channel.md
Due: prettier --write

update md for output channel walkthrough
  extension/resources/walkthrough/output-channel.md
Due: prettier --write

Add commmand to show output channel (#883)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/commands/internal.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/extension.test.ts
  extension/src/vscode/outputChannel.ts
Due: prettier --write, eslint --cache --fix

Add output channel step to product walkthrough (#885)
  extension/package.json
  extension/resources/walkthrough/output-channel.md
Due: prettier --write

update UI text of new resource group
  extension/src/repository/sourceControlManagement.ts
Due: prettier --write, eslint --cache --fix

Rework SCM `stageModified` status (#880)
  extension/package.json
  extension/src/repository/decorationProvider.test.ts
  extension/src/repository/decorationProvider.ts
  extension/src/repository/index.test.ts
  extension/src/repository/model.test.ts
  extension/src/repository/model.ts
  extension/src/repository/sourceControlManagement.test.ts
  extension/src/repository/sourceControlManagement.ts
  extension/src/util/index.test.ts
  extension/src/util/index.ts
Due: prettier --write, eslint --cache --fix

Change webview context back to shared one and improve styles
  extension/src/experiments/plotsWebview/index.ts
  webview/src/plots/components/App.tsx
  webview/src/plots/components/Plots.tsx
Due: prettier --write, eslint --cache --fix

rework boolean comparisons
  extension/package.json
Due: prettier --write

Hide commands from command palette when cli is inaccessible or there is no project (#884)
  extension/package.json
  extension/src/extension.ts
  extension/src/interfaces.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

upgrade vscode dependencies
  extension/package.json
  extension/src/vscode.proposed.d.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

add resource group context commands
  extension/package.json
Due: prettier --write

upgrade vscode dependencies (#886)
  extension/package.json
  extension/src/vscode.proposed.d.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

add resource group context commands (#887)
  extension/package.json
Due: prettier --write

wire up git stage all and git unstage all
  .vscode/settings.json
  extension/package.json
  extension/src/commands/external.ts
  extension/src/repository/commands/index.ts
  extension/src/repository/commands/register.ts
  extension/src/repository/sourceControlManagement.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

add git mechanics as extension cannot help
  extension/src/git.ts
Due: prettier --write, eslint --cache --fix

add git.stageAll to git modified resource group
  extension/package.json
Due: prettier --write

add git.unstageAll to git modified resource group
  extension/package.json
Due: prettier --write

add titles for new commands
  extension/package.json
  extension/package.nls.json
Due: prettier --write

add integration tests for new git commands
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

remove unstage all function in favour of git reset
  extension/src/git.ts
  extension/src/repository/commands/index.ts
Due: prettier --write, eslint --cache --fix

Add commands to git modified SCM resource group (#888)
  .vscode/settings.json
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/git.ts
  extension/src/repository/commands/index.ts
  extension/src/repository/commands/register.ts
  extension/src/repository/sourceControlManagement.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

push retry until resolved down into reader
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/experiments/index.ts
  extension/src/repository/index.test.ts
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

move promise util into cli folder
  extension/src/cli/reader.ts
  extension/src/cli/retry.test.ts
  extension/src/cli/retry.ts
Due: prettier --write, eslint --cache --fix

only retry if the repo is locked
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/cli/retry.test.ts
  extension/src/cli/retry.ts
Due: prettier --write, eslint --cache --fix

update test wording
  extension/src/cli/reader.test.ts
Due: prettier --write, eslint --cache --fix

check that overall line coverage is above 95
  package.json
Due: prettier --write

add in single use language association helper
  extension/src/extension.ts
  extension/src/test/suite/vscode/languageAssociation.test.ts
  extension/src/vscode/config.ts
  extension/src/vscode/languageAssociation.ts
Due: prettier --write, eslint --cache --fix

remove nested ifs
  extension/src/vscode/languageAssociation.ts
Due: prettier --write, eslint --cache --fix

clean up integration tests
  extension/src/test/suite/vscode/languageAssociation.test.ts
Due: prettier --write, eslint --cache --fix

add unit tests for ask user to associate yaml
  extension/src/vscode/languageAssociation.test.ts
Due: prettier --write, eslint --cache --fix

add file association config options into package json
  extension/package.json
  extension/package.nls.json
Due: prettier --write

pull out enum and toast helpers
  extension/src/setup.ts
  extension/src/vscode/languageAssociation.ts
  extension/src/vscode/quickPick.ts
  extension/src/vscode/response.ts
  extension/src/vscode/toast.ts
Due: prettier --write, eslint --cache --fix

update toast text
  extension/src/vscode/languageAssociation.ts
Due: prettier --write, eslint --cache --fix

uppercase yaml in option desc and title
  extension/package.nls.json
Due: prettier --write

prevent commit and reset the workspace being called when there are no changes in the repository
  extension/src/repository/commands/index.ts
  extension/src/repository/index.ts
  extension/src/repository/model.ts
  extension/src/repository/workspace.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
  extension/src/test/suite/repository/workspace.test.ts
Due: prettier --write, eslint --cache --fix

remove information message from null command
  extension/src/repository/commands/index.ts
  extension/src/repository/workspace.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

test repository has changes function
  extension/src/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

add missing word in test description
  extension/src/cli/reader.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
