Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

have button as link extend anchor
  webview/src/experiments/components/table/CellHintTooltip.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

remove important from css variables
  webview/src/experiments/components/table/styles.module.scss
Due: none

reduce duplication
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

add unit tests for new tooltip functionality
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

remove comment
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

add integration test
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

consolidate messages to extension
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/messages.ts
Due: prettier --write, eslint --cache --fix

update indicator colors
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

remove only you dummy
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Fixing setup-project.md text
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

The typo fixed
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

Returning images with the code snippets
  extension/resources/walkthrough/images/plots-dump-image.png
  extension/resources/walkthrough/images/plots-dump-with-dvclive.png
  extension/resources/walkthrough/images/plots-dump-with-open-file.png
  extension/resources/walkthrough/images/setup-project-dump-metrics.png
  extension/resources/walkthrough/images/setup-project-dvc-yaml-example.png
  extension/resources/walkthrough/images/setup-project-dvclive-metrics.png
Due: none

Create dedicated header module
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Add webpack dummy build as a lint step
  webview/package.json
Due: prettier --write

Fix styles imports for header module
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Remove duplicated code
  webview/src/experiments/components/table/header/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

Disable left-click trigger for header context menu
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
Due: prettier --write, eslint --cache --fix

Fix experiment table changes collection bug (#2598)
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/collect/index.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
Due: prettier --write, eslint --cache --fix

Use stable version of VS Code for e2e tests
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

add pointer to button as link
  webview/src/experiments/components/table/styles.module.scss
Due: none

Use stable version of VS Code for e2e tests (#2611)
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

Add actions to experiment cell hint tooltips (#2606)
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/CellHintTooltip.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/messages.ts
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Standardize dvc root paths as they come into the system (#2597)
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Get repo .git directory
  extension/src/cli/git/constants.ts
  extension/src/cli/git/executor.ts
  extension/src/experiments/data/constants.ts
  extension/src/experiments/data/index.ts
  extension/src/repository/data/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/repository/data/index.test.ts
  extension/src/test/util/index.ts
Due: prettier --write, eslint --cache --fix

use description foreground as icon color
  webview/src/shared/variables.scss
Due: none

add editor light bulb for selected star
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Update experiment table icons to use --vscode-descriptionForeground and use --vscode-editorLightBulb-foreground for selected stars (#2604)
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Fix columns group test
  webview/src/experiments/components/table/Table.test.tsx
Due: prettier --write, eslint --cache --fix

test action
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
Due: none

name artifact
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
Due: none

remove test code
  .github/workflows/continuous-integration.yml
Due: none

Updated EXPs table screenshots
  extension/resources/walkthrough/images/click-the-circle-beside-experiment-name.png
  extension/resources/walkthrough/images/experiments-table-context-menus.png
  extension/resources/walkthrough/images/experiments-table-from-side-bar.png
  extension/resources/walkthrough/images/experiments-table.png
  extension/resources/walkthrough/images/run-experiments-table-buttons.png
Due: none

Account for null being an object in workspace change data collection
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
Due: prettier --write, eslint --cache --fix

Account for null being an object in workspace change data collection (#2617)
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
Due: prettier --write, eslint --cache --fix

Add util for identifying ValueTree type
  extension/src/cli/dvc/contract.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
  extension/src/experiments/model/modify/collect.ts
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

Move draggingIds ref
  webview/src/experiments/components/table/TableHead.tsx
Due: prettier --write, eslint --cache --fix

Update table drag and drop implementation (#2566)
  webview/src/experiments/components/table/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/TableHeaderCell.tsx
  webview/src/experiments/components/table/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/headerDropTargetSlice.ts
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/store.ts
  webview/src/experiments/util/columns.test.ts
  webview/src/experiments/util/columns.ts
  webview/src/shared/components/dragDrop/Draggable.tsx
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

Improve max table depth test * use ConfigKey variable for config name * reset workspace configuration with an after hook * delete unneeded await
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
