Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Show webview in split panel by default
  extension/src/DvcWebviewManager.ts
Due: prettier --write, eslint --cache --fix

debugging local issue
  extension/src/IntegratedTerminal.test.ts
  extension/src/__mocks__/vscode.ts
  extension/src/dvcCommands.ts
Due: prettier --write, eslint --cache --fix

still debugging
  extension/src/IntegratedTerminal.test.ts
  extension/src/__mocks__/vscode.ts
Due: prettier --write, eslint --cache --fix

add ResourceLocator class
  extension/src/ResouceLocator.ts
  extension/src/ResourceLocator.test.ts
  extension/src/__mocks__/vscode.ts
Due: prettier --write, eslint --cache --fix

move responsibility of locating resources into standalone class
  extension/src/Config.ts
  extension/src/DvcWebviewManager.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

update return type of mockUri
  extension/src/ResourceLocator.test.ts
Due: prettier --write, eslint --cache --fix

tests for new commands
  extension/src/IntegratedTerminal.test.ts
  extension/src/__mocks__/vscode.ts
Due: prettier --write, eslint --cache --fix

remove use of getConfig
  extension/src/Config.ts
  extension/src/DvcPath.ts
Due: prettier --write, eslint --cache --fix

move DVCPathStatusBarItem class into config
  extension/src/Config.ts
  extension/src/DvcPath.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

rename file to have correct name
  extension/src/DvcWebviewManager.ts
  extension/src/ResourceLocator.test.ts
  extension/src/ResourceLocator.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

move all dvcPathStatusBarItem into config
  extension/src/Config.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

move selectDvcPath into Config
  extension/src/Config.ts
  extension/src/DvcPath.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

remove remaining function from dvcPath
  extension/src/DvcPath.ts
  extension/src/dvcReader.test.ts
  extension/src/dvcReader.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

remove leftovers
  extension/src/IntegratedTerminal.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

possible fix for incorrect path format on non-windows os
  extension/src/dvcCommands.ts
Due: prettier --write, eslint --cache --fix

test update
  extension/src/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

package nls added
  extension/package.nls.json
Due: prettier --write

update package json to use nls variables
  extension/package.json
Due: prettier --write

potential fix for hanging ci
  extension/package.json
Due: prettier --write

update proposed API
  extension/src/DvcWebviewManager.ts
  extension/src/vscode.proposed.d.ts
Due: prettier --write, eslint --cache --fix

update types
  extension/package.json
  yarn.lock
Due: prettier --write

update engine
  extension/package.json
Due: prettier --write

update vscode-test
  extension/package.json
Due: prettier --write

update yarn lock
  yarn.lock
Due: none

do not use cache
  .github/workflows/build.yml
Due: none

use cache but run on mac
  .github/workflows/build.yml
Due: none

revert os
  .github/workflows/build.yml
Due: none

temporarily disable integration tests for CI
  extension/package.json
Due: prettier --write

revert OS
  .github/workflows/build.yml
Due: none

reinstate integration tests
  extension/package.json
Due: prettier --write

not sure what this is for
  webview/src/components/Menu/module.scss
Due: none

just few adjustments
  webview/src/components/Experiments/index.tsx
  webview/src/components/Menu/styles.module.scss
  webview/src/components/SortIndicator/index.tsx
  webview/src/components/SortIndicator/styles.module.scss
  webview/src/components/Table/styles.module.scss
  webview/src/style.scss
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

convert set to plain object and rename
  extension/package.json
  extension/src/DvcWebviewManager.ts
  extension/src/extension.ts
  extension/src/webviews/experiments/contract.ts
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

update name of DvcExperimentsWebview
  extension/src/DvcWebviewManager.ts
Due: prettier --write, eslint --cache --fix

split webview class from manager
  extension/src/DvcExperimentsWebview.ts
  extension/src/DvcWebviewManager.ts
Due: prettier --write, eslint --cache --fix

move new classes into webview folder
  extension/src/extension.ts
  extension/src/webviews/WebviewManager.ts
  extension/src/webviews/experiments/ExperimentsWebview.ts
Due: prettier --write, eslint --cache --fix

hoist openedWebviews
  extension/src/DvcWebviewManager.ts
Due: prettier --write, eslint --cache --fix

move lastExperimentsOutputHash into manager
  extension/src/extension.ts
  extension/src/webviews/WebviewManager.ts
Due: prettier --write, eslint --cache --fix

remove output hash from dvcReader
  extension/src/dvcReader.test.ts
  extension/src/dvcReader.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

rename function
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
