Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Add custom params files to demo
  demo/dvc.yaml
  demo/nested/otherparams.yaml
  demo/otherparams.yaml
Due: none

Rework promises retries (#770)
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
  extension/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --cache --fix

add initialized, completed and failed states to output channel
  extension/src/cli/error.ts
  extension/src/cli/executor.test.ts
  extension/src/cli/index.test.ts
  extension/src/cli/index.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/runner.ts
  extension/src/processExecution.ts
  extension/src/test/suite/cli/runner.test.ts
  extension/src/test/suite/status.test.ts
  extension/src/test/suite/vscode/outputChannel.test.ts
  extension/src/vscode/outputChannel.ts
Due: prettier --write, eslint --cache --fix

refactor output channel code
  extension/src/test/suite/vscode/outputChannel.test.ts
  extension/src/vscode/outputChannel.ts
Due: prettier --write, eslint --cache --fix

refactor firing of events
  extension/src/cli/index.ts
  extension/src/cli/runner.ts
  extension/src/test/suite/status.test.ts
  extension/src/test/suite/vscode/outputChannel.test.ts
Due: prettier --write, eslint --cache --fix

use on close to untrack process
  extension/src/cli/runner.ts
Due: prettier --write, eslint --cache --fix

use on close to untrack process in cli
  extension/src/cli/executor.test.ts
  extension/src/cli/index.test.ts
  extension/src/cli/index.ts
  extension/src/cli/reader.test.ts
  extension/src/test/util/index.ts
Due: prettier --write, eslint --cache --fix

pull out get options function
  extension/src/cli/runner.ts
Due: prettier --write, eslint --cache --fix

process cli error in separate function
  extension/src/cli/error.ts
  extension/src/cli/index.ts
  extension/src/cli/options.ts
Due: prettier --write, eslint --cache --fix

reword all tests to reference create process
  extension/src/cli/executor.test.ts
Due: prettier --write, eslint --cache --fix

use object assign correctly
  extension/src/processExecution.ts
Due: prettier --write, eslint --cache --fix

Change path separator to ':'
  extension/src/cli/index.test.ts
  extension/src/cli/options.test.ts
  extension/src/cli/options.ts
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/experiments/webview/complex-column-example.json
  extension/src/util/env.ts
  extension/src/util/paths.ts
  webview/src/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Add extra details to logs and track all processes (#769)
  extension/src/cli/error.ts
  extension/src/cli/executor.test.ts
  extension/src/cli/index.test.ts
  extension/src/cli/index.ts
  extension/src/cli/options.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/runner.ts
  extension/src/processExecution.ts
  extension/src/test/suite/cli/runner.test.ts
  extension/src/test/suite/status.test.ts
  extension/src/test/suite/vscode/outputChannel.test.ts
  extension/src/test/util/index.ts
  extension/src/vscode/outputChannel.ts
Due: prettier --write, eslint --cache --fix

Change typescript to peerDependencies in child repos
  extension/package.json
  webview/package.json
Due: prettier --write

Remove typescript dep from webview
  webview/package.json
  yarn.lock
Due: prettier --write

Add debug description to README
  README.md
Due: prettier --write

Change typescript to peerDependencies in child repos (#773)
  extension/package.json
  webview/package.json
  yarn.lock
Due: prettier --write

Add debug description to README (#774)
  README.md
Due: prettier --write

create analytics event for extension loading
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/vscode/workspaceFolders.ts
Due: prettier --write, eslint --cache --fix

add first viewed event to all view trees
  extension/src/__mocks__/vscode.ts
  extension/src/experiments/model/filterBy/tree.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/paramsAndMetrics/tree.ts
  extension/src/fileSystem/tree.ts
  extension/src/telemetry/constants.ts
  extension/src/telemetry/index.test.ts
  extension/src/telemetry/index.ts
Due: prettier --write, eslint --cache --fix

remove extension mock object
  extension/src/__mocks__/vscode.ts
Due: prettier --write, eslint --cache --fix

use send tree open event function
  extension/src/experiments/model/filterBy/tree.ts
  extension/src/experiments/model/sortBy/tree.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/paramsAndMetrics/tree.ts
  extension/src/fileSystem/tree.ts
  extension/src/telemetry/constants.ts
  extension/src/telemetry/index.ts
Due: prettier --write, eslint --cache --fix

create analytics event for extension loading (#775)
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/vscode/workspaceFolders.ts
Due: prettier --write, eslint --cache --fix

Use complex paths similar to DVC CLI
  extension/src/util/paths.test.ts
  extension/src/util/paths.ts
Due: prettier --write, eslint --cache --fix

Add nested file path tests
  extension/src/util/paths.test.ts
Due: prettier --write, eslint --cache --fix

Change wording of test descriptions
  extension/src/util/paths.test.ts
Due: prettier --write, eslint --cache --fix

Fix broken integration tests
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/experiments/webview/complex-column-example.json
Due: prettier --write, eslint --cache --fix

remove unnecessary mocks
  extension/src/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

move node env manipulation into before and after each blocks
  extension/src/telemetry/index.test.ts
Due: prettier --write, eslint --cache --fix

match names for view opened events
  extension/src/experiments/model/filterBy/tree.ts
  extension/src/experiments/model/sortBy/tree.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/paramsAndMetrics/tree.ts
  extension/src/fileSystem/tree.ts
  extension/src/telemetry/constants.ts
  extension/src/telemetry/index.ts
Due: prettier --write, eslint --cache --fix

remove unused options
  .vscode/settings.json
Due: prettier --write

add stackframe to list of known words
  .vscode/settings.json
Due: prettier --write

increase timeout for tests that fail locally
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

add sending of telemetry error event when registered command fails
  extension/package.json
  extension/src/commands/external.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/index.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

add error events for the remaining registered functions
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/telemetry/index.ts
Due: prettier --write, eslint --cache --fix

abstract duplication
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

be explicit with unknown type
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

add test for when workspace setup fails
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

refactor send telemetry event and throw
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/index.ts
Due: prettier --write, eslint --cache --fix

pass duration instead of stopwatch
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
