Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Fixing text
  extension/resources/walkthrough/plots.md
Due: prettier --write

Returning images with the code snippets
  extension/resources/walkthrough/images/plots-dump-image.png
  extension/resources/walkthrough/images/plots-dump-with-dvclive.png
  extension/resources/walkthrough/images/plots-dump-with-open-file.png
  extension/resources/walkthrough/images/setup-project-dump-metrics.png
  extension/resources/walkthrough/images/setup-project-dvc-yaml-example.png
  extension/resources/walkthrough/images/setup-project-dvclive-metrics.png
Due: none

New images
  extension/resources/walkthrough/images/available-commands-command-palette.png
  extension/resources/walkthrough/images/dvc-tracked-explorer.png
  extension/resources/walkthrough/images/dvc-tracked-scm.png
  extension/resources/walkthrough/images/experiments-table-context-menus.png
  extension/resources/walkthrough/images/experiments-table-from-side-bar.png
  extension/resources/walkthrough/images/experiments-table.png
  extension/resources/walkthrough/images/install-dvc-setup-wizard.png
  extension/resources/walkthrough/images/install-dvc-status-bar-detected.png
  extension/resources/walkthrough/images/live-plots-updates.gif
  extension/resources/walkthrough/images/plots-data-series.png
  extension/resources/walkthrough/images/plots-experiments-view-icon.png
  extension/resources/walkthrough/images/plots-images.png
  extension/resources/walkthrough/images/plots-plots-view-icon.png
  extension/resources/walkthrough/images/plots-trends.png
  extension/resources/walkthrough/images/plots-view-icon.png
  extension/resources/walkthrough/images/run-experiments-command-palette.png
  extension/resources/walkthrough/images/run-experiments-params-buttons.png
  extension/resources/walkthrough/images/run-experiments-table-buttons.png
  extension/resources/walkthrough/images/view-container-columns.png
  extension/resources/walkthrough/images/view-container-experiments.png
  extension/resources/walkthrough/images/view-container-filter.png
  extension/resources/walkthrough/images/view-container-plots.png
  extension/resources/walkthrough/images/view-container-show.png
  extension/resources/walkthrough/images/view-container-sort.png
  extension/resources/walkthrough/images/view-container-support.png
  extension/resources/walkthrough/images/view-container-welcome.png
  extension/resources/walkthrough/plots.md
Due: prettier --write

Adding GIF back
  extension/resources/walkthrough/images/live-plots-updates.gif
Due: none

Update for two images
  extension/resources/walkthrough/images/available-commands-command-palette.png
  extension/resources/walkthrough/images/install-dvc-status-bar-detected.png
Due: none

Updated EXPs table screenshots
  extension/resources/walkthrough/images/experiments-table-context-menus.png
  extension/resources/walkthrough/images/experiments-table-from-side-bar.png
  extension/resources/walkthrough/images/experiments-table.png
  extension/resources/walkthrough/images/run-experiments-table-buttons.png
Due: none

Rename first image in plots.md
  extension/resources/walkthrough/plots.md
Due: prettier --write

update latest tested version
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Update walkthrough images, thanks @maxagin
  extension/resources/walkthrough/images/available-commands-command-palette.png
  extension/resources/walkthrough/images/dvc-tracked-explorer.png
  extension/resources/walkthrough/images/dvc-tracked-scm.png
  extension/resources/walkthrough/images/experiments-table-context-menus.png
  extension/resources/walkthrough/images/experiments-table-from-side-bar.png
  extension/resources/walkthrough/images/experiments-table.png
  extension/resources/walkthrough/images/install-dvc-setup-wizard.png
  extension/resources/walkthrough/images/install-dvc-status-bar-detected.png
  extension/resources/walkthrough/images/plots-data-series.png
  extension/resources/walkthrough/images/plots-experiments-view-icon.png
  extension/resources/walkthrough/images/plots-images.png
  extension/resources/walkthrough/images/plots-plots-view-icon.png
  extension/resources/walkthrough/images/plots-trends.png
  extension/resources/walkthrough/images/plots-view-icon.png
  extension/resources/walkthrough/images/run-experiments-command-palette.png
  extension/resources/walkthrough/images/run-experiments-params-buttons.png
  extension/resources/walkthrough/images/run-experiments-table-buttons.png
  extension/resources/walkthrough/images/view-container-columns.png
  extension/resources/walkthrough/images/view-container-experiments.png
  extension/resources/walkthrough/images/view-container-filter.png
  extension/resources/walkthrough/images/view-container-plots.png
  extension/resources/walkthrough/images/view-container-show.png
  extension/resources/walkthrough/images/view-container-sort.png
  extension/resources/walkthrough/images/view-container-support.png
  extension/resources/walkthrough/images/view-container-welcome.png
  extension/resources/walkthrough/plots.md
Due: prettier --write

use env variables
  .github/workflows/continuous-integration.yml
Due: none

update workflow templates
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

try new action version
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

Add authorize step to both PR workflows
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

check values
  .github/workflows/continuous-integration.yml
Due: none

replace github sha variable
  .github/workflows/continuous-integration.yml
Due: none

commit garbage
  .github/workflows/continuous-integration.yml
Due: none

commit more garbage
  .github/workflows/cross-platform-test.yml
Due: none

patch experiment with checkpoints not having a name
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
Due: prettier --write, eslint --cache --fix

wrap jest advanceTimersByTime in act to suppress console warnings
  webview/src/experiments/components/App.test.tsx
  webview/src/test/experimentsTable.tsx
Due: prettier --write, eslint --cache --fix

Patch experiment with checkpoints not having a name (#2805)
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
Due: prettier --write, eslint --cache --fix

Wrap jest advanceTimersByTime in act to suppress console errors (#2806)
  webview/src/experiments/components/App.test.tsx
  webview/src/test/experimentsTable.tsx
Due: prettier --write, eslint --cache --fix

Update walkthrough images, thanks @maxagin (#2802)
  extension/resources/walkthrough/images/available-commands-command-palette.png
  extension/resources/walkthrough/images/dvc-tracked-explorer.png
  extension/resources/walkthrough/images/dvc-tracked-scm.png
  extension/resources/walkthrough/images/experiments-table-context-menus.png
  extension/resources/walkthrough/images/experiments-table-from-side-bar.png
  extension/resources/walkthrough/images/experiments-table.png
  extension/resources/walkthrough/images/install-dvc-setup-wizard.png
  extension/resources/walkthrough/images/install-dvc-status-bar-detected.png
  extension/resources/walkthrough/images/plots-data-series.png
  extension/resources/walkthrough/images/plots-experiments-view-icon.png
  extension/resources/walkthrough/images/plots-images.png
  extension/resources/walkthrough/images/plots-plots-view-icon.png
  extension/resources/walkthrough/images/plots-trends.png
  extension/resources/walkthrough/images/plots-view-icon.png
  extension/resources/walkthrough/images/run-experiments-command-palette.png
  extension/resources/walkthrough/images/run-experiments-params-buttons.png
  extension/resources/walkthrough/images/run-experiments-table-buttons.png
  extension/resources/walkthrough/images/view-container-columns.png
  extension/resources/walkthrough/images/view-container-experiments.png
  extension/resources/walkthrough/images/view-container-filter.png
  extension/resources/walkthrough/images/view-container-plots.png
  extension/resources/walkthrough/images/view-container-show.png
  extension/resources/walkthrough/images/view-container-sort.png
  extension/resources/walkthrough/images/view-container-support.png
  extension/resources/walkthrough/images/view-container-welcome.png
  extension/resources/walkthrough/plots.md
Due: prettier --write

Get plot container size correctly
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/Resizer.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

update demo project again
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/plotsWebview.ts
Due: prettier --write, eslint --cache --fix

do not drop previously collected plot paths
  extension/src/plots/paths/collect.test.ts
  extension/src/plots/paths/collect.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

do not display plots without datapoints
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

Stabilize plot paths (#2811)
  extension/src/plots/model/collect.ts
  extension/src/plots/paths/collect.test.ts
  extension/src/plots/paths/collect.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Move the sorting classes test
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
Due: prettier --write, eslint --cache --fix

Move more tests around
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
Due: prettier --write, eslint --cache --fix

Reduce number of lines
  webview/src/experiments/components/table/header/ContextMenuContent.tsx
Due: prettier --write, eslint --cache --fix

Fix tests
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
Due: prettier --write, eslint --cache --fix

update number of plots
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Update demo project to be on latest commit (#2799)
  extension/src/cli/dvc/constants.ts
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/plotsWebview.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

Match the way that undefined/numeric experiment column values are shown in the table in tooltips and quick picks
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/util.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Match the way that undefined/numeric experiment column values are shown in the table in tooltips and quick picks (#2813)
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/util.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Fix scheduled CLI output test by updating expected demo project output
  extension/src/test/cli/dataStatus.test.ts
  extension/src/test/cli/plotsDiff.test.ts
Due: prettier --write, eslint --cache --fix

Fix scheduled CLI output test by updating expected demo project output (#2818)
  extension/src/test/cli/dataStatus.test.ts
  extension/src/test/cli/plotsDiff.test.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.34.3)
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Match welcome view button titles with command palette actions
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
