Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Add resolution for json5 library (#3128)
  package.json
  yarn.lock
Due: prettier --write

Fix tests
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/util/buildColumns.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

Add commit message to plots ribbon block tooltips (#3122)
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/plots/components/ribbon/RibbonBlockTooltip.tsx
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/shared/components/icons/GitCommit.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/stories/Ribbon.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix tests
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

Run yarn install
  webview/src/experiments/util/buildDynamicColumns.test.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Run yarn format
  extension/src/commands/internal.ts
  extension/src/experiments/model/status/colors.ts
  extension/src/plots/multiSource/constants.ts
  extension/src/plots/paths/collect.ts
  extension/src/repository/model/collect.ts
  extension/src/repository/sourceControlManagement/decorationProvider.ts
  extension/src/repository/sourceControlManagement/index.ts
  extension/src/telemetry/collect.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

Fix previous commits row
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix e2e tests
  extension/src/test/e2e/pageObjects/locators.ts
Due: prettier --write, eslint --cache --fix

Fix some codeclimate isses
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/util/buildColumns.tsx
Due: prettier --write, eslint --cache --fix

Add `git-commit` icon to experiments table and quick pick (#3124)
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPick.ts
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Remove first column shadow on start
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
Due: prettier --write, eslint --cache --fix

Fix scrolling borders
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix header with one line
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix timestamp cell and header font weight
  webview/src/experiments/components/table/content/DateCellContent.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/buildColumns.tsx
Due: prettier --write, eslint --cache --fix

Fix hovered row borders
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix workspace tooltip and copy buttons
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellHintTooltip.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/ExperimentGroup.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix resizing colmns min-width
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/buildColumns.tsx
Due: prettier --write, eslint --cache --fix

Fix row alignment
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix first column borders
  webview/src/experiments/components/table/styles.module.scss
Due: none

fix newlines
  .github/workflows/create-release-pr.yml
Due: none

Fix experiment cells width
  webview/src/experiments/components/table/Cell.tsx
Due: prettier --write, eslint --cache --fix

Fix selected rows borders on hover
  webview/src/experiments/components/table/styles.module.scss
Due: none

fix newlines (#3141)
  .github/workflows/create-release-pr.yml
Due: none

fix plots tooltip being hidden in zoom in mode
  webview/src/shared/components/modal/styles.module.scss
Due: none

fix plots tooltip being hidden in zoom in mode (#3132)
  webview/src/shared/components/modal/styles.module.scss
Due: none

Fix multiple borders and widths
  webview/src/experiments/components/table/content/Cell.tsx
  webview/src/experiments/components/table/content/DateCellContent.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix resizer height
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
Due: prettier --write, eslint --cache --fix

Fix experiment header column
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix resizer height when shuffling columns
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
Due: prettier --write, eslint --cache --fix

Cleanup
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/hooks/useColumnOrder.test.ts
  webview/src/experiments/hooks/useColumnOrder.ts
  webview/src/experiments/util/buildColumns.tsx
Due: prettier --write, eslint --cache --fix

Remove unused code
  webview/src/experiments/util/columns.ts
Due: prettier --write, eslint --cache --fix

Make workspace row a little smaller
  webview/src/experiments/components/table/styles.module.scss
Due: none

Revert copy button behaviour
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix codeclimate issues
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/header/ColumnResizer.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.43.1)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Ensure dvc roots are dedupped
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/setup/index.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.43.1) (#3151)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update user facing queue terminology
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Add stop experiments queue processing immediately command
  extension/package.json
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/executor.ts
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix
