Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

dvc: commit experiment 0553df300580665ac706778b63501dee4f59a9ecf35f4ce184e5459e04938ff3
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment d821dab9b12ddc824649068a949910b538484925aac8a1d803cf5f965c71cdb8
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 02f3009a3d583bb76a8965af3660e25033cf8466636d37c3f6e022276b1a2811
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 31bfbc780506c316430d84443707c75724049fcebaf6628cd98a2d7ee7878203
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 6c5479895743a61277ef6bee5e33f26c030bb553a62fc1465b6783ed4a747acd
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment b117db68532a8043aea40eacd5fee804152b129f1a96df040498271bcaefc97c
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 8dbb08165bb054cbc9240dc5941ddd13c342626628bee3f313df354be814258e
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

add share experiment command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

make conditions more readable
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

temp update branch command to share experiment
  extension/src/experiments/commands/register.ts
  extension/src/git.ts
Due: prettier --write, eslint --cache --fix

add share experiment into experiments table
  extension/src/experiments/webview/messages.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

change dep to data/MNIST/raw
  demo/dvc.yaml
Due: none

refactor workspace internals in order to add new capability
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
Due: prettier --write, eslint --cache --fix

reinstate branch experiment into context menus
  extension/src/experiments/commands/register.ts
Due: prettier --write, eslint --cache --fix

show share experiment for experiments and checkpoints
  extension/package.json
  extension/src/experiments/commands/register.ts
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

match context menu in tree to table
  extension/package.json
Due: prettier --write

add integration test
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

add webview unit test
  extension/package.nls.json
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

remove duplicate test
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

rename to share as branch
  extension/package.nls.json
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

rename constants
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/webview/messages.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

match function signatures
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
Due: prettier --write, eslint --cache --fix

dvc: commit experiment 432d498e00f4c4e1e6d0be5aace537eef3079cf894bd578b18004120ccce4b3a
  demo/dvc.lock
  demo/params.yaml
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment a3fb8277253b2b402c519f0fc8a586da59c30e2194d643b210bd15f31cd66f2f
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 5b7158ac33025251a8f43afea81966d1045c5d5542e8180536e57384e912b9d5
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 7c36c1c81ae891c2b179c31453b9aa2b5b068c2cc52b0af8b392faa382fb977f
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 27109b5276068ff77b6102b6d4e32e4f08de73511dc6823ce9546d34a75162ae
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 77304222d25516e7f9f69505427a6f4aa44dd7913e3efed6657cdae73994ad48
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 661f6148eac85688e194ed1f0b3ff7d723f3b3c6e09ed92e7c9e328def4dd3f3
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 7bd1941ea8a550f7b463022932240df982a471f918f858b2a624d4fa32f9a0bc
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 769d85b70e8dbc814cd7418d84b1bb30bf6d54006725543c594b7431d59ff356
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 1807393b3fe456b0701a8d49cbb89233d1f5cc09409aaecc223bbf8d0be9ae76
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 7bff75237f8f02c98edbdfecb4ba4328a3e38f8c586c3e8e561ebc61b531afbe
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 7f705320bb90d5f5c3ff920dee494eaeff6a5707f9410475296eaef1db513479
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 70fa00f5422404e0f1d1cef29aa6f327b210e750e18bdbdcea431f9d49242179
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment f57b5d9dd424e035d37fdef8351bc5ecec5a7ca874c9e29db42ee58f8c005c06
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 285c4c62305930adfa9436fe742ebe0ce13174fe8c7ddba53671b67e083ffdfd
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

fix command text in tree
  extension/package.nls.json
Due: prettier --write

revert dvc.yaml
  demo/dvc.yaml
Due: none

Add a copy button for comparison table rows (#2216)
  webview/src/plots/components/comparisonTable/ComparisonTableRow.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/test/selection.ts
Due: prettier --write, eslint --cache --fix
