Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Do not use font family as theme value for plots
  webview/src/plots/components/constants.ts
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Add action menu to plots (#1629)
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/constants.ts
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/modal/styles.module.scss
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Add item hover BG and Storybook
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/shared/components/tooltip/styles.module.scss
  webview/src/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --cache --fix

Make tooltips apply padding by default only when content is a string
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/shared/components/tooltip/styles.module.scss
  webview/src/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --cache --fix

Explicitly pad cell tooltips and add white-space:nowrap
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/shared/components/tooltip/styles.module.scss
Due: prettier --write, eslint --cache --fix

Use sass variable for font
  webview/src/shared/components/tooltip/styles.module.scss
Due: none

Use VSCode font family globally
  webview/src/shared/style.scss
Due: none

Add DVCLIVE_OPEN env var (#1625)
  .vscode/settings.json
  demo/requirements.txt
  extension/src/cli/constants.ts
  extension/src/cli/executor.test.ts
  extension/src/cli/index.test.ts
  extension/src/cli/options.test.ts
  extension/src/cli/options.ts
  extension/src/cli/reader.test.ts
Due: prettier --write, eslint --cache --fix

Accommodate exp show changes (#1598)
  extension/src/cli/constants.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/data/index.ts
  extension/src/experiments/data/index.ts
  extension/src/plots/data/index.ts
  extension/src/test/cli/expShow.test.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

keep workspace plots data in sync with checkpoint whilst running experiments in the workspace
  extension/src/experiments/model/collect.ts
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
Due: prettier --write, eslint --cache --fix

rename function to match variable name
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
Due: prettier --write, eslint --cache --fix

Show gripper on hover
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/dragDrop/GripIcon.tsx
Due: prettier --write, eslint --cache --fix

Change the pin target to be the pin only
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Re-add monospace font on rowGroup
  webview/src/experiments/components/table/styles.module.scss
Due: none

Show gripper on hover (#1641)
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/dragDrop/GripIcon.tsx
Due: prettier --write, eslint --cache --fix

Change the pin target to be the pin only (#1642)
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Make buttons inherit fonts regardless of user agent
  webview/src/shared/style.scss
Due: none

Fix plots icon menu tooltip padding
  webview/src/shared/components/iconMenu/IconMenu.tsx
Due: prettier --write, eslint --cache --fix

rework how we determine if a revision is mutable
  extension/src/experiments/index.ts
  extension/src/experiments/model/accumulator.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/suite/experiments/index.test.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

revert erroneous changes
  extension/src/plots/model/collect.ts
  extension/src/test/fixtures/expShow/rows.ts
Due: prettier --write, eslint --cache --fix

add unit tests for mutable revision collection
  extension/src/experiments/model/collect.test.ts
Due: prettier --write, eslint --cache --fix

unit test collection of workspace race condition data
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
Due: prettier --write, eslint --cache --fix

deduplicate type
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

Add why did you render to investigate performance issues
  webview/package.json
  webview/src/plots/index.tsx
  webview/src/util/wdyr.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Remove wdyr from coverage
  webview/jest.config.js
Due: prettier --write, eslint --cache --fix

Keep workspace revision in sync with checkpoints when experiment is running in the workspace (#1639)
  extension/src/experiments/index.ts
  extension/src/experiments/model/accumulator.ts
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/suite/experiments/index.test.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

remove unused old dvclive files
  demo/.dvc/plots/confusion.json
  demo/.dvc/plots/confusion_normalized.json
  demo/.dvc/plots/default.json
  demo/.dvc/plots/linear.json
  demo/.dvc/plots/scatter.json
  demo/.dvc/plots/smooth.json
  demo/dvclive.json
  demo/dvclive/scalars/acc.tsv
  demo/dvclive/scalars/loss.tsv
Due: prettier --write

remove unused old dvclive files (#1647)
  demo/.dvc/plots/confusion.json
  demo/.dvc/plots/confusion_normalized.json
  demo/.dvc/plots/default.json
  demo/.dvc/plots/linear.json
  demo/.dvc/plots/scatter.json
  demo/.dvc/plots/smooth.json
  demo/dvclive.json
  demo/dvclive/scalars/acc.tsv
  demo/dvclive/scalars/loss.tsv
Due: prettier --write

Use lighter drop shadow instead of heavy box shadow
  webview/src/shared/components/tooltip/styles.module.scss
Due: none

Use quickInput colors instead of menu
  webview/src/shared/components/tooltip/styles.module.scss
Due: none

add rough implementation of patch
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/test/suite/plots/data/index.test.ts
Due: prettier --write, eslint --cache --fix

add tests for collection logic
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

refactor collection
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

fix breaking behaviour
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

rename function
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
Due: prettier --write, eslint --cache --fix

display data as not in cache when status is not in cache and diff is deleted
  extension/src/repository/model/index.test.ts
  extension/src/repository/model/index.ts
Due: prettier --write, eslint --cache --fix

Update train.py
  demo/train.py
Due: none

Add why did you render to investigate performance issues (#1644)
  webview/jest.config.js
  webview/package.json
  webview/src/plots/index.tsx
  webview/src/util/wdyr.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Change bg color for zoomed in plots
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/modal/Modal.tsx
  webview/src/shared/components/modal/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add zoomed in plot story
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix
