Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Match welcome view button titles with command palette actions (#2820)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Update demo project and latest tested CLI version (2.34.3) (#2819)
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Add missing "Hide Column" option to the other headers (#2593)
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/webview/messages.ts
  extension/src/path/selection/model.ts
  extension/src/test/suite/experiments/index.test.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/header/ContextMenuContent.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Fix resizing items from postitions other than first
  webview/src/plots/components/Resizer.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

Add resolution for fastify
  package.json
  yarn.lock
Due: prettier --write

Update demo project and latest tested CLI version (2.35.1)
  extension/src/cli/dvc/constants.ts
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Apply review comments
  .eslintrc.js
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/Resizer.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/util.ts
  webview/src/test/mouseEventsWithCoordinates.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.35.1) (#2824)
  extension/src/cli/dvc/constants.ts
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Add resolution for fastify (#2823)
  package.json
  yarn.lock
Due: prettier --write

Resizing plots horizontally (#2747)
  .eslintrc.js
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/Resizer.tsx
  webview/src/plots/components/SizePicker.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/plots/components/util.ts
  webview/src/plots/components/webviewSlice.ts
  webview/src/plots/hooks/useNbItemsPerRow.ts
  webview/src/plots/hooks/useResize.ts
  webview/src/shared/components/webviewWrapper/useThemeVariables.ts
  webview/src/shared/variables.scss
  webview/src/test/mouseEventsWithCoordinates.ts
Due: prettier --write, eslint --cache --fix

Reduce renovate noise
  renovate.json
Due: prettier --write

Reduce renovate noise (#2826)
  renovate.json
Due: prettier --write

Delay creation of plots to remove optional logic
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
  extension/src/plots/workspace.ts
  extension/src/test/suite/plots/data/index.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/workspace.ts
  extension/src/workspace/index.ts
Due: prettier --write, eslint --cache --fix

Fix the aspect ratio of multi view plots
  webview/src/plots/components/styles.module.scss
Due: none

Revert to old aspect ratio formula
  webview/src/plots/components/styles.module.scss
Due: none

Fix the number of available revisions for multi view plots
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

Revert "Fix the aspect ratio of multi view plots"
  webview/src/plots/components/styles.module.scss
Due: none

Fix aspect ratio of multi view plots (#2833)
  webview/src/plots/components/styles.module.scss
Due: none

Delay creation of plots to remove optional logic (#2832)
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
  extension/src/plots/workspace.ts
  extension/src/test/suite/plots/data/index.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/workspace.ts
  extension/src/workspace/index.ts
Due: prettier --write, eslint --cache --fix

Remove auto-merge component from renovate config
  renovate.json
Due: prettier --write

give plots a linear update path
  extension/src/cli/dvc/reader.ts
  extension/src/plots/index.ts
  extension/src/plots/model/index.ts
  extension/src/plots/paths/model.ts
  extension/src/plots/webview/messages.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

remove experiments from plots model
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/messages.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/data/index.test.ts
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

fix all lint issues
  extension/src/experiments/columns/collect/util.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/model/util.ts
  webview/src/plots/components/GetStarted.tsx
  webview/src/plots/components/templatePlots/util.ts
  webview/src/stories/Plots.stories.tsx
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

fix class members
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

use static select revisions for running experiments
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

simplify test by removing mock
  extension/src/plots/model/index.test.ts
Due: prettier --write, eslint --cache --fix

remove linter comment
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

sync webview after data has been sent
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

[fix/2840]: remove overflow auto on table container
  webview/src/experiments/components/table/styles.module.scss
Due: none

set viewport for chromatic in table stories
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

add custom decorator
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Remove auto-merge component from renovate config (#2838)
  renovate.json
Due: prettier --write

chore(deps): update dependency eslint to v8.28.0 (#2848)
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.44.0 (#2847)
  package.json
  yarn.lock
Due: prettier --write
