Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Refactor-related cleanup
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/hooks/useGetPlot.ts
  webview/src/plots/hooks/useSetupSmoothPlot.ts
  webview/src/plots/util/messages.ts
Due: prettier --write, eslint --cache --fix

Add dvc.yaml pipeline snippets
  extension/package.json
  extension/snippets/dvc-yaml.code-snippets
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Refactor naming
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/util/messages.ts
Due: prettier --write, eslint --cache --fix

Add front end tests
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/hooks/useSetupSmoothPlot.ts
Due: prettier --write, eslint --cache --fix

Add one vscode test
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

Update dvc-help snippet
  extension/snippets/dvc-yaml.code-snippets
Due: none

Typos
  extension/src/test/suite/plots/index.test.ts
  webview/src/plots/hooks/useGetPlot.ts
Due: prettier --write, eslint --cache --fix

Add dvc.yaml pipeline snippets (#4233)
  extension/package.json
  extension/snippets/dvc-yaml.code-snippets
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Add dvc.yaml top level plot snippets
  extension/snippets/dvc-yaml.code-snippets
Due: none

Add dvc.yaml top level plot snippets (#4234)
  extension/snippets/dvc-yaml.code-snippets
Due: none

Add dvc.yaml artifact snippets
  extension/snippets/dvc-yaml.code-snippets
Due: none

Add dvc.yaml artifact snippets (#4235)
  extension/snippets/dvc-yaml.code-snippets
Due: none

wire up prototype for displaying DAG
  extension/package.json
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/reader.ts
  extension/src/commands/external.ts
  extension/src/data/index.ts
  extension/src/extension.ts
  extension/src/pipeline/data.ts
  extension/src/pipeline/index.ts
  extension/src/pipeline/register.ts
  extension/src/pipeline/workspace.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

recommend to install mermaid support extension
  README.md
  extension/src/pipeline/index.ts
  extension/src/pipeline/workspace.ts
  extension/src/vscode/config.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

update package.json
  extension/package.json
Due: prettier --write

add unit test for extension recommendation
  extension/src/vscode/recommend.test.ts
Due: prettier --write, eslint --cache --fix

add integration test for showing the DAG
  extension/src/data/index.ts
  extension/src/pipeline/data.ts
  extension/src/pipeline/index.ts
  extension/src/test/suite/pipeline/workspace.test.ts
Due: prettier --write, eslint --cache --fix

stub call to dag in extension test
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Correct extension reference in snippet
  extension/snippets/dvc-yaml.code-snippets
Due: none

Reduce calls
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
Due: prettier --write, eslint --cache --fix

Correct extension reference in snippet (#4245)
  extension/snippets/dvc-yaml.code-snippets
Due: none

handle dag command throwing error
  extension/src/cli/dvc/reader.test.ts
  extension/src/cli/dvc/reader.ts
  extension/src/pipeline/workspace.ts
Due: prettier --write, eslint --cache --fix

remove internal commands from pipeline class
  extension/src/pipeline/index.ts
Due: prettier --write, eslint --cache --fix

Display DAG in Markdown Preview editor (#4244)
  README.md
  extension/package.json
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/reader.test.ts
  extension/src/cli/dvc/reader.ts
  extension/src/commands/external.ts
  extension/src/data/index.ts
  extension/src/extension.ts
  extension/src/pipeline/data.ts
  extension/src/pipeline/index.ts
  extension/src/pipeline/register.ts
  extension/src/pipeline/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/pipeline/workspace.test.ts
  extension/src/vscode/config.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.5.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.5.0) (#4251)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Frontend plus a bit of backend :|
  extension/src/plots/model/index.ts
  extension/src/plots/webview/messages.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/util/messages.ts
Due: prettier --write, eslint --cache --fix

try object containing
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

remove object containing
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

try and flush promises
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

try update event handler
  webview/src/plots/components/App.test.tsx
  webview/src/plots/hooks/useSetupSmoothPlot.ts
Due: prettier --write, eslint --cache --fix

wait for value to be updated
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

wait for message to be sent
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Bump semver from 5.7.1 to 5.7.2
  yarn.lock
Due: none

Update demo project and latest tested CLI version (3.5.1)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

use id instead of data-id
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/hooks/useSetupSmoothPlot.ts
Due: prettier --write, eslint --cache --fix

send message at same time as dispatch
  webview/src/plots/hooks/useSetupSmoothPlot.ts
Due: prettier --write, eslint --cache --fix

Fix zoomed in plot logic
  extension/src/plots/webview/messages.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplateVegaLite.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/plots/components/webviewSlice.ts
  webview/src/plots/hooks/useGetPlot.ts
  webview/src/plots/hooks/useSetupSmoothPlot.ts
Due: prettier --write, eslint --cache --fix

Cleanup
  extension/src/plots/model/index.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/templatePlots/TemplateVegaLite.tsx
  webview/src/plots/util/messages.ts
Due: prettier --write, eslint --cache --fix

Remove `dvc_data_version_info` from export plot data
  extension/src/plots/model/collect.ts
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix
