Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Remove last border
  webview/src/experiments/components/table/styles.module.scss
Due: none

Update get Studio access token link (#3303)
  extension/src/connect/index.ts
  extension/src/test/suite/connect/index.test.ts
Due: prettier --write, eslint --cache --fix

fix: DnD landing breaks on ellipsis
  webview/src/experiments/components/table/styles.module.scss
Due: none

Update link to get Studio access token (drop need for username)
  extension/src/connect/index.ts
  extension/src/test/suite/connect/index.test.ts
Due: prettier --write, eslint --cache --fix

fix: DnD landing breaks on ellipsis (#3309)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Update link to get Studio access token (drop need for username) (#3306)
  extension/src/connect/index.ts
  extension/src/test/suite/connect/index.test.ts
Due: prettier --write, eslint --cache --fix

Disable unnecessary chromatic snapshots
  webview/src/stories/CliIncompatible.stories.tsx
  webview/src/stories/CliUnavailable.stories.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/ComparisonTableHeader.stories.tsx
  webview/src/stories/Connect.stories.tsx
  webview/src/stories/ContextMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
  webview/src/stories/NeedsGitCommit.stories.tsx
  webview/src/stories/ProjectUninitialized.stories.tsx
  webview/src/stories/Ribbon.stories.tsx
  webview/src/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --cache --fix

Redirect user to add new Studio access token on 401 response
  extension/src/patch.ts
  extension/src/test/suite/patch.test.ts
  extension/src/vscode/modal.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.45.1)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Re-add show experiments and show plots to respective tree's view/title
  extension/package.json
Due: prettier --write

Revert "Make rows full width"
  webview/src/experiments/components/table/styles.module.scss
Due: none

Revert "Make the table scrollable instead of the webview"
  webview/src/experiments/components/table/styles.module.scss
Due: none

Change the add configuration button text and add more information on functionality (#3295)
  webview/src/experiments/components/AddStage.tsx
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix other test
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Update qa_issue_template.md
  .github/ISSUE_TEMPLATE/qa_issue_template.md
Due: prettier --write

Add tests
  extension/src/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

remove more snapshots
  webview/src/stories/CliIncompatible.stories.tsx
  webview/src/stories/CliUnavailable.stories.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/ComparisonTableHeader.stories.tsx
  webview/src/stories/Connect.stories.tsx
  webview/src/stories/ContextMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
  webview/src/stories/NeedsGitCommit.stories.tsx
  webview/src/stories/Plots.stories.tsx
  webview/src/stories/ProjectUninitialized.stories.tsx
  webview/src/stories/Ribbon.stories.tsx
  webview/src/stories/Tooltip.stories.tsx
  webview/src/stories/util.ts
Due: prettier --write, eslint --cache --fix

Disable unnecessary chromatic snapshots (#3310)
  webview/src/stories/CliIncompatible.stories.tsx
  webview/src/stories/CliUnavailable.stories.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/ComparisonTableHeader.stories.tsx
  webview/src/stories/Connect.stories.tsx
  webview/src/stories/ContextMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
  webview/src/stories/NeedsGitCommit.stories.tsx
  webview/src/stories/Plots.stories.tsx
  webview/src/stories/ProjectUninitialized.stories.tsx
  webview/src/stories/Ribbon.stories.tsx
  webview/src/stories/Tooltip.stories.tsx
  webview/src/stories/util.ts
Due: prettier --write, eslint --cache --fix

Redirect user to add new Studio access token on 401 response (#3311)
  extension/src/patch.ts
  extension/src/test/suite/patch.test.ts
  extension/src/vscode/modal.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.45.1) (#3312)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Re-add show experiments and show plots to respective tree's view/title (#3314)
  extension/package.json
Due: prettier --write

remove auto apply filters to experiment selection for plots feature
  README.md
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/filterBy/tree.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/toast.test.ts
  extension/src/experiments/toast.ts
  extension/src/experiments/webview/messages.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/vscode/config.ts
  extension/src/vscode/context.ts
Due: prettier --write, eslint --cache --fix

remove missed method
  extension/src/experiments/model/index.ts
Due: prettier --write, eslint --cache --fix

Remove auto apply filters to experiment selection for plots (#3315)
  README.md
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/filterBy/tree.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/toast.test.ts
  extension/src/experiments/toast.ts
  extension/src/experiments/webview/messages.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/vscode/config.ts
  extension/src/vscode/context.ts
Due: prettier --write, eslint --cache --fix

Add metrics.json to plots list of watched files
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

Add metrics.json to plots list of watched files (#3319)
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

test change
  extension/src/test/suite/plots/data/index.test.ts
Due: prettier --write, eslint --cache --fix

collect and watch metrics files for plots updates
  extension/src/plots/data/collect.ts
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

unit test collect function
  extension/src/plots/data/collect.test.ts
  extension/src/plots/data/collect.ts
Due: prettier --write, eslint --cache --fix

remove original patch
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

self review
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

Direct user to setup when they cannot run an experiment
  extension/package.json
  extension/src/experiments/commands/register.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Apply review comments
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Revert "Apply review comments"
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Check stages for all run/queue commands (#3304)
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Optimize rendering time of plots by making sure snap points do not trigger re-rendering
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/hooks/useResize.ts
  webview/src/plots/hooks/useSnapPoints.ts
Due: prettier --write, eslint --cache --fix

Use a type for snappoints
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/hooks/useSnapPoints.ts
Due: prettier --write, eslint --cache --fix

Watch metric files to update plots (#3321)
  extension/src/plots/data/collect.test.ts
  extension/src/plots/data/collect.ts
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
  extension/src/test/suite/plots/data/index.test.ts
Due: prettier --write, eslint --cache --fix

Optimize rendering of plots
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGridItem.tsx
  webview/src/util/wdyr.ts
Due: prettier --write, eslint --cache --fix
