Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Tweak styles and add postMessage tests
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Use SCSS variables
  webview/src/experiments/components/table/styles.module.scss
Due: none

Use consistent icons
  webview/src/experiments/components/table/Indicators.tsx
Due: prettier --write, eslint --cache --fix

Fix svg fill issues with alternate icon usage
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Restyled by whitespace
  extension/resources/walkthrough/dvc-tracked-files.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

readme: move animation after value prop paragraph
  README.md
Due: prettier --write

Apply suggestions from code review
  README.md
Due: prettier --write

Restyled by whitespace
  CONTRIBUTING.md
  README.md
Due: prettier --write

Restyled by prettier-markdown
  CONTRIBUTING.md
  README.md
Due: prettier --write

contrib: valid md new line >:(
  CONTRIBUTING.md
Due: prettier --write

swap banner to png
  README.md
  extension/resources/banner.png
Due: prettier --write

replace outdated walkthrough screenshot
  extension/docs/walkthroughs.png
Due: none

update style of inline dvc png so it does not look bonkers
  README.md
Due: prettier --write

(fixup) use absolute links for the marketplace and in product
  README.md
Due: prettier --write

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

readme: fix VS Code badges
  README.md
Due: prettier --write

Restyled by whitespace
  README.md
Due: prettier --write

readme: fix VS Code badges (#1894)
  README.md
Due: prettier --write

Add telemetry and integration tests
  extension/src/experiments/index.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Add basic tooltips
  webview/src/experiments/components/table/Indicators.tsx
Due: prettier --write, eslint --cache --fix

Disable Restyled.io bot
  .github/restyled.yml
Due: none

Remove unused SVGs
  extension/resources/alt-banner.svg
  extension/resources/banner.svg
Due: none

Add filtered counts to tooltips
  extension/src/experiments/index.ts
  extension/src/experiments/model/filterBy/collect.ts
  extension/src/experiments/webview/contract.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/tableData.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

add has git changes to repository model
  extension/src/git.ts
  extension/src/repository/data/index.ts
  extension/src/repository/model/index.test.ts
  extension/src/repository/model/index.ts
Due: prettier --write, eslint --cache --fix

Add tooltip tests
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Indicators.tsx
Due: prettier --write, eslint --cache --fix

rename command to discard workspace changes
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/repository/commands/register.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/repository/index.test.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
  extension/src/test/suite/repository/util.ts
Due: prettier --write, eslint --cache --fix

Use "No" instead of 0 in filter tooltips
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Indicators.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
