Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Remove unused react-table types
  webview/src/experiments/components/Experiments/index.tsx
  webview/src/experiments/components/Table/index.tsx
  webview/src/experiments/react-table-config.d.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Remove comments
  webview/src/experiments/react-table-config.d.ts
Due: prettier --write, eslint --cache --fix

Remove unused style and unused template args on Cell
  webview/src/experiments/components/Table/styles.module.scss
  webview/src/experiments/react-table-config.d.ts
Due: prettier --write, eslint --cache --fix

Disable restricted mode in tests
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

Add package manifest indication that workspace must be trusted
  extension/package.json
Due: prettier --write

Disable restricted mode in tests (#1156)
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

Realign copy button (#1155)
  webview/src/experiments/components/Table/styles.module.scss
Due: none

Improve live plots content (#1154)
  extension/src/experiments/paramsAndMetrics/paths.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/expShow/livePlots.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

Use ID for vscode git extension
  extension/package.json
Due: prettier --write

Explicitly don't support untrusted workspaces (#1157)
  extension/package.json
Due: prettier --write

Update react-table TypeScript types and use them in buildDynamicColumns (#1153)
  webview/src/experiments/components/Experiments/index.tsx
  webview/src/experiments/components/Table/index.tsx
  webview/src/experiments/components/Table/styles.module.scss
  webview/src/experiments/react-table-config.d.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

remove vertical line and limit tooltip to single point
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

match mark syntax from the rest of the spec
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

Drop to single data point on live plot tooltip (#1158)
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

add queue experiment from existing
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/queue/collect.test.ts
  extension/src/experiments/model/queue/collect.ts
  extension/src/experiments/model/queue/index.ts
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
  extension/src/experiments/quickPick.ts
  extension/src/experiments/workspace.ts
Due: prettier --write, eslint --cache --fix

wire up command with integration test
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

fix collect test
  extension/src/experiments/model/queue/collect.test.ts
Due: prettier --write, eslint --cache --fix

add in unchanged params
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
Due: prettier --write, eslint --cache --fix

use ruamel in demo project
  demo/requirements.txt
  demo/train.py
Due: none

refactor and add a further test
  extension/src/experiments/index.ts
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
Due: prettier --write, eslint --cache --fix

Add resize to static plots
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/logs_dvc_plots/index.html
  demo/predictions.json
  extension/src/plots/index.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/plotsShow/index.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/util/paths.ts
Due: prettier --write, eslint --cache --fix

use ruamel in demo project (#1160)
  demo/requirements.txt
  demo/train.py
Due: none

Revert demo files
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/predictions.json
Due: prettier --write

Remove demo generated file
  demo/logs_dvc_plots/index.html
Due: none

Remove unsused util
  webview/src/util/paths.ts
Due: prettier --write, eslint --cache --fix

Queue experiment from existing (#1159)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/queue/collect.test.ts
  extension/src/experiments/model/queue/collect.ts
  extension/src/experiments/model/queue/index.ts
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
  extension/src/experiments/quickPick.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

use title instead of prompt in our input box wrapper
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.ts
  extension/src/fileSystem/tree.ts
  extension/src/vscode/inputBox.test.ts
  extension/src/vscode/inputBox.ts
Due: prettier --write, eslint --cache --fix

always run the integration tests
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

remove experiment list current command
  extension/src/cli/args.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

unstub plots show command
  demo/requirements.txt
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
Due: prettier --write, eslint --cache --fix

remove experiment list current command (#1163)
  extension/src/cli/args.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Switch text in inputBox from prompt to title (#1162)
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.ts
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/vscode/inputBox.test.ts
  extension/src/vscode/inputBox.ts
Due: prettier --write, eslint --cache --fix

Resize static plots (#1161)
  extension/src/plots/index.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/plotsShow/index.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Fix experiment table spinner background on alt rows and add Storybook example
  extension/src/test/fixtures/expShow/rows.ts
  webview/src/experiments/components/Table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Show metrics before params in table webview
  webview/src/experiments/components/Experiments/index.tsx
Due: prettier --write, eslint --cache --fix

Move metrics before params in tree
  extension/src/experiments/paramsAndMetrics/collect.test.ts
  extension/src/experiments/paramsAndMetrics/collect.ts
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/fixtures/expShow/columns.ts
Due: prettier --write, eslint --cache --fix

Remove fixture changes
  extension/src/test/fixtures/expShow/rows.ts
Due: prettier --write, eslint --cache --fix

Re-add storybook spinner in story runtime
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

collapse static plots section to silence error
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

unstub plots show command (#1164)
  demo/requirements.txt
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
Due: prettier --write, eslint --cache --fix
