Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

reorder imports
  webview/src/model/Model.ts
Due: prettier --write, eslint --cache --fix

fix mobx observable decorators (#87)
  extension/src/Config.ts
  webview/src/model/Model.ts
Due: prettier --write, eslint --cache --fix

Remove demo dir and gitmodules
  .gitmodules
  .husky/.gitignore
Due: none

find and replace dvc-integration
  extension/package.json
  extension/src/DvcWebviewManager.ts
  extension/src/extension.ts
  package.json
  webview/package.json
  webview/src/components/Experiments.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/model/Model.ts
  webview/src/util/parse-experiments.ts
Due: prettier --write, eslint --cache --fix

Add scripts
  activate-demo-venv.sh
  demo/.dvc/.gitignore
  demo/.dvc/config
  demo/.dvc/plots/confusion.json
  demo/.dvc/plots/default.json
  demo/.dvc/plots/scatter.json
  demo/.dvc/plots/smooth.json
  demo/.dvcignore
  demo/.github/workflows/cicd.yaml
  demo/.gitignore
  demo/dvc.lock
  demo/dvc.yaml
  demo/logs.csv
  demo/mymodel.py
  demo/params.yaml
  demo/requirements.txt
  demo/summary.json
  demo/train.py
  demo/users.csv.dvc
  virtualenv-install.sh
Due: prettier --write

Change ci:setup:venv to be an invocation of the venv setup script
  package.json
Due: prettier --write

Add vscode settings
  demo/.vscode/settings.json
Due: prettier --write

Change test vscode invocations to be new demo dir
  extension/src/test/runTest.ts
  package.json
Due: prettier --write, eslint --cache --fix

Change requirements to be pip dvc
  demo/requirements.txt
Due: none

Remove dvc master installation from package.json
  demo/.vscode/settings.json
  extension/src/vscode.proposed.d.ts
  package.json
  virtualenv-install.sh
Due: prettier --write, eslint --cache --fix

Remove tensorflow from demo requirements
  demo/requirements.txt
Due: none

New demo repo (#89)
  .gitmodules
  .husky/.gitignore
  activate-demo-venv.sh
  demo/.dvc/.gitignore
  demo/.dvc/config
  demo/.dvc/plots/confusion.json
  demo/.dvc/plots/default.json
  demo/.dvc/plots/scatter.json
  demo/.dvc/plots/smooth.json
  demo/.dvcignore
  demo/.github/workflows/cicd.yaml
  demo/.gitignore
  demo/.vscode/settings.json
  demo/dvc.lock
  demo/dvc.yaml
  demo/logs.csv
  demo/mymodel.py
  demo/params.yaml
  demo/requirements.txt
  demo/summary.json
  demo/train.py
  demo/users.csv.dvc
  extension/src/test/runTest.ts
  extension/src/vscode.proposed.d.ts
  package.json
  virtualenv-install.sh
Due: prettier --write, eslint --cache --fix

Switch demo requirements to dvc git and add setuptools to install script
  demo/requirements.txt
  virtualenv-install.sh
Due: none

remove TF version
  demo/requirements.txt
Due: none

wait for an extra half second before disposing
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

wait for an extra half second before disposing (#92)
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

increase delay after setting activate env
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

increase timeout of first test
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

Reinitialize dvc
  demo/.dvc/.gitignore
  demo/.dvc/config
  demo/.dvc/plots/confusion_normalized.json
  demo/.dvc/plots/default.json
  demo/.dvc/plots/linear.json
Due: prettier --write

Last attempt at fixing flaky test (#93)
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

Revert "Reinitialize dvc"
  demo/.dvc/.gitignore
  demo/.dvc/config
  demo/.dvc/plots/confusion.json
  demo/.dvc/plots/confusion_normalized.json
  demo/.dvc/plots/default.json
  demo/.dvc/plots/linear.json
  demo/.dvc/plots/scatter.json
Due: prettier --write

Add DVC master from git to tests (#91)
  demo/requirements.txt
  virtualenv-install.sh
Due: none

update launch config with all options
  .vscode/launch.json
Due: prettier --write

update contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

move run all extensions to bottom
  .vscode/launch.json
Due: prettier --write

move run disable extensions to correction option
  .vscode/launch.json
Due: prettier --write

remove all unnecessary options
  .vscode/launch.json
Due: prettier --write

move to single end to end test
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

hide python start page
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

remove python extension dependent test
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

run extension in isolation for tests
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

put half a second between commands
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

bring timeout of first test back to 12s
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

Remove python extension test (#96)
  extension/src/test/runTest.ts
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

replace webview contract string unions with enums
  extension/src/Config.ts
  extension/src/DvcWebviewManager.ts
  extension/src/webviewContract.ts
  webview/src/components/Experiments.tsx
  webview/src/model/Model.ts
Due: prettier --write, eslint --cache --fix

Add mock-based tests for getExperiments and inferDefaultOptions
  __mocks__/fs.ts
  extension/jest.config.js
  extension/src/DvcReader.test.ts
  extension/src/__mocks__/DvcReader.ts
  extension/src/__snapshots__/DvcReader.test.ts.snap
  extension/tsconfig.json
Due: prettier --write, eslint --cache --fix

Revert "Add mock-based tests for getExperiments and inferDefaultOptions"
  __mocks__/fs.ts
  extension/jest.config.js
  extension/src/DvcReader.test.ts
  extension/src/__mocks__/DvcReader.ts
  extension/src/__snapshots__/DvcReader.test.ts.snap
  extension/tsconfig.json
Due: prettier --write, eslint --cache --fix

Re-add mock-based tests for getExperiments and inferDefaultOptions
  __mocks__/fs.ts
  extension/jest.config.js
  extension/src/DvcReader.test.ts
  extension/src/__mocks__/DvcReader.ts
  extension/src/__snapshots__/DvcReader.test.ts.snap
  extension/tsconfig.json
Due: prettier --write, eslint --cache --fix

Remove old janky parentheses notation in dvcreader test
  extension/src/DvcReader.test.ts
Due: prettier --write, eslint --cache --fix
