Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

add act to drag enter helper
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

add unit tests for new state
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

alter empty test to look for 2 records
  extension/src/test/cli/expShow.test.ts
Due: prettier --write, eslint --cache --fix

Add daily CLI output test suite (#1525)
  .eslintrc.js
  .vscode/settings.json
  extension/.gitignore
  extension/package.json
  extension/src/cli/reader.ts
  extension/src/env.ts
  extension/src/processExecution.ts
  extension/src/python/index.test.ts
  extension/src/python/index.ts
  extension/src/test/cli/constants.ts
  extension/src/test/cli/expShow.test.ts
  extension/src/test/cli/index.ts
  extension/src/test/cli/util.ts
  extension/src/test/suite/index.ts
  extension/src/test/util/mocha/index.ts
  package.json
  scripts/virtualenv-install.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

add scheduled workflow to test cli output
  .github/workflows/dvc-cli-output-test.yml
  package.json
Due: prettier --write

add act to drag enter helper (#1530)
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

exclude exec directory from watcher
  extension/src/experiments/data/constants.ts
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

Update requirements.txt
  demo/requirements.txt
Due: none

Update requirements.txt (#1534)
  demo/requirements.txt
Due: none

Show drag and drop placeholder according to cursor position
  webview/src/plots/components/App.test.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/util.ts
Due: prettier --write, eslint --cache --fix

exclude exec directory from watcher (#1533)
  extension/src/experiments/data/constants.ts
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

add scheduled workflow to test cli output (#1532)
  .github/workflows/dvc-cli-output-test.yml
  package.json
Due: prettier --write

Improve empty states in experiments webview (#1529)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/emptyState/EmptyState.tsx
  webview/src/shared/components/emptyState/styles.module.scss
  webview/src/shared/style.scss
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

bump patch version for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

bump patch version for release (#1535)
  CHANGELOG.md
  extension/package.json
Due: prettier --write

bring back live for now
  demo/requirements.txt
Due: none

add plots diff CLI tests
  .vscode/settings.json
  extension/src/test/cli/index.ts
  extension/src/test/cli/plotsDiff.test.ts
Due: prettier --write, eslint --cache --fix

be explicit in exp show test
  extension/src/test/cli/expShow.test.ts
Due: prettier --write, eslint --cache --fix

add commented out workflow badge
  README.md
Due: prettier --write

pin 0.7.2 for now
  demo/requirements.txt
Due: none

pin 0.6.0
  demo/requirements.txt
Due: none

pin dvc to 2.10.1
  demo/requirements.txt
Due: none

Move component according to where it was dropped
  webview/src/plots/components/App.test.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/util.ts
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

Self review
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/util.ts
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

Fix position going left for the first time
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Fix comparison table
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

be explicit in exp show test (#1541)
  extension/src/test/cli/expShow.test.ts
Due: prettier --write, eslint --cache --fix

Bring back dvclive requirement (#1538)
  demo/requirements.txt
Due: none

add plots diff CLI tests (#1540)
  .vscode/settings.json
  extension/src/test/cli/index.ts
  extension/src/test/cli/plotsDiff.test.ts
Due: prettier --write, eslint --cache --fix

Remove extension/src/test/fixtures/plotsDiff/vega.ts from prettier scripts
  package.json
Due: prettier --write

add commented out workflow badge (#1539)
  README.md
Due: prettier --write

Drag and drop placeholder position (#1543)
  webview/src/plots/components/App.test.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/util.ts
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

kill scheduled cli tests on fail
  extension/src/test/cli/index.ts
Due: prettier --write, eslint --cache --fix

improve first install experience if CLI is incompatible
  extension/package.json
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

add DVC to welcome view
  extension/package.json
Due: prettier --write

remove check compatible step from walkthrough
  extension/package.json
Due: prettier --write

add integration tests
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

rearrange constants
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

add cli compatibility check to command palette
  extension/package.json
  extension/package.nls.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
