Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Add webpack dummy build as a lint step
  webview/package.json
Due: prettier --write

Replace lint:tsc with lint:compile
  languageServer/package.json
  webview/package.json
Due: prettier --write

Remove duplicated code
  webview/src/experiments/components/table/header/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

Disable left-click trigger for header context menu
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
Due: prettier --write, eslint --cache --fix

Fix styles imports for header module
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Create dedicated header module
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Check if element clicked is link to skip the toggle of the section
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

added unplot and changed plot/plot to show. Partially fixes #2539
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/RowContextMenu.tsx
Due: prettier --write, eslint --cache --fix

ammended App.test
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Add webpack dummy build as a lint step (#2626)
  languageServer/package.json
  webview/package.json
Due: prettier --write

Experiments Table Headers - Remove context menu's click trigger (#2625)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Check if element clicked is link to skip the toggle of the section (#2632)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

Fix integration test suite after hook (#2628)
  extension/src/experiments/columns/collect/util.ts
  extension/src/experiments/index.ts
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/vscode/config.ts
Due: prettier --write, eslint --cache --fix

Add resizers to plots grid
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

Only patch workspace only calls to plots diff (#2629)
  extension/src/plots/data/index.ts
  extension/src/plots/model/index.ts
  extension/src/test/suite/plots/data/index.test.ts
Due: prettier --write, eslint --cache --fix

Make the plot sizes use numbers underneath (#2563)
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/SizePicker.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/plots/components/util.ts
  webview/src/plots/hooks/useNbItemsPerRow.ts
  webview/src/shared/components/virtualizedGrid/VirtualizedGrid.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
  webview/src/stories/util.ts
  webview/src/util/strings.ts
Due: prettier --write, eslint --cache --fix

Demo project as a submodule (#2624)
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .gitmodules
  demo/.dvc/.gitignore
  demo/.dvc/config
  demo/.dvcignore
  demo/.gitignore
  demo/.vscode/extensions.json
  demo/data/MNIST/.gitignore
  demo/data/MNIST/raw.dvc
  demo/dvc.lock
  demo/dvc.yaml
  demo/params.yaml
  demo/requirements.txt
  demo/train.py
  demo/training_metrics.json
  extension/package.json
  extension/resources/walkthrough/setup-project.md
  extension/src/cli/git/constants.ts
  extension/src/cli/git/executor.test.ts
  extension/src/cli/git/index.ts
  extension/src/experiments/data/constants.ts
  extension/src/experiments/data/index.ts
  extension/src/fileSystem/index.ts
  extension/src/repository/data/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/fileSystem/index.test.ts
  extension/src/test/suite/repository/data/index.test.ts
  package.json
Due: prettier --write, eslint --cache --fix

Split standardize path into two functions
  extension/src/cli/git/executor.test.ts
  extension/src/cli/git/index.ts
  extension/src/experiments/columns/collect/index.ts
  extension/src/experiments/context.ts
  extension/src/fileSystem/index.ts
  extension/src/fileSystem/path.ts
  extension/src/repository/sourceControlManagement/decorationProvider.test.ts
  extension/src/test/suite/fileSystem/index.test.ts
Due: prettier --write, eslint --cache --fix

Split standardize path into two functions (#2627)
  extension/src/cli/git/executor.test.ts
  extension/src/cli/git/index.ts
  extension/src/experiments/columns/collect/index.ts
  extension/src/experiments/context.ts
  extension/src/fileSystem/index.ts
  extension/src/fileSystem/path.ts
  extension/src/repository/sourceControlManagement/decorationProvider.test.ts
  extension/src/test/suite/fileSystem/index.test.ts
Due: prettier --write, eslint --cache --fix

move test-build into lint:build
  extension/package.json
  languageServer/package.json
  turbo.json
  webview/package.json
Due: prettier --write

use turbo to cache lint steps
  extension/package.json
  extension/scripts/coverIntegrationTests.js
  languageServer/package.json
  turbo.json
  webview/package.json
Due: prettier --write, eslint --cache --fix

reset all files to main (except insiders)
  .github/workflows/continuous-integration.yml
  extension/package.json
  extension/scripts/coverIntegrationTests.js
  extension/src/test/suite/index.ts
  package.json
Due: prettier --write, eslint --cache --fix

Image updated
  extension/resources/walkthrough/images/click-the-circle-beside-experiment-name.png
Due: none

File name update
  extension/resources/walkthrough/plots.md
Due: prettier --write

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Add revisions to scheduled plots diff demo repo test (required for submodule to behave like a git repo)
  extension/src/test/cli/plotsDiff.test.ts
Due: prettier --write, eslint --cache --fix

Add authorize step to both PR workflows
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

Do not toggle section on tooltip
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

Do not run build twice in CI (#2634)
  extension/package.json
  extension/scripts/coverIntegrationTests.js
  languageServer/package.json
  turbo.json
  webview/package.json
Due: prettier --write, eslint --cache --fix

Add revisions to scheduled plots diff demo repo test (required for submodule to behave like a git repo) (#2639)
  extension/src/test/cli/plotsDiff.test.ts
Due: prettier --write, eslint --cache --fix

update workflow templates
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

add survivial test fixture (https://dagshub.com/kingabzpro/kaggle-titanic-dvc)
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/model/index.test.ts
  extension/src/test/fixtures/expShow/survival/columns.ts
  extension/src/test/fixtures/expShow/survival/output.ts
  extension/src/test/fixtures/expShow/survival/rows.ts
  extension/src/test/fixtures/expShow/survival/tableData.ts
Due: prettier --write, eslint --cache --fix

add survival story
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Add survival exp show test fixture (#2638)
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/model/index.test.ts
  extension/src/test/fixtures/expShow/survival/columns.ts
  extension/src/test/fixtures/expShow/survival/output.ts
  extension/src/test/fixtures/expShow/survival/rows.ts
  extension/src/test/fixtures/expShow/survival/tableData.ts
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Add body failsafe
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Update packages to fix d3-color vulnerability
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

Reset cursor for tooltip toggle inside summary
  webview/src/plots/components/styles.module.scss
Due: none

Do not toggle plot section on tooltip click (#2642)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
