Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Move workspace changes indicator from bullet onto text
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Move workspace changes indicator from bullet onto text (#2890)
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Improve stability of e2e tests for new VS Code release
  extension/src/test/e2e/pageObjects/baseWebview.ts
Due: prettier --write, eslint --cache --fix

Improve stability of e2e tests for new VS Code release (#2897)
  extension/src/test/e2e/pageObjects/baseWebview.ts
Due: prettier --write, eslint --cache --fix

try discarding all workspace changes
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

Move from vsce to @vscode/vsce (#2895)
  extension/package.json
  yarn.lock
Due: prettier --write

try and remove cached files
  .github/workflows/continuous-integration.yml
Due: none

reinstantiate the rest of the pipeline
  .github/workflows/continuous-integration.yml
Due: none

Fix timer problems for jest tests
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/setupUtil.ts
Due: prettier --write, eslint --cache --fix

Fix all tests
  extension/src/extension.ts
  extension/src/test/suite/getStarted/index.test.ts
  extension/src/test/suite/getStarted/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

split e2e tests out into new action (unit and integration tests messing with submodule)
  .github/workflows/end-to-end-test.yml
Due: none

Add tests for webview
  webview/src/getStarted/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Update demo project (#2899)
  .github/workflows/end-to-end-test.yml
Due: none

Split turbo cache between workflows
  .github/workflows/cross-platform-test.yml
  .github/workflows/end-to-end-test.yml
Due: none

Update scheduled cli test
  extension/src/test/cli/dataStatus.test.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.37.0)
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.37.0) (#2908)
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Add get started test
  extension/src/test/suite/getStarted/index.test.ts
  extension/src/test/suite/getStarted/util.ts
Due: prettier --write, eslint --cache --fix

Make welcome view size grow
  extension/package.json
Due: prettier --write

Split turbo cache between workflows (#2905)
  .github/workflows/cross-platform-test.yml
  .github/workflows/end-to-end-test.yml
Due: none

Update scheduled cli test (#2906)
  extension/src/test/cli/dataStatus.test.ts
Due: prettier --write, eslint --cache --fix

only show plots which are available for selected revisions
  extension/src/experiments/columns/model.ts
  extension/src/path/selection/model.ts
  extension/src/path/selection/quickPick.test.ts
  extension/src/plots/index.ts
  extension/src/plots/paths/collect.test.ts
  extension/src/plots/paths/collect.ts
  extension/src/plots/paths/model.test.ts
  extension/src/plots/paths/model.ts
  extension/src/test/fixtures/plotsDiff/index.ts
Due: prettier --write, eslint --cache --fix

better use base class
  extension/src/experiments/columns/model.ts
  extension/src/path/selection/model.ts
  extension/src/plots/index.ts
  extension/src/plots/paths/collect.ts
  extension/src/plots/paths/model.test.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

split get terminal nodes code
  extension/src/experiments/columns/model.ts
  extension/src/path/selection/model.ts
  extension/src/plots/paths/model.test.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

use cli id to label mapping in path collection
  extension/src/plots/index.ts
  extension/src/plots/model/index.ts
  extension/src/plots/paths/collect.test.ts
  extension/src/plots/paths/collect.ts
  extension/src/plots/paths/model.test.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

filter missing plots from orders (will move to end)
  extension/src/path/selection/model.ts
  extension/src/plots/paths/model.test.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

Replace currently open folder to current workspace
  extension/package.json
  webview/src/getStarted/components/ProjectUninitialized.tsx
Due: prettier --write, eslint --cache --fix

Dynamic Get Started webview (#2894)
  extension/package.json
  extension/src/cli/dvc/discovery.ts
  extension/src/extension.ts
  extension/src/getStarted/index.ts
  extension/src/getStarted/webview/contract.ts
  extension/src/getStarted/webview/messages.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/setupUtil.ts
  extension/src/test/suite/getStarted/index.test.ts
  extension/src/test/suite/getStarted/util.ts
  extension/src/test/suite/util.ts
  extension/src/webview/contract.ts
  webview/src/getStarted/components/App.test.tsx
  webview/src/getStarted/components/App.tsx
  webview/src/getStarted/components/CliUnavailable.tsx
  webview/src/getStarted/components/ProjectUninitialized.tsx
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

create signal file prototype
  extension/src/cli/dvc/constants.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.ts
Due: prettier --write, eslint --cache --fix

rework use of signal file based on current implementation
  extension/package.json
  extension/src/cli/dvc/constants.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/processExecution.test.ts
  extension/src/processExecution.ts
  extension/src/test/suite/fileSystem/index.test.ts
  extension/src/util/number.test.ts
  extension/src/util/number.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

do not unnecessarily read file system in integration tests
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/fileSystem/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

split get selected out from base class
  extension/src/experiments/columns/model.ts
  extension/src/path/selection/model.ts
  extension/src/plots/index.ts
  extension/src/plots/paths/model.ts
  extension/src/plots/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
