Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Refactor
  extension/src/experiments/data/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
Due: prettier --write, eslint --cache --fix

Try adding tests
  extension/src/test/suite/experiments/commands/register.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/plots/commands/register.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
Due: prettier --write, eslint --cache --fix

Fix typo
  extension/src/test/suite/experiments/data/index.test.ts
Due: prettier --write, eslint --cache --fix

Get tests to work
  extension/src/experiments/commands/register.ts
  extension/src/plots/commands/register.ts
  extension/src/test/suite/experiments/commands/register.test.ts
  extension/src/test/suite/plots/commands/register.test.ts
Due: prettier --write, eslint --cache --fix

Use registered commands
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Add regression test for `.git` file watcher (#3259)
  extension/src/test/suite/experiments/data/index.test.ts
Due: prettier --write, eslint --cache --fix

Update latest tests constant
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

wire up new actions
  README.md
  extension/package.json
  extension/package.nls.json
  extension/src/connect/index.ts
  extension/src/vscode/config.ts
  extension/src/vscode/title.ts
  extension/src/webview/contract.ts
  webview/src/connect/components/Studio.tsx
Due: prettier --write, eslint --cache --fix

validate studio token input
  .vscode/settings.json
  extension/src/connect/index.ts
  extension/src/connect/input.test.ts
  extension/src/connect/input.ts
  extension/src/connect/webview/contract.ts
  extension/src/vscode/external.ts
  extension/src/webview/contract.ts
  webview/src/connect/components/Studio.tsx
Due: prettier --write, eslint --cache --fix

switch to settings page if studio access token is saved
  extension/src/connect/index.ts
Due: prettier --write, eslint --cache --fix

validate dvc.studioAccessToken via package json properties
  extension/package.json
Due: prettier --write

add context value which hides view from tree when token is added
  extension/package.json
  extension/src/connect/index.ts
  extension/src/connect/input.ts
  extension/src/vscode/context.ts
Due: prettier --write, eslint --cache --fix

hide show webview command when studio is connected
  extension/package.json
Due: prettier --write

switch from setting to using secrets store
  README.md
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/connect/index.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/vscode/config.ts
  extension/src/vscode/inputBox.ts
  webview/src/connect/components/App.tsx
  webview/src/shared/hooks/useVsCodeMessaging.ts
Due: prettier --write, eslint --cache --fix

revert changes in config key
  extension/src/vscode/config.ts
Due: prettier --write, eslint --cache --fix

fix enum
  extension/src/webview/contract.ts
Due: prettier --write, eslint --cache --fix

fix story
  webview/src/stories/Connect.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix checkboxes unchecking on outside table click
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix broken shadow
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix right clicks
  webview/src/experiments/components/table/styles.module.scss
Due: none

Make testing easier
  extension/src/commands/util.ts
  extension/src/experiments/commands/register.ts
  extension/src/plots/commands/register.ts
  extension/src/test/suite/experiments/commands/register.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/plots/commands/register.test.ts
Due: prettier --write, eslint --cache --fix

Show the setup instead of original webview if needed (command palette) (#3256)
  extension/package.json
  extension/src/commands/util.ts
  extension/src/experiments/commands/register.ts
  extension/src/extension.ts
  extension/src/plots/commands/register.ts
  extension/src/setup/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
Due: prettier --write, eslint --cache --fix

Remove useClickOutside
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/hooks/useClickOutside.ts
Due: prettier --write, eslint --cache --fix

Fix checkboxes unchecking when user clicks outside the table (#3271)
  webview/src/experiments/components/table/Table.tsx
  webview/src/shared/hooks/useClickOutside.ts
Due: prettier --write, eslint --cache --fix

Replace Show Experiments and Plots buttonwith a Run Experiment button and added icons to sidebar buttons
  extension/package.json
Due: prettier --write

Replace Show Experiments and Plots buttonwith a Run Experiment button and added icons to sidebar buttons (#3272)
  extension/package.json
Due: prettier --write

Update latest tests constant (#3268)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Rename views tree to actions
  extension/package.json
Due: prettier --write

Rename views tree to actions (#3275)
  extension/package.json
Due: prettier --write

restructure connect class
  extension/src/connect/index.ts
  extension/src/connect/inputBox.test.ts
  extension/src/connect/inputBox.ts
  extension/src/connect/register.ts
  extension/src/connect/token.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

add connect app tests
  webview/src/connect/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

add integration tests for Connect
  extension/src/connect/index.ts
  extension/src/connect/token.ts
  extension/src/test/suite/connect/index.test.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

disallow direct access to secrets
  extension/src/connect/index.ts
Due: prettier --write, eslint --cache --fix

create add studio access token command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/connect/index.ts
  extension/src/connect/register.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/connect/index.test.ts
Due: prettier --write, eslint --cache --fix

Correctly debounce resize of table columns
  webview/package.json
  webview/src/experiments/components/Experiments.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add add configuration button in table
  extension/src/experiments/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/webview/messages.ts
  extension/src/experiments/workspace.ts
  extension/src/test/fixtures/expShow/base/tableData.ts
  extension/src/test/fixtures/expShow/dataTypes/tableData.ts
  extension/src/test/fixtures/expShow/deeplyNested/tableData.ts
  extension/src/test/fixtures/expShow/survival/tableData.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/components/table/tableDataSlice.ts
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

Fix lint errors
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/plots/util.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.45.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Correctly debounce resize of table columns (#3280)
  webview/package.json
  webview/src/experiments/components/Experiments.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (2.45.0) (#3282)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
