Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

split cover from test
  extension/jest.config.js
  extension/package.json
  package.json
  webview/jest.config.js
  webview/package.json
Due: prettier --write, eslint --cache --fix

run synchronously
  extension/package.json
Due: prettier --write

explicitly run unit then integration
  extension/package.json
Due: prettier --write

for fun try running with working directory
  .github/workflows/build.yml
Due: none

that did not work either
  .github/workflows/build.yml
Due: none

remove @istanbuljs/nyc-config-typescript
  extension/nyc.config.js
  extension/package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

use cli correctly
  extension/package.json
Due: prettier --write

preinstrument code
  extension/package.json
Due: prettier --write

add --instrument false flag
  extension/package.json
Due: prettier --write

remove trying to run inline
  extension/package.json
Due: prettier --write

remove more nonsense
  extension/package.json
Due: prettier --write

add no clea
  extension/package.json
Due: prettier --write

remove pre-instrumentation
  extension/package.json
Due: prettier --write

mangle everything then exclude tests
  extension/package.json
Due: prettier --write

add inline logic
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

extract function
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

create getConfigValue function
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

add logic to account for reset
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

update text to reflect usage
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

pacify code climate
  extension/src/Config.ts
  extension/src/vscode/quickPick.ts
Due: prettier --write, eslint --cache --fix

change method to class member
  extension/src/Config.ts
  extension/src/vscode/quickPick.ts
Due: prettier --write, eslint --cache --fix

change abstraction for setStatusBarItemText
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

add getConfigValue and setConfigValue
  extension/src/vscode/config.ts
Due: prettier --write, eslint --cache --fix

replace update with setConfigValue
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

replace class method
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

dispose of all experiments when reset is called
  extension/src/Experiments/index.ts
Due: prettier --write, eslint --cache --fix

push onDidChangeData into experiment class
  extension/src/Experiments/index.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

rename output to data
  extension/src/Experiments/index.ts
Due: prettier --write, eslint --cache --fix

add integration test
  extension/src/Experiments/Webview/index.ts
  extension/src/Experiments/commands/register.test.ts
  extension/src/Experiments/index.ts
  extension/src/extension.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

rename events and emitters
  extension/src/Experiments/Webview/index.ts
  extension/src/Experiments/index.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

change name of create
  extension/src/Experiments/index.ts
  extension/src/extension.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

improve name of method
  extension/src/Experiments/Webview/index.ts
Due: prettier --write, eslint --cache --fix

try self instrumenting and delay activation
  extension/nyc.config.js
  extension/package.json
  extension/src/test/suite/index.ts
Due: prettier --write, eslint --cache --fix

rename experiment to experimentstable
  extension/src/Experiments/commands/register.test.ts
  extension/src/Experiments/index.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Add Experiments class (#427)
  extension/src/Experiments/commands/register.test.ts
  extension/src/Experiments/commands/register.ts
  extension/src/Experiments/index.ts
  extension/src/extension.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

reinstate preference
  extension/src/Experiments/index.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

rename experiment to experimentstable
  extension/src/Experiments/commands/register.test.ts
  extension/src/Experiments/commands/register.ts
  extension/src/Experiments/index.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

start to rename functions
  extension/src/Experiments/commands/register.test.ts
  extension/src/Experiments/commands/register.ts
  extension/src/Experiments/index.ts
  extension/src/fileSystem/workspace.test.ts
  extension/src/fileSystem/workspace.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

rename mocks
  extension/src/Experiments/commands/register.test.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

rename active to focused and reference webview
  extension/src/Experiments/Webview/index.ts
  extension/src/Experiments/index.ts
  extension/src/test/suite/Experiments/index.test.ts
Due: prettier --write, eslint --cache --fix
