Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

rename dvc.killExperimentsQueueTasks command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Upgrade react-table and recreate original structure
  .codeclimate.json
  extension/src/experiments/webview/contract.ts
  webview/package.json
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/Errors.tsx
  webview/src/experiments/components/table/ExperimentGroup.tsx
  webview/src/experiments/components/table/NestedRow.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
  webview/src/experiments/components/table/RowSelectionContext.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/content/Cell.tsx
  webview/src/experiments/components/table/content/CellContent.tsx
  webview/src/experiments/components/table/content/CellTooltip.tsx
  webview/src/experiments/components/table/content/DateCellContent.tsx
  webview/src/experiments/components/table/content/ErrorCell.tsx
  webview/src/experiments/components/table/content/Header.tsx
  webview/src/experiments/components/table/content/TimestampHeader.tsx
  webview/src/experiments/components/table/content/UndefinedCell.tsx
  webview/src/experiments/components/table/header/ContextMenuContent.tsx
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/headersSlice.ts
  webview/src/experiments/components/table/interfaces.ts
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/react-table-config.d.ts
  webview/src/experiments/util/buildColumns.tsx
  webview/src/experiments/util/buildDynamicColumns.test.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/experiments/util/columns.ts
  webview/src/experiments/util/rows.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Improve testing
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Change "Remove Experiment" command to "Remove Experiments" (#3093)
  extension/package.json
  extension/package.nls.json
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Update queue commands (#3094)
  extension/package.json
  extension/package.nls.json
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/executor.test.ts
  extension/src/cli/dvc/executor.ts
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/quickPick.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Resize columns of experiments table
  webview/package.json
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/content/Header.tsx
  webview/src/experiments/components/table/content/TimestampHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/buildColumns.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

format files
  .github/workflows/create-release-pr.yml
  extension/src/commands/internal.ts
  extension/src/experiments/model/status/colors.ts
  extension/src/plots/multiSource/constants.ts
  extension/src/plots/paths/collect.ts
  extension/src/repository/model/collect.ts
  extension/src/repository/sourceControlManagement/decorationProvider.ts
  extension/src/repository/sourceControlManagement/index.ts
  extension/src/telemetry/collect.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/plotsDiff/vega.ts
Due: prettier --write, eslint --cache --fix

Add commit tooltips to experiment table * add commit tooltips to branch row secondary cell names
  extension/src/cli/git/constants.ts
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/webview/contract.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/stories/util.ts
Due: prettier --write, eslint --cache --fix

Add date to commit tooltip
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/stories/util.ts
Due: prettier --write, eslint --cache --fix

Revert "Update version and CHANGELOG for release (#3106)"
  CHANGELOG.md
  extension/package.json
Due: prettier --write

add missing edited file
  extension/src/experiments/webview/contract.ts
Due: prettier --write, eslint --cache --fix

fix typo
  extension/src/cli/git/constants.ts
Due: prettier --write, eslint --cache --fix

Stop tooltip from being interactive
  webview/src/experiments/components/table/CellSecondaryName.tsx
Due: prettier --write, eslint --cache --fix

Fix typo in plots tooltip
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Revert "Update version and CHANGELOG for release (#3106)" (#3107)
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Add `workflow_dispatch` event to `publish` workflow
  .github/workflows/publish.yml
Due: none

Fix typo in plots tooltip (#3108)
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Fix possible out of range error
  extension/src/experiments/model/collect.ts
Due: prettier --write, eslint --cache --fix

Revert "Fix possible out of range error"
  extension/src/experiments/model/collect.ts
Due: prettier --write, eslint --cache --fix

Fix column ordering
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/util/columns.ts
Due: prettier --write, eslint --cache --fix

Add experiment row commit tooltips (#3105)
  extension/src/cli/git/constants.ts
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/webview/contract.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/stories/util.ts
Due: prettier --write, eslint --cache --fix

Make experiment row commit tooltips interactive
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/util/helpers.ts
  webview/src/util/props.ts
Due: prettier --write, eslint --cache --fix

Add `workflow_dispatch` event to `publish` workflow (#3110)
  .github/workflows/publish.yml
Due: none

Show commit messages in "Select Experiments to Display in Plots" quick pick
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPick.ts
Due: prettier --write, eslint --cache --fix

Fix header menu options
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/header/ContextMenuContent.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/util/buildColumns.tsx
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Make experiment row commit tooltips interactive (#3113)
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/util/helpers.ts
  webview/src/util/props.ts
Due: prettier --write, eslint --cache --fix

Show commits in "Select Experiments to Display ..." quick pick (#3114)
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPick.ts
Due: prettier --write, eslint --cache --fix

Fix row and column actions
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/ExperimentGroup.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
  webview/src/experiments/components/table/RowSelectionContext.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/content/Cell.tsx
  webview/src/experiments/components/table/content/ErrorCell.tsx
  webview/src/experiments/components/table/content/Header.tsx
  webview/src/experiments/components/table/content/UndefinedCell.tsx
  webview/src/experiments/components/table/header/ContextMenuContent.tsx
  webview/src/experiments/components/table/header/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/header/TableHead.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/util/buildColumns.tsx
Due: prettier --write, eslint --cache --fix

Fix column shadow
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix selected for plotting indicator
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/util/rows.ts
Due: prettier --write, eslint --cache --fix

Add commit message to plots ribbon block tooltips
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/plots/components/ribbon/RibbonBlockTooltip.tsx
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/shared/components/icons/GitCommit.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/stories/Ribbon.stories.tsx
Due: prettier --write, eslint --cache --fix

Avoid nesting
  webview/src/plots/components/ribbon/RibbonBlockTooltip.tsx
  webview/src/plots/components/ribbon/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add `git-commit` icon to experiments table
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/icons/GitCommit.tsx
  webview/src/shared/components/icons/index.ts
Due: prettier --write, eslint --cache --fix

Increase size on row icon
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add resolution for json5 library
  package.json
  yarn.lock
Due: prettier --write

Update Windows yarn network timeout to 5 minutes (downloading packages on slow disk)
  .github/workflows/cross-platform-test.yml
Due: none

Add icon to quick pick
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPick.ts
Due: prettier --write, eslint --cache --fix

Update Windows yarn network timeout to 5 minutes (downloading packages on slow disk) (#3129)
  .github/workflows/cross-platform-test.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
