Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

try report coverage
  .github/workflows/build.yml
Due: none

remove cover command
  .github/workflows/build.yml
Due: none

add latest action
  .github/workflows/build.yml
Due: none

remove code climate pretend it never happened
  .github/workflows/build.yml
Due: none

use unit test coverage
  .github/workflows/build.yml
Due: none

fix cover command maybe
  extension/package.json
  package.json
Due: prettier --write

try again
  .github/workflows/build.yml
Due: none

use the correct command dummy
  package.json
Due: prettier --write

too hard for a Saturday
  .github/workflows/build.yml
Due: none

fix config
  extension/nyc.config.js
  extension/package.json
Due: prettier --write, eslint --cache --fix

try dummy command
  .github/workflows/build.yml
Due: none

switch test order to fix timing
  extension/package.json
Due: prettier --write

use --temp-dir
  extension/package.json
Due: prettier --write

report on integration test
  extension/package.json
Due: prettier --write

try sequentially
  .github/workflows/build.yml
Due: none

run with xvfb-run
  .github/workflows/build.yml
Due: none

remove silent
  extension/package.json
Due: prettier --write

confirm timing issue
  extension/package.json
Due: prettier --write

run sequentially
  package.json
Due: prettier --write

remove sleepy time
  extension/package.json
Due: prettier --write

remove @istanbul from root
  package.json
Due: prettier --write

use all flag
  extension/nyc.config.js
Due: prettier --write, eslint --cache --fix

rearrange
  extension/package.json
  package.json
Due: prettier --write

last try
  package.json
Due: prettier --write

revert
  extension/package.json
  package.json
Due: prettier --write

yarn run-p
  package.json
Due: prettier --write

run-s
  package.json
Due: prettier --write

g2b
  extension/package.json
  package.json
Due: prettier --write

go the other way
  .github/workflows/build.yml
  extension/package.json
Due: prettier --write

go
  .github/workflows/build.yml
Due: none

go now
  .github/workflows/build.yml
  package.json
Due: prettier --write

rejig
  .github/workflows/build.yml
  extension/package.json
  package.json
Due: prettier --write

add .cache to exclude
  extension/nyc.config.js
Due: prettier --write, eslint --cache --fix

run all extensions
  extension/nyc.config.js
Due: prettier --write, eslint --cache --fix

remove exclude
  extension/nyc.config.js
Due: prettier --write, eslint --cache --fix

merge merge merge
  extension/jest.config.js
  extension/nyc.config.js
  extension/package.json
  package.json
Due: prettier --write, eslint --cache --fix

add cwd
  extension/package.json
Due: prettier --write

run cover twice
  .github/workflows/build.yml
Due: none

try xvfb-run -a inline
  .github/workflows/build.yml
  extension/package.json
Due: prettier --write

revert
  .github/workflows/build.yml
  extension/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
