Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

dvc: commit experiment 76036ed99d270e075cb6438e5911c9f2fae88c296de3db4f56744141a86ca579
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 5382dae39888be90eabf426a50afad42722f02eb0518929909669f96cea8007c
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment c75d6c187e1ce0d36cdc0b9bb33f424d2e01072cbe9c95341cb6f6f72040cb29
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 6bc831cd7737ae5c69613d053ac07a98c36dee45ad1a53da0b9129b1399059a0
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 1275c40f26e75af31aabd8996fcf8f1fcceef2faf2bca8b700befa4524a2b4aa
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

Add react-virtualized
  webview/package.json
  yarn.lock
Due: prettier --write

Remove auto increment version from publish action (#1683)
  .github/workflows/publish.yml
Due: none

upgrade setup-node action to v3
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .github/workflows/publish.yml
Due: none

upgrade checkout action to v3
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .github/workflows/publish.yml
Due: none

Upgrade checkout and setup actions (#1684)
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .github/workflows/publish.yml
Due: none

give action access to create a PR
  .github/workflows/create-release-pr.yml
Due: none

drop max pull requests to 200
  .github/workflows/changelog-config.json
Due: prettier --write

add create release action
  .github/workflows/changelog-config.json
  .github/workflows/create-release.yml
Due: prettier --write

add body and commit message
  .github/workflows/create-release-pr.yml
Due: none

add variable for substitution
  .github/workflows/create-release-pr.yml
Due: none

use a real version of the builder
  .github/workflows/create-release-pr.yml
Due: none

try and inline input variable
  .github/workflows/create-release-pr.yml
Due: none

remove test specific parts of the action
  .github/workflows/create-release-pr.yml
Due: none

add temp config to point at main
  .github/workflows/create-release-pr.yml
Due: none

rename workflow
  .github/workflows/create-release-pr.yml
Due: none

get version from bash command
  .github/workflows/create-release-pr.yml
Due: none

add message into PR description to close and reopen PR for merge checks
  .github/workflows/create-release-pr.yml
Due: none

update version for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

update publish action to tag and create github release
  .github/workflows/publish.yml
Due: none

try and get desired format through action
  .github/workflows/create-release-pr.yml
Due: none

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

remove pull request trigger and use latest tag
  .github/workflows/create-release-pr.yml
Due: none

remove release from release title
  .github/workflows/publish.yml
Due: none

add welcome view when there are no columns in the project
  extension/package.json
  extension/src/experiments/columns/quickPick.ts
Due: prettier --write, eslint --cache --fix

update text in test
  extension/src/experiments/columns/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

remove dead code
  extension/src/webview/workspace.ts
Due: prettier --write, eslint --cache --fix

add welcome view for tracked tree
  extension/package.json
Due: prettier --write

Tag and create github release in publish action (#1691)
  .github/workflows/publish.yml
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Add tree welcome views (#1693)
  extension/package.json
  extension/src/experiments/columns/quickPick.test.ts
  extension/src/experiments/columns/quickPick.ts
Due: prettier --write, eslint --cache --fix

remove dead code (#1694)
  extension/src/webview/workspace.ts
Due: prettier --write, eslint --cache --fix

Replace static colors with VSCode CSS variables (#1682)
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/emptyState/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Move all color variables into the shared variables file
  webview/src/shared/components/messagesMenu/styles.module.scss
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Replace border color with variable
  webview/src/shared/variables.scss
Due: none

Add contributed colors
  extension/package.json
  webview/src/shared/variables.scss
Due: prettier --write

do not reset deferred property if consumers are still waiting
  extension/src/class/deferred.test.ts
  extension/src/class/deferred.ts
Due: prettier --write, eslint --cache --fix
