Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Add automatic Chromatic deploy to build action
  .github/workflows/build.yml
  webview/src/stories/Experiments.stories.tsx
Due: prettier --write, eslint --cache --fix

Add fetch-depth: 0 to checkout for chromatic
  .github/workflows/build.yml
Due: none

Add storybook-static to prettierignore
  .prettierignore
Due: none

ESLint ignore more build outputs, parallelize lint/format
  .eslintrc.js
  .github/workflows/build.yml
  package.json
Due: prettier --write, eslint --cache --fix

Build storybook alongside vsix
  .github/workflows/build.yml
Due: none

Split development docs into CONTRIBUTING and rewrite
  CONTRIBUTING.md
  README.md
Due: prettier --write

Use title-case and add git submodule update
  CONTRIBUTING.md
Due: prettier --write

Add Resources section to CONTRIBUTING
  CONTRIBUTING.md
Due: prettier --write

Add better title to README
  README.md
Due: prettier --write

Storybook, Table, and README DX updates (#69)
  .eslintrc.js
  .github/workflows/build.yml
  .github/workflows/test-build.yml
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  README.md
  extension/src/DvcReader.ts
  package.json
  webview/.storybook/main.js
  webview/.storybook/preview.js
  webview/package.json
  webview/src/components/Experiments.tsx
  webview/src/components/Table.tsx
  webview/src/components/table-styles.module.scss
  webview/src/css.d.ts
  webview/src/stories/Experiments.stories.tsx
  webview/src/stories/complex-experiments-output.json
  webview/src/stories/test-vscode-styles.scss
  webview/src/style.scss
  webview/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

combine duplicate config files
  extension/src/Config.ts
  extension/src/DvcPath.ts
  extension/src/configuration.ts
Due: prettier --write, eslint --cache --fix

enable format on save in vscode
  .vscode/settings.json
  CONTRIBUTING.md
Due: prettier --write

remove unnecessary tslint file
  tslint.json
Due: prettier --write

remove unnecessary tslint file (#73)
  tslint.json
Due: prettier --write

add test command in launch json
  .vscode/launch.json
Due: prettier --write

fix loading of workspace in debug mode
  .vscode/launch.json
Due: prettier --write

add test dev dependencies
  extension/package.json
Due: prettier --write

add integration tests for DvcPath
  extension/src/DvcPath.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

add custom options to runTest
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

alphabetically sort variables
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

Add integration tests (#74)
  .vscode/launch.json
  extension/package.json
  extension/src/DvcPath.ts
  extension/src/test/runTest.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Large table update
  extension/package.json
  extension/src/DvcReader.ts
  extension/src/DvcWebviewManager.ts
  extension/src/extension.ts
  extension/src/webviewContract.ts
  package.json
  webview/.storybook/main.js
  webview/package.json
  webview/src/components/Experiments.tsx
  webview/src/components/Table.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/components/table-styles.module.scss
  webview/src/hotComponent.tsx
  webview/src/model/Model.ts
  webview/src/react-table-config.d.ts
  webview/src/stories/complex-experiments-output.json
  webview/src/util/build-experiment-tree.test.ts
  webview/src/util/build-experiment-tree.ts
  webview/src/util/parse-experiments.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add parseExperiments snapshot test and update yarn.lock
  webview/src/util/parse-experiments.test.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Minor visual changes
  webview/src/components/Experiments.tsx
  webview/src/components/Table.tsx
  webview/src/components/table-styles.module.scss
Due: prettier --write, eslint --cache --fix

Remove build-experiment-tree
  webview/src/util/build-experiment-tree.ts
Due: prettier --write, eslint --cache --fix

Overhaul experiments table based around there being three static levels (#75)
  extension/package.json
  extension/src/DvcReader.ts
  extension/src/DvcWebviewManager.ts
  extension/src/extension.ts
  extension/src/webviewContract.ts
  package.json
  webview/.storybook/main.js
  webview/package.json
  webview/src/components/Experiments.tsx
  webview/src/components/Table.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/components/table-styles.module.scss
  webview/src/hotComponent.tsx
  webview/src/model/Model.ts
  webview/src/react-table-config.d.ts
  webview/src/stories/complex-experiments-output.json
  webview/src/util/build-experiment-tree.test.ts
  webview/src/util/build-experiment-tree.ts
  webview/src/util/parse-experiments.test.ts
  webview/src/util/parse-experiments.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Fix Jest support in extension
  extension/jest.config.js
  extension/tsconfig.json
Due: prettier --write, eslint --cache --fix

Add jest/vscode test scripts and make test script run both
  extension/package.json
Due: prettier --write

Install Python and DVC Master in GitHub Action
  .github/workflows/build.yml
  package.json
Due: prettier --write

Actually use globs in run-p scripts
  .github/workflows/build.yml
Due: none

Add ci:run:test script
  package.json
Due: prettier --write

Refactor CI NPM Scripts and install DVC Master in GH Action (#78)
  .github/workflows/build.yml
  package.json
Due: prettier --write

delete duplicate file
  extension/src/util.ts
Due: prettier --write, eslint --cache --fix

delete duplicate file (#79)
  extension/src/util.ts
Due: prettier --write, eslint --cache --fix

Update DvcReader test snapshot
  extension/src/__snapshots__/DvcReader.test.ts.snap
Due: none

Change jest invocation to have no arguments.
  extension/package.json
Due: prettier --write

add proposed api for testing only
  .eslintrc.js
  extension/package.json
  extension/src/vscode.proposed.d.ts
Due: prettier --write, eslint --cache --fix

update runTests to install python extension
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

add delay utility
  extension/src/util/index.ts
Due: prettier --write, eslint --cache --fix

update extension tests
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
