Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Add a telemetry event for the open file message
  extension/src/experiments/index.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

Add test for the Open-to-the-side message handler
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Refactor array utils
  webview/src/util/array.ts
Due: prettier --write, eslint --cache --fix

Clean the file segment of column paths before using them
  extension/src/experiments/columns/paths.ts
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Use copy button instead of creating new copy function
  webview/src/experiments/components/copyButton/CopyButton.test.tsx
  webview/src/experiments/components/copyButton/CopyButton.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/plots/components/ribbon/styles.module.scss
Due: prettier --write, eslint --cache --fix

Limit Hide column option to leaves only
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/shared/components/messagesMenu/MessagesMenu.tsx
  webview/src/shared/components/messagesMenu/MessagesMenuOption.tsx
Due: prettier --write, eslint --cache --fix

Fix tests
  webview/src/shared/components/copyButton/CopyButton.test.tsx
  webview/src/shared/components/copyButton/CopyButton.tsx
  webview/src/shared/components/copyButton/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add background color to thead
  webview/src/experiments/components/table/styles.module.scss
Due: none

Add legend to zoomed in plots (#1794)
  webview/package.json
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/components/checkpointPlots/util.ts
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Update extension description for the marketplace (#1807)
  extension/package.nls.json
Due: prettier --write

Close modal on Escape (#1811)
  webview/src/shared/components/modal/Modal.test.tsx
  webview/src/shared/components/modal/Modal.tsx
Due: prettier --write, eslint --cache --fix

Add position:sticky to Experiment table head (#1805)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Experiment table open to the side (#1796)
  extension/src/experiments/columns/paths.ts
  extension/src/experiments/index.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/shared/components/messagesMenu/MessagesMenu.tsx
  webview/src/shared/components/messagesMenu/MessagesMenuOption.tsx
  webview/src/util/array.ts
Due: prettier --write, eslint --cache --fix

Use vscode tree.tableColumnsBorder to add contrast in light themes (#1803)
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
  webview/src/stories/test-vscode-styles.scss
Due: prettier --write, eslint --cache --fix

readme: make intro = value prop + + fancy note
  README.md
Due: prettier --write

readme: spave between VS and Code per https://github.com/iterative/vscode-dvc/pull/1816#pullrequestreview-992969756
  README.md
Due: prettier --write

readme: reorg existing content per per https://github.com/iterative/dvc.org/issues/2443#issuecomment-1144410100
  README.md
Due: prettier --write

readme: add features list
  README.md
Due: prettier --write

readme: extend/fix/link other parts of the structure
  README.md
Due: prettier --write

add support view with github issues and discord chat buttons
  extension/package.json
Due: prettier --write

readme: fix DVC icon
  README.md
Due: prettier --write

Add experiments from plots ribbon (#1798)
  extension/src/plots/index.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

Fix format after merge
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Fix experiment names overflowing in plots ribbon
  webview/src/plots/components/ribbon/styles.module.scss
Due: none

Fix experiment names overflowing in plots ribbon (#1821)
  webview/src/plots/components/ribbon/styles.module.scss
Due: none

update discord invite link
  extension/package.json
Due: prettier --write

Add support view to DVC container (#1817)
  extension/package.json
Due: prettier --write

add arrays to exp show data type
  extension/src/cli/reader.ts
  extension/src/experiments/columns/collect.test.ts
  extension/src/experiments/columns/collect.ts
  extension/src/experiments/columns/tree.test.ts
  extension/src/experiments/columns/walk.ts
  extension/src/experiments/model/queue/collect.test.ts
  extension/src/experiments/model/queue/collect.ts
  extension/src/test/fixtures/expShow/columns.ts
  extension/src/test/fixtures/expShow/output.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

add string and boolean data types
  extension/src/cli/reader.ts
Due: prettier --write, eslint --cache --fix

unit test and improve quick pick
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
Due: prettier --write, eslint --cache --fix

return string version of the array to the experiments table to match CLI
  webview/src/experiments/util/buildDynamicColumns.test.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

ensure we pass the right data when using modify and commands
  extension/src/experiments/model/queue/collect.ts
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
Due: prettier --write, eslint --cache --fix

Accomodate params that are lists (#1818)
  extension/src/cli/reader.ts
  extension/src/experiments/columns/collect.test.ts
  extension/src/experiments/columns/collect.ts
  extension/src/experiments/columns/tree.test.ts
  extension/src/experiments/columns/walk.ts
  extension/src/experiments/model/queue/collect.test.ts
  extension/src/experiments/model/queue/collect.ts
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
  extension/src/test/fixtures/expShow/columns.ts
  extension/src/test/fixtures/expShow/output.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/suite/extension.test.ts
  webview/src/experiments/util/buildDynamicColumns.test.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Rename experiments model queue folder to experiments model modify
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/modify/collect.test.ts
  extension/src/experiments/model/modify/collect.ts
  extension/src/experiments/model/modify/quickPick.test.ts
  extension/src/experiments/model/modify/quickPick.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Rename experiments model queue folder to experiments model modify (#1819)
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/modify/collect.test.ts
  extension/src/experiments/model/modify/collect.ts
  extension/src/experiments/model/modify/quickPick.test.ts
  extension/src/experiments/model/modify/quickPick.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Watch all dvc.yamls for changes to plots
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

Remove revision filtering from comparison table icon menu
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
Due: prettier --write, eslint --cache --fix

Replace firstCell with experimentCell
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Watch all dvc.yamls for changes to plots (#1822)
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

Remove useless length check
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
