Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Render more rows while virtualizing plots (#1795)
  webview/src/shared/components/virtualizedGrid/VirtualizedGrid.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

capitalise community
  extension/resources/walkthrough/dvc-learn-more.md
Due: prettier --write

Add button in plots ribbon to add experiments
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

Update walkthrough (#1792)
  README.md
  extension/package.json
  extension/resources/walkthrough/command-palette.md
  extension/resources/walkthrough/dvc-learn-more.md
  extension/resources/walkthrough/experiments-table.md
  extension/resources/walkthrough/install-dvc.md
  extension/resources/walkthrough/output-channel.md
  extension/resources/walkthrough/plots.md
  extension/resources/walkthrough/setup-workspace.md
  extension/resources/walkthrough/source-control-management.md
  extension/resources/walkthrough/tracked-explorer.md
  extension/resources/walkthrough/view-container.md
  extension/src/test/suite/repository/workspace.test.ts
Due: prettier --write, eslint --cache --fix

add more resources link
  README.md
Due: prettier --write

update readme text
  README.md
  extension/resources/walkthrough/command-palette.md
Due: prettier --write

Update README (#1793)
  README.md
  extension/resources/walkthrough/command-palette.md
Due: prettier --write

switch list-selection for list-filter icon
  extension/package.json
Due: prettier --write

Switch list-selection to list-filter icon (#1800)
  extension/package.json
Due: prettier --write

rename internal variables
  extension/src/repository/model/collect.ts
Due: prettier --write, eslint --cache --fix

rename transform function
  extension/src/repository/model/collect.ts
Due: prettier --write, eslint --cache --fix

add integration test for using the exp show data
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

use cached outs from experiments data to identify tracked data
  extension/src/cli/reader.ts
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/fileSystem/tree.ts
  extension/src/repository/index.ts
  extension/src/repository/model/collect.test.ts
  extension/src/repository/model/collect.ts
  extension/src/repository/model/index.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

Fix push/pull directory from DVC tracked tree (#1781)
  extension/src/cli/reader.ts
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/fileSystem/tree.ts
  extension/src/repository/index.ts
  extension/src/repository/model/collect.test.ts
  extension/src/repository/model/collect.ts
  extension/src/repository/model/index.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

mark all paths underneath a not in cache or delete parent with the same status
  extension/src/repository/model/collect.ts
  extension/src/repository/model/index.test.ts
  extension/src/repository/model/index.ts
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

Mark all paths underneath a not in cache or delete parent with the same status (#1783)
  extension/src/repository/model/collect.ts
  extension/src/repository/model/index.test.ts
  extension/src/repository/model/index.ts
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

correctly drop cached plots data whenever moving between branches and commits
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

add legend to zoomed in plot
  webview/src/plots/components/ZoomablePlot.tsx
Due: prettier --write, eslint --cache --fix

add legend for zoomed in checkpoint plots
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/util.ts
Due: prettier --write, eslint --cache --fix

refactor removal of legend suppression up to top level function
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/util.ts
Due: prettier --write, eslint --cache --fix

commit broken storybook for now
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/util.ts
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Apply review comments
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/plots/components/ribbon/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add plots ribbon to show and remove experiments (#1785)
  extension/src/plots/index.ts
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/index.test.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHead.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/plots/components/ribbon/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add tests
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
Due: prettier --write, eslint --cache --fix

Add refresh all button
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
Due: prettier --write, eslint --cache --fix

Correctly drop cached plots data whenever moving between branches and commits (#1804)
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

Add position:sticky to thead
  webview/src/experiments/components/table/styles.module.scss
Due: none

create zoomed in plot component and do not mutate props
  webview/package.json
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/components/util.ts
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

update extension description for the marketplace
  extension/package.nls.json
Due: prettier --write

add refresh all visible action to plots
  extension/src/plots/index.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
Due: prettier --write, eslint --cache --fix

rework description
  extension/package.nls.json
Due: prettier --write

add refresh all visible action to plots (#1808)
  extension/src/plots/index.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
Due: prettier --write, eslint --cache --fix

Close modal on escape
  webview/src/shared/components/modal/Modal.tsx
Due: prettier --write, eslint --cache --fix

Use vscode tree.tableColumnsBorder to add contrast in light themes
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Add tests
  webview/src/shared/components/modal/Modal.test.tsx
Due: prettier --write, eslint --cache --fix

Add variable to storybook test-vscode-styles.scss
  webview/src/stories/test-vscode-styles.scss
Due: none

Remove border bottom for leaf headers
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add Open-to-the-side option to table header context-menu
  extension/src/experiments/index.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/util/array.ts
Due: prettier --write, eslint --cache --fix

Remove commented code
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
