Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

add static integrated terminal class
  extension/src/IntegratedTerminal.ts
  extension/src/extension.ts
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

remove run integration tests from launch json
  .vscode/launch.json
Due: prettier --write

log event streams
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

only search for echoed text
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

try and activate python environment
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

switch to beforeEach with correct options
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

switch to beforeEach
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

log data for debugging
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

setup venv in pipeline
  package.json
Due: prettier --write

remove logging
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

move upgrade of packages into actions
  .github/workflows/build.yml
  package.json
Due: prettier --write

suppress python start page and error
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

cache venv dependencies
  .github/workflows/build.yml
Due: none

cache pip directory
  .github/workflows/build.yml
Due: none

fix typo
  .github/workflows/build.yml
Due: none

use venv
  .github/workflows/build.yml
  package.json
Due: prettier --write

Change "* as" imports in extension tests
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/index.ts
Due: prettier --write, eslint --cache --fix

Add integrated terminal (#81)
  .eslintrc.js
  .github/workflows/build.yml
  .vscode/launch.json
  extension/package.json
  extension/src/IntegratedTerminal.ts
  extension/src/extension.ts
  extension/src/test/runTest.ts
  extension/src/test/suite/IntegratedTerminal.test.ts
  extension/src/test/suite/extension.test.ts
  extension/src/util/index.ts
  extension/src/vscode.proposed.d.ts
  package.json
Due: prettier --write, eslint --cache --fix

Change IntegratedTerminal imports to non-*
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

Tweak jest options and rewrite .env test to check demo for .env
  extension/jest.config.js
  extension/src/DvcReader.test.ts
Due: prettier --write, eslint --cache --fix

Remove demo-dependent test for now
  extension/src/DvcReader.test.ts
Due: prettier --write, eslint --cache --fix

Remove tests that depend on demo submodule
  extension/src/DvcReader.test.ts
Due: prettier --write, eslint --cache --fix

Remove obsolete snapshot
  extension/src/__snapshots__/DvcReader.test.ts.snap
Due: none

Change extension test commands to use test prefix
  extension/package.json
Due: prettier --write

Fix jest test in extension and remove tests that depend on demo submodule
  extension/jest.config.js
  extension/package.json
  extension/src/DvcReader.test.ts
  extension/src/__snapshots__/DvcReader.test.ts.snap
  extension/src/test/suite/IntegratedTerminal.test.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/index.ts
  extension/tsconfig.json
Due: prettier --write, eslint --cache --fix

improve terminal open time and refactor
  extension/src/IntegratedTerminal.ts
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

add _deleteReferenceOnClose function
  extension/src/IntegratedTerminal.ts
Due: prettier --write, eslint --cache --fix

make private functions private
  extension/src/IntegratedTerminal.ts
Due: prettier --write, eslint --cache --fix

hoist public functions to top of class
  extension/src/IntegratedTerminal.ts
Due: prettier --write, eslint --cache --fix

move createPythonInstance down
  extension/src/IntegratedTerminal.ts
Due: prettier --write, eslint --cache --fix

add test-staged to pre-commit
  .husky/pre-commit
  extension/package.json
  webview/package.json
  yarn.lock
Due: prettier --write

write with prettier prior to linting
  package.json
Due: prettier --write

update lint-staged in root
  package.json
  yarn.lock
Due: prettier --write

increase delay if extension inactive
  extension/src/IntegratedTerminal.ts
Due: prettier --write, eslint --cache --fix

increase delay after setting activateEnvironment
  extension/src/test/suite/IntegratedTerminal.test.ts
Due: prettier --write, eslint --cache --fix

run prettier over all files for lint-staged
  package.json
Due: prettier --write

Fix mobx issue by removing decorator.
  webview/src/components/App.tsx
Due: prettier --write, eslint --cache --fix

Fix mobx issue by removing decorator. (#86)
  webview/src/components/App.tsx
Due: prettier --write, eslint --cache --fix

add makeobservable
  extension/src/Config.ts
  webview/src/model/Model.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
