Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Improve Plot Wizard Error Handling (#4770)
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Only format y values once in `quickPick.ts`
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Fix typo
  extension/src/test/suite/pipeline/index.test.ts
Due: prettier --write, eslint --cache --fix

Transfer selection/starred status to renamed experiment
  extension/src/experiments/commands/index.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Transfer selection/starred status to renamed experiment (#4783)
  extension/src/experiments/commands/index.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Watch deps and outs files for experiment updates
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/data/collect.ts
Due: prettier --write, eslint --cache --fix

Watch deps and outs files for experiment updates (#4784)
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/data/collect.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.25.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.25.0) (#4788)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Attempt a different message
  webview/src/plots/components/emptyState/AddPlots.tsx
Due: prettier --write, eslint --cache --fix

Update default title
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Add a config to change the command center in the e2e tests
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

Keep x the same type as y
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Refresh yarn.lock
  yarn.lock
Due: none

Add title option to plot wizard (#4786)
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
  extension/src/test/suite/pipeline/index.test.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Update to latest version
  extension/package.json
  yarn.lock
Due: prettier --write

first iteration
  extension/src/fileSystem/index.ts
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
  extension/src/vscode/quickPick.ts
Due: prettier --write, eslint --cache --fix

Move error handling to chain pr
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

update quick pick util
  extension/src/vscode/quickPick.ts
Due: prettier --write, eslint --cache --fix

Add subscribe to YouTube message to README
  README.md
Due: prettier --write

Add subscribe to YouTube message to README (#4794)
  README.md
Due: prettier --write

Remove banner from README
  README.md
  extension/resources/banner.png
Due: prettier --write

Remove banner from README (#4795)
  README.md
  extension/resources/banner.png
Due: prettier --write

Add missing code updates
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Clean up
  extension/src/pipeline/quickPick.ts
  extension/src/test/suite/pipeline/index.test.ts
Due: prettier --write, eslint --cache --fix

Add Multiple Y Field Selection to Plot Wizard (#4787)
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
  extension/src/test/suite/pipeline/index.test.ts
Due: prettier --write, eslint --cache --fix

Added webdriverio-monorepo to ignored dependencies for Renovate
  renovate.json
Due: prettier --write

Improve types
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Fix error when user chooses no Y fields in the Plot Wizard
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Add tests for new quick pick util
  extension/src/test/suite/util.ts
  extension/src/test/suite/vscode/quickPick.test.ts
  extension/src/vscode/quickPick.ts
Due: prettier --write, eslint --cache --fix

Add check for empty x fields
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Minor refactor
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Added webdriverio-monorepo to ignored dependencies for Renovate (#4806)
  renovate.json
Due: prettier --write

Get deeply nested DVC repo as dvc roots
  extension/src/cli/dvc/constants.ts
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Fix tests
  extension/src/cli/dvc/constants.ts
  extension/src/fileSystem/index.test.ts
Due: prettier --write, eslint --cache --fix

Fix lint error
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Cleanup code
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

fix incorrectly written y test
  extension/src/pipeline/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

Fix error when user chooses no Y fields in the Plot Wizard (#4808)
  extension/src/pipeline/quickPick.test.ts
  extension/src/pipeline/quickPick.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
