Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Fix lnt issues
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/Draggable.tsx
Due: prettier --write, eslint --cache --fix

Remove eslint for sonar
  webview/src/shared/components/dragDrop/Draggable.tsx
Due: prettier --write, eslint --cache --fix

Simplify drag and drop integrations (#2126)
  webview/src/experiments/components/table/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/Draggable.tsx
  webview/src/shared/components/dragDrop/DropTarget.tsx
Due: prettier --write, eslint --cache --fix

block users from accessing commands whilst executor is already running
  extension/package.json
  extension/src/cli/executor.test.ts
  extension/src/cli/executor.ts
  extension/src/repository/commands/index.test.ts
  extension/src/repository/commands/index.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

do not block experiment commands
  extension/package.json
Due: prettier --write

reference scm in variable names
  extension/package.json
  extension/src/cli/executor.test.ts
  extension/src/cli/executor.ts
  extension/src/repository/commands/index.test.ts
  extension/src/repository/commands/index.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

self review
  extension/package.json
  extension/src/repository/commands/index.test.ts
Due: prettier --write, eslint --cache --fix

Block users from attempting to run concurrent SCM commands (#2128)
  extension/package.json
  extension/src/cli/executor.test.ts
  extension/src/cli/executor.ts
  extension/src/repository/commands/index.test.ts
  extension/src/repository/commands/index.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Hide remove all buttons from trees when there is nothing to remove
  extension/package.json
  extension/src/context.ts
  extension/src/test/suite/context.test.ts
Due: prettier --write, eslint --cache --fix

Remove Roger from CODEOWNERS
  .github/CODEOWNERS
Due: none

add scheduled data status cli output test
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/repository/data/index.ts
  extension/src/test/cli/dataStatus.test.ts
Due: prettier --write, eslint --cache --fix

Update CODEOWNERS (#2132)
  .github/CODEOWNERS
Due: none

Fix plots block bg color
  webview/src/plots/components/ribbon/styles.module.scss
Due: none

Hide remove all buttons from trees when there is nothing to remove (#2131)
  extension/package.json
  extension/src/context.ts
  extension/src/test/suite/context.test.ts
Due: prettier --write, eslint --cache --fix

Mock vs code commands in scheduled CLI test
  extension/src/vscode/mockModule.ts
Due: prettier --write, eslint --cache --fix

Refactor * keep all colors in variables.scss * remove unneeded cx()
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

Update table border width
  webview/src/experiments/components/table/styles.module.scss
Due: none

Refactor
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Mock vs code commands in scheduled CLI test (#2136)
  extension/src/vscode/mockModule.ts
Due: prettier --write, eslint --cache --fix

order plot revisions by selected color
  extension/src/experiments/model/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/util/array.ts
Due: prettier --write, eslint --cache --fix

add text to the test to prevent regressions
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Refactor * keep hooks at top
  webview/src/experiments/components/table/TableHead.tsx
Due: prettier --write, eslint --cache --fix

Plot experiments in the order they were selected (#2137)
  extension/src/experiments/model/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/util/array.ts
Due: prettier --write, eslint --cache --fix

Links in section description tooltips
  demo/dvc.lock
  demo/training_metrics.json
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Revert demo files
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

Add on body column hover styles
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/focusedColumnSlice.ts
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/store.ts
Due: prettier --write, eslint --cache --fix

Remove updated selected row bg color
  webview/src/shared/variables.scss
Due: none

Fix buggy hover style on experiment cell
  webview/src/experiments/components/table/styles.module.scss
Due: none

Links in section description tooltips (#2140)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Update wdio-vscode-service and use stable build
  extension/package.json
  extension/src/test/e2e/wdio.conf.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Update wdio-vscode-service and use stable build for e2e tests (#2143)
  extension/package.json
  extension/src/test/e2e/wdio.conf.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Make all plot sections visible at all times
  webview/package.json
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
Due: prettier --write, eslint --cache --fix

Fix leaky tests and add empty state to the comparison table
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/plotDataStore.ts
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
Due: prettier --write, eslint --cache --fix

Retain plot order when toggling off/on
  extension/src/plots/paths/model.test.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

Update table colors
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Pin storybook testing library
  webview/package.json
Due: prettier --write

Retain plot order when toggling off/on (#2147)
  extension/src/plots/paths/model.test.ts
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

Apply review comments
  .eslintrc.js
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
