Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

remove conditional command now toggling is blocked in the model
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
Due: prettier --write, eslint --cache --fix

prevent queued experiments from being selected inside the webview
  extension/src/experiments/model/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

test the new code path correctly
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

add basic refresh button with action to comparison table
  extension/src/plots/index.ts
  extension/src/telemetry/constants.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/comparisonTable/ComparisonTableRow.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/button/IconButton.tsx
  webview/src/shared/components/button/RefreshButton.tsx
  webview/src/shared/components/icons/Refresh.tsx
  webview/src/shared/components/icons/index.ts
Due: prettier --write, eslint --cache --fix

add ability to refresh a specific revision
  extension/src/plots/index.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
Due: prettier --write, eslint --cache --fix

add unit test for button click action
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
Due: prettier --write, eslint --cache --fix

add box to empty plot
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

update toast text
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

Prevent queued experiments from being selected via the experiments table (#1753)
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

Improve user facing text for dvc.runQueuedExperiments (#1751)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

align images
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: none

Add manual refresh button to missing plots (#1754)
  extension/src/plots/index.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/button/IconButton.tsx
  webview/src/shared/components/button/RefreshButton.tsx
  webview/src/shared/components/icons/Refresh.tsx
  webview/src/shared/components/icons/index.ts
Due: prettier --write, eslint --cache --fix

add rough implementation of improved experiments table empty state
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/workspace.ts
  extension/src/path/selection/quickPick.test.ts
  extension/src/path/selection/quickPick.ts
  extension/src/plots/index.ts
  extension/src/plots/paths/quickPick.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/tableData.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/vscode/title.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

add integration test
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

pull out get started component
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/GetStarted.tsx
Due: prettier --write, eslint --cache --fix

remove title from function args
  extension/src/experiments/index.ts
  extension/src/path/selection/quickPick.test.ts
  extension/src/path/selection/quickPick.ts
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

extend publish action to publish to Open VSX
  .github/workflows/publish.yml
Due: none

fix timing of comparison table rendering
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
Due: prettier --write, eslint --cache --fix

Fix the drop target moving too fast when picking up a drag and drop item
  webview/src/plots/components/comparisonTable/DropTarget.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Fix overflow of zoomed in plots not shown
  webview/src/plots/components/styles.module.scss
Due: none

Patch timing of comparison table rendering (#1759)
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
Due: prettier --write, eslint --cache --fix

Extend publish action to publish to Open VSX (#1758)
  .github/workflows/publish.yml
Due: none

Fix overflow of zoomed in plots not shown (#1763)
  webview/src/plots/components/styles.module.scss
Due: none

Fix the drop target moving too fast when picking up a drag and drop item (#1762)
  webview/src/plots/components/comparisonTable/DropTarget.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Add telemetry call when hiding a column in the table view
  extension/src/experiments/index.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

Add tests for the new webview message handler
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

Make the divider element self-closingw
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

Add option to hide a column from the experiments table
  extension/src/experiments/index.ts
  extension/src/webview/contract.ts
  webview/__mocks__/@vscode/webview-ui-toolkit/react.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

make code more readable
  webview/src/experiments/components/GetStarted.tsx
Due: prettier --write, eslint --cache --fix

Improve experiments table empty states (#1755)
  CHANGELOG.md
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/workspace.ts
  extension/src/path/selection/quickPick.test.ts
  extension/src/path/selection/quickPick.ts
  extension/src/plots/index.ts
  extension/src/plots/paths/quickPick.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/tableData.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/vscode/title.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/GetStarted.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

mitigate python extension rejecting ready promise
  extension/src/extensions/python.test.ts
  extension/src/extensions/python.ts
  extension/src/vscode/extensions.ts
Due: prettier --write, eslint --cache --fix

Mitigate python extension rejecting ready promise (#1765)
  extension/src/extensions/python.test.ts
  extension/src/extensions/python.ts
  extension/src/vscode/extensions.ts
Due: prettier --write, eslint --cache --fix

fix mangled changelog
  CHANGELOG.md
Due: prettier --write

Add min-width to comparison table
  webview/src/plots/components/styles.module.scss
Due: none

Remove centered class around plots
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Cleanup in comparison table stories
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.tsx
  webview/src/stories/ComparisonTable.stories.tsx
Due: prettier --write, eslint --cache --fix

Set table cells to have height:auto
  webview/src/experiments/components/table/styles.module.scss
Due: none

Cleanup in comparison table stories (#1771)
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.tsx
  webview/src/stories/ComparisonTable.stories.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
