Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Increase VSCode CLI test timeout
  extension/src/test/suite/cli/index.test.ts
Due: prettier --write, eslint --cache --fix

Increase VSCode CLI test timeout (#5352)
  extension/src/test/suite/cli/index.test.ts
Due: prettier --write, eslint --cache --fix

Remove sroy3 from CODEOWNERS
  .github/CODEOWNERS
Due: none

Remove sroy3 from CODEOWNERS (#5353)
  .github/CODEOWNERS
Due: none

chore(gh): update codeowners
  .github/CODEOWNERS
Due: none

chore(gh): update codeowners (#5360)
  .github/CODEOWNERS
Due: none

yarn upgrade eslint-plugin-jsx-a11y
  yarn.lock
Due: none

Bump follow-redirects from 1.15.4 to 1.15.6
  yarn.lock
Due: none

run npx yarn-audit-fix
  yarn.lock
Due: none

security: use yarn resolutions to close broken dependabot PRs
  package.json
  yarn.lock
Due: prettier --write

security: use yarn resolutions to close broken dependabot PRs (#5442)
  package.json
  yarn.lock
Due: prettier --write

Bump tar from 6.1.13 to 6.2.1
  yarn.lock
Due: none

build(deps): bump ejs from 3.1.8 to 3.1.10
  yarn.lock
Due: none

Update demo project and latest tested CLI version (3.51.1)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.51.1) (#5540)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

fix vscode integration tests - altered quickpick behaviour
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

fix vscode integration tests - altered quickpick behaviour (#5561)
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

patch process exists for windows machines
  extension/src/process/execution.ts
Due: prettier --write, eslint --cache --fix

patch process exists for windows machines (#5577)
  extension/src/process/execution.ts
Due: prettier --write, eslint --cache --fix

rename iterative.ai to dvc.ai in Studio domain
  README.md
  extension/resources/walkthrough/more-resources.md
  extension/src/experiments/commands/index.ts
  extension/src/setup/webview/contract.ts
Due: prettier --write, eslint --cache --fix

update dangling references
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/setup/index.test.ts
Due: prettier --write, eslint --cache --fix

rename iterative.ai to dvc.ai in Studio domain (#5626)
  README.md
  extension/resources/walkthrough/more-resources.md
  extension/src/experiments/commands/index.ts
  extension/src/setup/webview/contract.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/setup/index.test.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.52.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.52.0) (#5642)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.53.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.53.0) (#5669)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

fix quick pick user ordered values test
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

fix quick pick user ordered values test (#5682)
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

fix quick pick user ordered values test
  extension/src/test/suite/vscode/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

delete test
  extension/src/test/suite/vscode/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

delete quick pick user ordered values test (#5684)
  extension/src/test/suite/vscode/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.54.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.54.0) (#5694)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.55.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.55.0) (#5708)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

fix source control e2e test - all items no longer fit on single screen due to source control graph
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

fix source control e2e test - all items no longer fit on single screen due to source control graph (#5724)
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

bump webpack
  yarn.lock
Due: none

Update demo project and latest tested CLI version (3.56.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix
