Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

drop colors folder
  extension/src/experiments/model/colors.ts
Due: prettier --write, eslint --cache --fix

always reorder colors when re-adding to the stack
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

wrap setting of color properties
  extension/src/experiments/model/index.ts
Due: prettier --write, eslint --cache --fix

improve turbo repo dx (suppress collect output)
  extension/jest.config.js
  package.json
  webview/jest.config.js
Due: prettier --write, eslint --cache --fix

json is the required format
  extension/jest.config.js
  webview/jest.config.js
Due: prettier --write, eslint --cache --fix

Only apply colors to selected experiments (#1605)
  extension/src/experiments/model/accumulator.ts
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/colors.ts
  extension/src/experiments/model/colors/collect.test.ts
  extension/src/experiments/model/colors/collect.ts
  extension/src/experiments/model/colors/index.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/status.test.ts
  extension/src/experiments/model/status.ts
  extension/src/persistence/constants.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/util/array.ts
  scripts/create-svgs.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/util.ts
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
Due: prettier --write, eslint --cache --fix

Improve Turborepo DX (#1617)
  extension/jest.config.js
  package.json
  webview/jest.config.js
Due: prettier --write, eslint --cache --fix

group experiment status code into subfolder
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/status/collect.test.ts
  extension/src/experiments/model/status/collect.ts
  extension/src/experiments/model/status/colors.ts
  extension/src/experiments/model/status/index.test.ts
  extension/src/experiments/model/status/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/util.ts
Due: prettier --write, eslint --cache --fix

group experiment status code into subfolder (#1616)
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/status/collect.test.ts
  extension/src/experiments/model/status/collect.ts
  extension/src/experiments/model/status/colors.ts
  extension/src/experiments/model/status/index.test.ts
  extension/src/experiments/model/status/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/util.ts
Due: prettier --write, eslint --cache --fix

Remove left and top margins from exp table
  webview/src/experiments/components/table/styles.module.scss
Due: none

Dim odd rows bg color in experiments table
  webview/src/experiments/components/table/styles.module.scss
Due: none

Align dotted borders with bullet circle
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix sorting indicator color (#1597)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Avoid dimming the chevron of collapsed rows
  webview/src/experiments/components/table/styles.module.scss
Due: none

Dim the rowGroup border color in experiments table
  webview/src/experiments/components/table/styles.module.scss
Due: none

Hide dotted lines behind experiment bullet
  webview/src/experiments/components/table/styles.module.scss
Due: none

Avoid blending the dotted borders between rows
  webview/src/experiments/components/table/styles.module.scss
Due: none

fix import in script
  scripts/create-svgs.ts
Due: prettier --write, eslint --cache --fix

pull data before attempting to run plots diff
  extension/src/test/cli/expShow.test.ts
  extension/src/test/cli/plotsDiff.test.ts
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

rename initialize function
  extension/src/test/cli/expShow.test.ts
  extension/src/test/cli/plotsDiff.test.ts
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

have test run as a test
  .github/workflows/dvc-cli-output-test.yml
Due: none

remove test of the test
  .github/workflows/dvc-cli-output-test.yml
Due: none

Demo updates
  demo/.gitignore
  demo/dvc.lock
  demo/dvc.yaml
  demo/dvclive.json
  demo/dvclive/scalars/acc.tsv
  demo/dvclive/scalars/loss.tsv
  demo/logs.html
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
  demo/requirements.txt
  demo/train.py
  demo/training_metrics.json
  demo/training_metrics/images/missclassified.jpg
  demo/training_metrics/scalars/acc.tsv
  demo/training_metrics/scalars/loss.tsv
Due: prettier --write

Fix dotted border and bullet backgrounds
  webview/src/experiments/components/table/styles.module.scss
Due: none

Pull data before attempting to run plots diff (#1620)
  extension/src/test/cli/expShow.test.ts
  extension/src/test/cli/plotsDiff.test.ts
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

fix import in script (#1621)
  scripts/create-svgs.ts
Due: prettier --write, eslint --cache --fix

Show updates on zoomed in plots
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/templatePlots/util.ts
Due: prettier --write, eslint --cache --fix

Use vscode menu colors and remove border radius from tooltip styles
  webview/src/shared/components/tooltip/styles.module.scss
Due: none

fix flaky integration tests
  extension/src/class/deferred.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/extension.test.ts
  extension/src/workspace/index.ts
Due: prettier --write, eslint --cache --fix

stub has checkpoints too
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

bump patch version for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

remove duplicate should statement
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Update revisions
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsPicker.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/shared/components/selectMenu/MultiSelect.tsx
Due: prettier --write, eslint --cache --fix

Fix after merge
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Fix flaky integration tests (#1626)
  extension/src/class/deferred.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/extension.test.ts
  extension/src/workspace/index.ts
Due: prettier --write, eslint --cache --fix

bump patch version for release (#1627)
  CHANGELOG.md
  extension/package.json
Due: prettier --write
