Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

consolidate remove command
  extension/package.json
  extension/src/commands/internal.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/tree.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

consolidate all but remove experiments
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

rework how we call the CLI from the webview
  extension/src/commands/internal.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

remove experiment item from registration
  extension/src/experiments/commands/register.ts
Due: prettier --write, eslint --cache --fix

remove unnecessary exp show fixture from build experiments
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

register experiment tree commands that interact directly with the CLI as CLI commands
  extension/src/commands/external.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

revert internal commands
  extension/src/commands/internal.ts
Due: prettier --write, eslint --cache --fix

Show errors when interacting with the CLI from the experiments webview or tree (#1953)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

update dependencies
  .github/workflows/continuous-integration.yml
  extension/package.json
  package.json
  webview/package.json
  webview/src/plots/components/webviewSlice.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix linting issues
  extension/.eslintrc.js
  extension/src/cli/executor.test.ts
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/repository/model/index.ts
  extension/src/telemetry/index.test.ts
  extension/src/telemetry/index.ts
  extension/src/test/suite/cli/runner.test.ts
  extension/src/util/stdout.ts
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/webviewSlice.ts
Due: prettier --write, eslint --cache --fix

use version 3.0.0 of code climate action
  .github/workflows/continuous-integration.yml
Due: none

add more dependencies
  extension/package.json
  webview/package.json
  yarn.lock
Due: prettier --write

Revert "contrib: fix command"
  CONTRIBUTING.md
Due: prettier --write

contrub: yarn install first per https://github.com/iterative/vscode-dvc/pull/1928#pullrequestreview-1022642075
  CONTRIBUTING.md
Due: prettier --write

contrib: move venv warning up to Dev env section per https://github.com/iterative/vscode-dvc/pull/1928#discussion_r909129348
  CONTRIBUTING.md
Due: prettier --write

Add stars feature to experiments table
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/stars/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/persistence/constants.ts
  extension/src/telemetry/constants.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/icons/StarEmpty.tsx
  webview/src/shared/components/icons/StarFull.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/shared/components/messagesMenu/MessagesMenu.tsx
  webview/src/shared/components/messagesMenu/MessagesMenuOption.tsx
  webview/src/shared/components/messagesMenu/styles.module.scss
Due: prettier --write, eslint --cache --fix

Always show the options for starring/unstarring experiments
  webview/src/experiments/components/table/Row.tsx
  webview/src/shared/components/messagesMenu/MessagesMenu.tsx
Due: prettier --write, eslint --cache --fix

Add test for the ctx-menu option
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Rename addSelectedAndStarred to addDetails
  extension/src/experiments/model/index.ts
Due: prettier --write, eslint --cache --fix

Add test for TOGGLE_STAR handler
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Use simple boolean instead of STARRED constant
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/stars/index.ts
Due: prettier --write, eslint --cache --fix

Remove numbers from the oprion labels
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

Add test for multi-selection
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Add dividers for related options
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

Simplify toggleStars
  extension/src/experiments/model/index.ts
Due: prettier --write, eslint --cache --fix

Add initial tests for Star Experiments
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

config: command -> config (debugger) per https://github.com/iterative/vscode-dvc/pull/1928#pullrequestreview-1024306378
  CONTRIBUTING.md
Due: prettier --write

Update extension/resources/walkthrough/more-resources.md
  extension/resources/walkthrough/more-resources.md
Due: prettier --write

Prime the repository for Renovate (#1959)
  .github/workflows/continuous-integration.yml
  extension/.eslintrc.js
  extension/package.json
  extension/src/cli/executor.test.ts
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/repository/model/index.ts
  extension/src/telemetry/index.test.ts
  extension/src/telemetry/index.ts
  extension/src/test/suite/cli/runner.test.ts
  extension/src/util/stdout.ts
  package.json
  webview/package.json
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/webviewSlice.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

walks: re-title and update More Resources (#1948)
  .vscode/settings.json
  README.md
  extension/package.json
  extension/resources/walkthrough/dvc-learn-more.md
  extension/resources/walkthrough/more-resources.md
Due: prettier --write

Improve quick start in README
  README.md
Due: prettier --write

Only pull selected files if they include the invoked path
  extension/src/fileSystem/tree.ts
  extension/src/repository/model/collect.test.ts
  extension/src/repository/model/collect.ts
Due: prettier --write, eslint --cache --fix

Improve quick start in README (#1962)
  README.md
Due: prettier --write

Implement checkbox selection
  webview/__mocks__/@vscode/webview-ui-toolkit/react.tsx
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/RowSelectionContext.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/util/props.ts
Due: prettier --write, eslint --cache --fix

Add test for batch selection
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Upgrade React to v18
  package.json
  webview/__mocks__/@vscode/webview-ui-toolkit/react.tsx
  webview/package.json
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/RowSelectionContext.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/react-table-config.d.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.tsx
  webview/src/shared/components/copyButton/CopyButton.test.tsx
  webview/src/shared/components/dragDrop/DragDropContext.tsx
  webview/src/shared/components/emptyState/EmptyState.tsx
  webview/src/shared/components/modal/Modal.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
  webview/src/test/dragDrop.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

use addon-interactions
  .lintstagedrc.js
  webview/.storybook/main.ts
  webview/package.json
  webview/src/stories/Plots.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

build a test storybook for chromatic
  .github/workflows/continuous-integration.yml
  package.json
  turbo.json
  webview/package.json
Due: prettier --write

remove flaky visual test
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
