Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

move init command into extension
  extension/src/extension.ts
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

Change changedParams for consistency and use it in stylesheet
  extension/package.json
  webview/src/shared/variables.scss
Due: prettier --write

Remove duplicated unused variables from table stylesheet
  webview/src/experiments/components/table/styles.module.scss
Due: none

Rework description wording and fix changedParams
  extension/package.json
  webview/src/shared/variables.scss
Due: prettier --write

Add colors to the test stylesheet
  webview/src/stories/test-vscode-styles.scss
Due: none

Rephrasing and changedParam -> changedCell
  extension/package.json
  webview/src/shared/variables.scss
  webview/src/stories/test-vscode-styles.scss
Due: prettier --write

Remove metaCell class and color
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Mention workspace in changedCell description
  extension/package.json
Due: prettier --write

changedCell -> workspaceChanged
  extension/package.json
  webview/src/shared/variables.scss
  webview/src/stories/test-vscode-styles.scss
Due: prettier --write

indicate->highlight in workspaceChanged description
  extension/package.json
Due: prettier --write

add placeholder when image is missing from comparison table data
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

add basic story for missing data
  webview/src/stories/ComparisonTable.stories.tsx
Due: prettier --write, eslint --cache --fix

change image to plot in error message
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
Due: prettier --write, eslint --cache --fix

Aloow reordering of columns by group
  webview/src/experiments/components/table/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/columns.test.ts
  webview/src/experiments/util/columns.ts
Due: prettier --write, eslint --cache --fix

Comment tests that I need help with
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
Due: prettier --write, eslint --cache --fix

Remove metaCell class and color (#1698)
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Use contributed colors for some webview colors (#1697)
  extension/package.json
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/messagesMenu/styles.module.scss
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/shared/variables.scss
  webview/src/stories/test-vscode-styles.scss
Due: prettier --write, eslint --cache --fix

Do not reset deferred property if consumers are still waiting (#1695)
  extension/src/class/deferred.test.ts
  extension/src/class/deferred.ts
Due: prettier --write, eslint --cache --fix

Add placeholder when image is missing from comparison table data (#1699)
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/stories/ComparisonTable.stories.tsx
Due: prettier --write, eslint --cache --fix

Move init command into extension (#1696)
  extension/src/extension.ts
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

remove max pull requests from config
  .github/workflows/changelog-config.json
Due: prettier --write

correctly set variables in step
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
Due: none

remove workflow test
  .github/workflows/create-release-pr.yml
Due: none

Add create release pr workflow (#1685)
  .github/workflows/changelog-config.json
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
Due: prettier --write

Rearrange internals of base workspace webviews
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/plots/commands/register.ts
  extension/src/plots/workspace.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/workspace.ts
Due: prettier --write, eslint --cache --fix

Add virtualization when too many plot rows
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/fixtures/plotsDiff/template/index.ts
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/PlotsSizeContext.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/util.ts
  webview/src/shared/components/bigGrid/BigGrid.tsx
  webview/src/shared/components/bigGrid/styles.module.scss
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Rearrange internals of base workspace webviews (#1706)
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/plots/commands/register.ts
  extension/src/plots/workspace.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/workspace.ts
Due: prettier --write, eslint --cache --fix

add integration test
  extension/src/plots/index.ts
  extension/src/plots/workspace.ts
  extension/src/test/suite/plots/paths/tree.test.ts
Due: prettier --write, eslint --cache --fix

add test for quick pick
  extension/src/plots/paths/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

Add plot selection quick pick
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/path/selection/model.ts
  extension/src/plots/commands/register.ts
  extension/src/plots/index.ts
  extension/src/plots/paths/quickPick.ts
  extension/src/plots/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Add plots selection quick pick (#1701)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/path/selection/model.ts
  extension/src/plots/commands/register.ts
  extension/src/plots/index.ts
  extension/src/plots/paths/quickPick.test.ts
  extension/src/plots/paths/quickPick.ts
  extension/src/plots/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/paths/tree.test.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

add expected codicons to welcome views
  extension/package.json
Due: prettier --write

add get started component to plots webview
  extension/src/plots/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/__mocks__/@vscode/webview-ui-toolkit/react.tsx
  webview/package.json
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/GetStarted.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/button/Button.tsx
  webview/src/shared/components/button/StartButton.tsx
  webview/src/shared/components/button/styles.module.scss
  webview/src/shared/components/emptyState/EmptyState.tsx
  webview/src/shared/components/icons/Add.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/stories/Plots.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add get started component to plots webview (#1718)
  extension/src/plots/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/__mocks__/@vscode/webview-ui-toolkit/react.tsx
  webview/package.json
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/GetStarted.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/button/Button.tsx
  webview/src/shared/components/button/StartButton.tsx
  webview/src/shared/components/button/styles.module.scss
  webview/src/shared/components/emptyState/EmptyState.tsx
  webview/src/shared/components/icons/Add.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/stories/Plots.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add expected codicons to welcome views (#1717)
  extension/package.json
Due: prettier --write

add periods
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/GetStarted.tsx
Due: prettier --write, eslint --cache --fix

update font family for welcome views
  webview/src/shared/components/emptyState/styles.module.scss
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
