Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

improve test
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

group registration of commands by the section in which they appear in the ui
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

abstract register external command
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

do not ask for extensions until the last moment
  extension/src/vscode/extensions.ts
Due: prettier --write, eslint --cache --fix

upgrade vscode-extension-telemetry package
  extension/package.json
  yarn.lock
Due: prettier --write

Add styling to headers and a few cells
  webview/src/components/Table/index.tsx
  webview/src/components/Table/styles.module.scss
Due: prettier --write, eslint --cache --fix

dvc: commit experiment a3b6208b450cfecd758a9b8ec3a2107f621f3524278ed68225f953989332d1d2
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
Due: prettier --write

dvc: commit experiment a3b6208b450cfecd758a9b8ec3a2107f621f3524278ed68225f953989332d1d2
  demo/.gitignore
Due: none

dvc: commit experiment c3b223c106eee68abf92b7cfc7d298bcd88afe3269b9f811554628f5494a4d92
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
Due: prettier --write

dvc: commit experiment e9a254bfab30f458eef3feff9c206f3513ad3a91db8d3f5bec76d084add37e0f
  demo/.gitignore
Due: none

dvc: commit experiment e9a254bfab30f458eef3feff9c206f3513ad3a91db8d3f5bec76d084add37e0f
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/predictions.json
Due: prettier --write

Added a sorting indicator
  extension/src/experiments/repository.ts
  extension/src/experiments/webview/contract.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/repository.test.ts
  webview/src/components/App.test.tsx
  webview/src/components/Experiments/index.tsx
  webview/src/components/Table/index.tsx
  webview/src/components/Table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Revert "dvc: commit experiment e9a254bfab30f458eef3feff9c206f3513ad3a91db8d3f5bec76d084add37e0f"
  demo/.gitignore
Due: none

Revert "dvc: commit experiment e9a254bfab30f458eef3feff9c206f3513ad3a91db8d3f5bec76d084add37e0f"
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/predictions.json
Due: prettier --write

Revert "dvc: commit experiment c3b223c106eee68abf92b7cfc7d298bcd88afe3269b9f811554628f5494a4d92"
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
Due: prettier --write

Revert "dvc: commit experiment a3b6208b450cfecd758a9b8ec3a2107f621f3524278ed68225f953989332d1d2"
  demo/.gitignore
Due: none

Revert "dvc: commit experiment a3b6208b450cfecd758a9b8ec3a2107f621f3524278ed68225f953989332d1d2"
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
Due: prettier --write

Fix storybook
  webview/src/stories/Experiments.stories.tsx
Due: prettier --write, eslint --cache --fix

upgrade vsce package
  extension/package.json
  yarn.lock
Due: prettier --write

added more tests
  extension/src/test/suite/experiments/repository.test.ts
  webview/src/components/Table/Table.test.tsx
Due: prettier --write, eslint --cache --fix

Add file comparison commands (#820)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

upgrade vscode-extension-telemetry package (#824)
  extension/package.json
  yarn.lock
Due: prettier --write

Use color variables and use them for different themes
  webview/src/components/Table/styles.module.scss
Due: none

upgrade vsce package (#827)
  extension/package.json
  yarn.lock
Due: prettier --write

order nls package json on key
  extension/package.nls.json
Due: prettier --write

order command palette declaration alphabetically (on command)
  extension/package.json
Due: prettier --write

order command declaration alphabetically (on command)
  extension/package.json
Due: prettier --write

move filter commands down to match position in ui
  extension/package.json
Due: prettier --write

Reorder/tidy declarations in package.json (#822)
  extension/package.json
  extension/package.nls.json
Due: prettier --write

extract function
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

reorder functions to match position in the ui
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

use get command abstraction
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix
