Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.56.0) (#5809)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

fix lint issue
  webview/src/shared/components/iconMenu/IconMenu.test.tsx
Due: prettier --write, eslint --cache --fix

build(deps): bump http-proxy-middleware from 2.0.6 to 2.0.7
  yarn.lock
Due: none

fix act warnings
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

Fix act warnings (#5811)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

migrate saas import statements
  webview/src/experiments/components/table/body/branchDivider/styles.module.scss
  webview/src/experiments/components/table/body/commits/styles.module.scss
  webview/src/experiments/components/table/styles.module.scss
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/plots/components/emptyState/styles.module.scss
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/setup/components/dvc/styles.module.scss
  webview/src/setup/components/experiments/styles.module.scss
  webview/src/setup/components/remotes/styles.module.scss
  webview/src/setup/components/shared/styles.module.scss
  webview/src/shared/components/copyButton/styles.module.scss
  webview/src/shared/components/emptyState/styles.module.scss
  webview/src/shared/components/errorIcon/styles.module.scss
  webview/src/shared/components/iconMenu/styles.module.scss
  webview/src/shared/components/messageBand/styles.module.scss
  webview/src/shared/components/messagesMenu/styles.module.scss
  webview/src/shared/components/modal/styles.module.scss
  webview/src/shared/components/sectionContainer/styles.module.scss
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/shared/components/slider/styles.module.scss
  webview/src/shared/components/tooltip/styles.module.scss
  webview/src/shared/mixins.scss
  webview/src/shared/styles.scss
  webview/src/stories/components/styles.module.scss
Due: none

migrate saas import statements (#5812)
  webview/src/experiments/components/table/body/branchDivider/styles.module.scss
  webview/src/experiments/components/table/body/commits/styles.module.scss
  webview/src/experiments/components/table/styles.module.scss
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/plots/components/emptyState/styles.module.scss
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/setup/components/dvc/styles.module.scss
  webview/src/setup/components/experiments/styles.module.scss
  webview/src/setup/components/remotes/styles.module.scss
  webview/src/setup/components/shared/styles.module.scss
  webview/src/shared/components/copyButton/styles.module.scss
  webview/src/shared/components/emptyState/styles.module.scss
  webview/src/shared/components/errorIcon/styles.module.scss
  webview/src/shared/components/iconMenu/styles.module.scss
  webview/src/shared/components/messageBand/styles.module.scss
  webview/src/shared/components/messagesMenu/styles.module.scss
  webview/src/shared/components/modal/styles.module.scss
  webview/src/shared/components/sectionContainer/styles.module.scss
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/shared/components/slider/styles.module.scss
  webview/src/shared/components/tooltip/styles.module.scss
  webview/src/shared/mixins.scss
  webview/src/shared/styles.scss
  webview/src/stories/components/styles.module.scss
Due: none

Exclude queued experiments from dvc root collection
  extension/src/cli/dvc/constants.ts
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/pipeline/data.ts
Due: prettier --write, eslint --cache --fix

Exclude queued experiments from dvc root collection (#5833)
  extension/src/cli/dvc/constants.ts
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/pipeline/data.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.57.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.57.0) (#5835)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.58.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.58.0) (#5846)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Upgrade extension telemetry package
  extension/package.json
  extension/src/telemetry/constants.ts
  extension/src/telemetry/index.test.ts
  extension/src/telemetry/index.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Upgrade extension telemetry package (#5853)
  extension/package.json
  extension/src/telemetry/constants.ts
  extension/src/telemetry/index.test.ts
  extension/src/telemetry/index.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Fix editor decorations for folders/files tracked by DVC
  extension/src/repository/sourceControlManagement/decorationProvider.ts
Due: prettier --write, eslint --cache --fix

Fix editor decorations for folders/files tracked by DVC (#5856)
  extension/src/repository/sourceControlManagement/decorationProvider.ts
Due: prettier --write, eslint --cache --fix

Switch to studio.datachain.ai
  README.md
  extension/resources/walkthrough/more-resources.md
  extension/src/setup/webview/contract.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/setup/index.test.ts
Due: prettier --write, eslint --cache --fix

Update index.ts
  extension/src/experiments/commands/index.ts
Due: prettier --write, eslint --cache --fix

Switch to `studio.datachain.ai` (#5887)
  README.md
  extension/resources/walkthrough/more-resources.md
  extension/src/experiments/commands/index.ts
  extension/src/setup/webview/contract.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/setup/index.test.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.59.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.59.0) (#5897)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

update Course domains
  README.md
  extension/resources/walkthrough/more-resources.md
Due: prettier --write

add renovate config to update demo project and dvc
  renovate.json
Due: prettier --write

remove enabledManagers
  renovate.json
Due: prettier --write

try to fix file regex to match
  renovate.json
Due: prettier --write

bump the timeout
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

pin vscode to 1.100.3
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

fix ci
  .github/workflows/continuous-integration.yml
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

fix ci (#5960)
  .github/workflows/continuous-integration.yml
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

disable pip cache on e2e tests
  .github/workflows/end-to-end-test.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

change template format
  .github/workflows/changelog-config.json
Due: prettier --write

get rid of cml
  .github/workflows/create-release-pr.yml
Due: none

bump node version to 20
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .github/workflows/end-to-end-test.yml
  .github/workflows/publish.yml
  extension/package.json
  extension/tsconfig.json
  languageServer/package.json
  languageServer/tsconfig.json
  webview/package.json
  webview/tsconfig.json
  yarn.lock
Due: prettier --write

bump node version to 20 (#5953)
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .github/workflows/end-to-end-test.yml
  .github/workflows/publish.yml
  extension/package.json
  extension/tsconfig.json
  languageServer/package.json
  languageServer/tsconfig.json
  webview/package.json
  webview/tsconfig.json
  yarn.lock
Due: prettier --write

fix: update tests for Jest 30 compatibility (#5972)
  extension/src/experiments/model/index.test.ts
  webview/src/shared/components/webviewWrapper/WebviewWrapper.test.tsx
Due: prettier --write, eslint --cache --fix

downgrade to v8
  webview/package.json
  yarn.lock
Due: prettier --write

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
