Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

remove glob from extension dev dependencies
  extension/package.json
Due: prettier --write

remove jest from individual packages
  extension/package.json
  webview/package.json
  yarn.lock
Due: prettier --write

move ts-loader to the root
  extension/package.json
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

remove npm run all from extension
  extension/package.json
Due: prettier --write

move webpack back and tackle as separate issue
  extension/package.json
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

move jest back into packages
  extension/package.json
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

Add a supplementary snapshot test
  extension/src/experiments/__snapshots__/transformExperimentsRepo.test.ts.snap
  extension/src/experiments/transformExperimentsRepo.test.ts
Due: prettier --write, eslint --cache --fix

upgrade webpack in webview
  webview/package.json
  webview/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

add development mode to serve call
  webview/package.json
Due: prettier --write

replace old node option
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

upgrade webpack in extension
  extension/package.json
  extension/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

get rid of external entry for workspace
  extension/webpack.config.ts
Due: prettier --write, eslint --cache --fix

move to old pattern
  extension/webpack.config.ts
Due: prettier --write, eslint --cache --fix

copy across all needed files
  extension/webpack.config.ts
Due: prettier --write, eslint --cache --fix

upgrade storybook dependencies
  webview/package.json
  yarn.lock
Due: prettier --write

further upgrade storybook
  webview/.storybook/main.js
  webview/package.json
  webview/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

commit something that works but isn't pretty
  extension/webpack.config.ts
Due: prettier --write, eslint --cache --fix

remove redundant code package and types
  extension/package.json
  extension/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Specify extension is compatible with stable vscode
  extension/package.json
Due: prettier --write

Squash mismatched dev env warning
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

Use >= for vscode version
  extension/package.json
Due: prettier --write

Downgrade @types/vscode
  extension/package.json
  yarn.lock
Due: prettier --write

remove define plugin
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

update minimum version of dvc
  demo/requirements.txt
Due: none

add basic queue of size 1 to experiment table
  extension/src/experiments/table.ts
  extension/src/test/suite/experiments/table.test.ts
Due: prettier --write, eslint --cache --fix

get existing repository behaviour under test
  extension/src/test/suite/experiments/table.test.ts
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

track internal commands classes in tests
  extension/src/test/suite/experiments/table.test.ts
Due: prettier --write, eslint --cache --fix

add basic queue of size 1 to repository reset state
  extension/src/repository/index.test.ts
  extension/src/repository/index.ts
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

correct it statement
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

add basic queue of size 1 to repository update state
  extension/src/repository/index.ts
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

reduce duplication
  extension/src/repository/index.ts
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

give suite the correct information message
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

add early return if update is called and reset in progress
  extension/src/repository/index.ts
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

test edge case
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

dispose of disposable after each test
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

move chai use sinon chai into central location
  extension/src/test/suite/cli/runner.test.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/table.test.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/extensions/git.test.ts
  extension/src/test/suite/fileSystem/views/trackedExplorerTree.test.ts
  extension/src/test/suite/index.ts
  extension/src/test/suite/repository/index.test.ts
  extension/src/test/suite/repository/views/sourceControlManagement.test.ts
  extension/src/test/suite/status.test.ts
  extension/src/test/suite/vscode/outputChannel.test.ts
  extension/src/test/suite/vscode/pseudoTerminal.test.ts
Due: prettier --write, eslint --cache --fix

draft very rough implementation of new data structure
  extension/src/experiments/table.ts
  extension/src/experiments/transformColumns.ts
  extension/src/experiments/transformExperimentsRepo.test.ts
  extension/src/experiments/transformExperimentsRepo.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/webview/index.ts
  webview/src/components/App.test.tsx
  webview/src/components/Experiments/index.tsx
  webview/src/components/GUI.tsx
  webview/src/model/index.ts
  webview/src/stories/Experiments.stories.tsx
  webview/src/util/build-dynamic-columns.tsx
Due: prettier --write, eslint --cache --fix

add generic retrier class
  extension/src/Retrier.ts
  extension/src/experiments/table.ts
Due: prettier --write, eslint --cache --fix

improve implementation
  extension/src/Retrier.ts
  extension/src/experiments/table.ts
Due: prettier --write, eslint --cache --fix

rename class
  extension/src/experiments/table.ts
  extension/src/processManager.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
