Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Update "No Plots" section message (#4793)
  extension/package.json
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/emptyState/AddPlots.tsx
  webview/src/plots/components/emptyState/ErrorState.tsx
  webview/src/plots/components/emptyState/WaitForPlotsInfo.tsx
  webview/src/plots/components/emptyState/styles.module.scss
  webview/src/plots/components/templatePlots/NoPlotsToDisplay.tsx
Due: prettier --write, eslint --cache --fix

Add tooltip inside zoomed in plot and correctly make it interactive
  webview/src/plots/components/ZoomablePlotWrapper.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
Due: prettier --write, eslint --cache --fix

Add a tooltip to plots with long titles that are cut by Vega (#4840)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/ZoomablePlotWrapper.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
Due: prettier --write, eslint --cache --fix

Update DVCLive xgboost snippet
  extension/snippets/dvclive.code-snippets
Due: none

Update DVCLive xgboost snippet (#4847)
  extension/snippets/dvclive.code-snippets
Due: none

test and refactor
  extension/src/fileSystem/index.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/components/constants.ts
  webview/src/util/styles.test.ts
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

manipulate svg so that legend is not truncated
  extension/src/plots/webview/messages.ts
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/util/styles.test.ts
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

close action menu on click
  webview/src/plots/components/ZoomedInPlot.tsx
Due: prettier --write, eslint --cache --fix

evaluate VS Code theme variables before saving svg
  extension/src/fileSystem/index.ts
  extension/src/plots/webview/messages.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/components/constants.ts
  webview/src/plots/components/templatePlots/TemplateVegaLite.tsx
  webview/src/plots/util/messages.ts
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Fix exporting plots to SVG (#4835)
  extension/src/fileSystem/index.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/components/constants.ts
  webview/src/plots/components/templatePlots/TemplateVegaLite.tsx
  webview/src/plots/util/messages.ts
  webview/src/util/styles.test.ts
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Update default export path for plots data
  extension/src/plots/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Update default export path for plots data (#4849)
  extension/src/plots/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Add `Add Plot` command to walkthrough
  extension/resources/walkthrough/plots.md
Due: prettier --write

Add `Add Plot` command to walkthrough (#4845)
  extension/resources/walkthrough/plots.md
Due: prettier --write

First iteration
  extension/src/experiments/commands/register.ts
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Adjust `getInputAndRun`
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.ts
Due: prettier --write, eslint --cache --fix

Add tooltips for plot titles and axis that get truncated
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/expShow/base/customPlots.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/ZoomablePlotWrapper.tsx
  webview/src/plots/components/ZoomedInPlot.tsx
  webview/src/plots/components/styles.module.scss
Due: prettier --write, eslint --cache --fix

Self-review
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  webview/src/plots/components/ZoomablePlotWrapper.tsx
Due: prettier --write, eslint --cache --fix

Fix DVCLive snippet in walkthrough
  extension/resources/walkthrough/live-plots.md
Due: prettier --write

Fix DVCLive snippet in walkthrough (#4853)
  extension/resources/walkthrough/live-plots.md
Due: prettier --write

Improve solution and add tests
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Amend changelog with missing entry
  CHANGELOG.md
Due: prettier --write

Amend changelog with missing entry (#4852)
  CHANGELOG.md
Due: prettier --write

Fix tests
  extension/src/plots/model/collect.ts
  extension/src/plots/model/custom.ts
  extension/src/plots/vega/util.ts
  extension/src/test/fixtures/expShow/base/customPlots.ts
Due: prettier --write, eslint --cache --fix

Fix lint error
  extension/src/plots/vega/util.ts
Due: prettier --write, eslint --cache --fix

Fix story linting
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.27.0)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Update demo project and latest tested CLI version (3.27.0) (#4860)
  extension/src/cli/dvc/contract.ts
Due: prettier --write, eslint --cache --fix

Warn user before trying to add a stage to their pipeline
  extension/src/experiments/webview/messages.ts
  extension/src/pipeline/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/pipeline/index.test.ts
  extension/src/test/suite/pipeline/util.ts
Due: prettier --write, eslint --cache --fix

Warn user before trying to add a stage to their pipeline (#4869)
  extension/src/experiments/webview/messages.ts
  extension/src/pipeline/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/pipeline/index.test.ts
  extension/src/test/suite/pipeline/util.ts
Due: prettier --write, eslint --cache --fix

Improve solution
  extension/src/experiments/commands/index.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/webview/messages.ts
  extension/src/experiments/workspace.ts
Due: prettier --write, eslint --cache --fix

Update tests
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

Fix `quickPickUserOrderedValues`windows test timing out
  extension/src/test/suite/vscode/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

Split drag and drop container in multiple files
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/DragDropItem.tsx
  webview/src/shared/components/dragDrop/DragDropItemWithTarget.tsx
  webview/src/shared/components/dragDrop/util.ts
Due: prettier --write, eslint --cache --fix

Fix undefined
  webview/src/shared/components/dragDrop/DragDropItem.tsx
Due: prettier --write, eslint --cache --fix

Add timeout to first test as well
  extension/src/test/suite/vscode/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
