Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Offer to Git init when there is no DVC project or Git repository (#3002)
  extension/src/extension.ts
  extension/src/fileSystem/index.ts
  extension/src/setup/index.ts
  extension/src/setup/webview/contract.ts
  extension/src/setup/webview/messages.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
  extension/src/webview/contract.ts
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/App.tsx
  webview/src/setup/components/ProjectUninitialized.tsx
  webview/src/stories/ProjectUninitialized.stories.tsx
Due: prettier --write, eslint --cache --fix

further test
  extension/src/extension.ts
  extension/src/setup/index.ts
  extension/src/setup/webview/contract.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
Due: prettier --write, eslint --cache --fix

move all of extension setup in to setup class
  extension/src/cli/dvc/discovery.ts
  extension/src/extension.ts
  extension/src/interfaces.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/setup/index.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

Split setup from extension (#3017)
  extension/src/cli/dvc/discovery.ts
  extension/src/extension.ts
  extension/src/interfaces.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/setup/index.ts
  extension/src/setup/webview/contract.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

rename extension setup in tests
  extension/src/setup/runner.test.ts
Due: prettier --write, eslint --cache --fix

rename original setup to runner
  extension/src/cli/dvc/discovery.ts
  extension/src/extension.ts
  extension/src/setup/index.ts
  extension/src/setup/runner.test.ts
  extension/src/setup/runner.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/setup/util.ts
Due: prettier --write, eslint --cache --fix

Rename original setup file to runner (#3018)
  extension/src/cli/dvc/discovery.ts
  extension/src/extension.ts
  extension/src/setup/index.ts
  extension/src/setup/runner.test.ts
  extension/src/setup/runner.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/setup/util.ts
Due: prettier --write, eslint --cache --fix

Simply welcome view inside view container
  extension/package.json
Due: prettier --write

add check compatible button to setup webview
  extension/src/setup/webview/messages.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/webview/contract.ts
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/App.tsx
  webview/src/setup/components/CliIncompatible.tsx
  webview/src/stories/CliIncompatible.stories.tsx
Due: prettier --write, eslint --cache --fix

Add periods to setup webview views
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/CliUnavailable.tsx
  webview/src/setup/components/NoData.tsx
  webview/src/setup/components/ProjectUninitialized.tsx
Due: prettier --write, eslint --cache --fix

add DVC and Git initialization watcher
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/reader.test.ts
  extension/src/experiments/data/index.ts
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/repository/model/index.ts
  extension/src/repository/model/tree.ts
  extension/src/setup/index.ts
  extension/src/test/cli/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/repository/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

dispose of watcher if project is available
  extension/src/setup/index.ts
Due: prettier --write, eslint --cache --fix

fix if condition
  extension/src/setup/index.ts
Due: prettier --write, eslint --cache --fix

add integration test for watchers
  extension/src/setup/index.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
Due: prettier --write, eslint --cache --fix

integrate walkthrough with setup webview
  extension/package.json
  extension/resources/walkthrough/install-dvc.md
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

switch button for show setup
  extension/package.json
  extension/resources/walkthrough/install-dvc.md
Due: prettier --write

Simply welcome view inside view container (#3023)
  extension/package.json
  extension/src/setup/webview/messages.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/webview/contract.ts
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/App.tsx
  webview/src/setup/components/CliIncompatible.tsx
  webview/src/stories/CliIncompatible.stories.tsx
Due: prettier --write, eslint --cache --fix

Add periods to setup views (#3024)
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/CliUnavailable.tsx
  webview/src/setup/components/NoData.tsx
  webview/src/setup/components/ProjectUninitialized.tsx
Due: prettier --write, eslint --cache --fix

Fix vscode tests
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Add DVC and Git initialization watcher (#3025)
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/reader.test.ts
  extension/src/experiments/data/index.ts
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
  extension/src/repository/model/index.ts
  extension/src/repository/model/tree.ts
  extension/src/setup/index.ts
  extension/src/test/cli/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/repository/model/tree.test.ts
  extension/src/test/suite/setup/index.test.ts
  extension/src/test/suite/setup/util.ts
Due: prettier --write, eslint --cache --fix

simplify run and reset action name
  extension/package.nls.json
  extension/src/test/e2e/util.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
Due: prettier --write, eslint --cache --fix

simplify run and reset action name (#3028)
  extension/package.nls.json
  extension/src/test/e2e/util.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Update experiment secondary name * take off brackets and adjust styling
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/quickPick.test.ts
  extension/src/test/fixtures/expShow/base/rows.ts
  extension/src/test/suite/experiments/workspace.test.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix chromatic test
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Remove unneeded code
  extension/src/experiments/model/index.test.ts
Due: prettier --write, eslint --cache --fix

Updat table story
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

revert top of setup project page
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

Integrate walkthrough with setup webview (#3026)
  extension/package.json
  extension/resources/walkthrough/install-dvc.md
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

Fix typo
  extension/src/experiments/model/collect.ts
Due: prettier --write, eslint --cache --fix

Add brackets back to experiment names
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/quickPick.test.ts
  extension/src/test/fixtures/expShow/base/rows.ts
  extension/src/test/suite/experiments/workspace.test.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Add commit data to Table stories
  webview/src/stories/Table.stories.tsx
  webview/src/stories/util.ts
Due: prettier --write, eslint --cache --fix

Revert "Fix chromatic test"
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

auto-locate sub-projects inside of monorepos
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

add config option to set focused projects inside of the workspace
  extension/package.json
  extension/package.nls.json
  extension/src/config.ts
  extension/src/setup/index.ts
  extension/src/test/suite/config.test.ts
  extension/src/vscode/config.ts
Due: prettier --write, eslint --cache --fix

rewrite config description
  extension/package.nls.json
Due: prettier --write

ensure focused projects are set on startup
  extension/src/config.ts
Due: prettier --write, eslint --cache --fix

standardize test paths
  extension/src/config.ts
  extension/src/test/suite/config.test.ts
Due: prettier --write, eslint --cache --fix

rename private method inside of setup
  extension/src/setup/index.ts
Due: prettier --write, eslint --cache --fix

update user facing text
  README.md
  extension/package.nls.json
Due: prettier --write

use output file
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
Due: none
