Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Update packages to fix minimatch vulnerability
  extension/package.json
  package.json
  yarn.lock
Due: prettier --write

Update packages to fix terser vulnerability
  package.json
  yarn.lock
Due: prettier --write

Update packages to fix got vulnerability
  package.json
  yarn.lock
Due: prettier --write

Remove undici yarn resolution
  package.json
  yarn.lock
Due: prettier --write

Remove undici yarn resolution (#2654)
  package.json
  yarn.lock
Due: prettier --write

Update packages to fix d3-color vulnerability (#2650)
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

Fix merge conflict
  package.json
Due: prettier --write

Update packages to fix minimatch vulnerability (#2651)
  package.json
  yarn.lock
Due: prettier --write

Update packages to fix terser vulnerability (#2652)
  package.json
  yarn.lock
Due: prettier --write

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

set CLI as available even if there are no DVC projects in the workspace
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Set CLI as available regardless of DVC projects in the workspace (#2661)
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Add details to `pickExperiments` quick pick items * fill quick pick items with values of first three columns
  extension/src/experiments/columns/model.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/util/date.ts
Due: prettier --write, eslint --cache --fix

Add experiment details when selecting exps for plots (#2670)
  extension/src/experiments/columns/model.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/util/date.ts
Due: prettier --write, eslint --cache --fix

Changing images with code to code snippets (#2588)
  extension/resources/walkthrough/images/plots-dump-image.png
  extension/resources/walkthrough/images/plots-dump-with-dvclive.png
  extension/resources/walkthrough/images/plots-dump-with-open-file.png
  extension/resources/walkthrough/images/setup-project-dump-metrics.png
  extension/resources/walkthrough/images/setup-project-dvc-yaml-example.png
  extension/resources/walkthrough/images/setup-project-dvclive-metrics.png
  extension/resources/walkthrough/plots.md
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

bump latest DVC tested version to 2.31
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

bump latest DVC tested version to 2.31 (#2677)
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Resize plots horizontally
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/Resizer.tsx
  webview/src/plots/components/SizePicker.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/plots/components/webviewSlice.ts
Due: prettier --write, eslint --cache --fix

Change prototype to change the number of items per row
  webview/src/plots/components/styles.module.scss
Due: none

Fix missing exp selection details on initial render * fills in missing quick pick details with columns collected from model data
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/columns/model.ts
Due: prettier --write, eslint --cache --fix

Fix missing exp selection quick pick details on inital extension render (#2694)
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/columns/model.ts
Due: prettier --write, eslint --cache --fix

Fix scheduled CLI output test by moving TEMP_DIR outside of Git repository
  extension/src/cli/git/constants.ts
  extension/src/cli/git/executor.ts
  extension/src/test/cli/constants.ts
  extension/src/test/cli/expShow.test.ts
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

Fix scheduled CLI output test by moving TEMP_DIR outside of Git repository (#2697)
  extension/src/cli/git/constants.ts
  extension/src/cli/git/executor.ts
  extension/src/test/cli/constants.ts
  extension/src/test/cli/expShow.test.ts
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

Add tooltips to experiments tree * add md table to exp tooltip, showing values of first three columns
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/model/util.ts
  extension/src/experiments/workspace.ts
  extension/src/test/util/jest/index.ts
Due: prettier --write, eslint --cache --fix

Improve exp selection quick pick description * truncate keys * add "," for further separation
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Truncate float values
  extension/src/experiments/model/quickPicks.ts
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Remove title from tooltip
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
Due: prettier --write, eslint --cache --fix

Improve exp selection quick pick details (#2711)
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Truncate keys and values
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
Due: prettier --write, eslint --cache --fix

fix infinite loop in plots when worspace only is selected
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

fix infinite loop in plots when worspace only is selected (#2715)
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

bump the latest tested DVC version
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

bump the latest tested DVC version (#2716)
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Add tooltips to experiments tree (#2706)
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/model/util.ts
  extension/src/experiments/workspace.ts
  extension/src/test/util/jest/index.ts
Due: prettier --write, eslint --cache --fix
