Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

remove listener for recommending yaml schemas
  extension/src/extension.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

add never option into config
  extension/package.json
  extension/package.nls.json
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

remove leftover integration test
  extension/src/test/suite/vscode/recommend.test.ts
Due: prettier --write, eslint --cache --fix

rename language association to recommend
  extension/src/extension.ts
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

rename functions to match new file name
  extension/src/extension.ts
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

increase timeout and provide test with parent (#901)
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

update dvc to be at least 2.8.1
  demo/requirements.txt
Due: none

increase default timeout of each testing library test to 10 seconds (windows)
  webview/jest.config.js
Due: prettier --write, eslint --cache --fix

Add .dvc and dvc.lock yaml language association in contributes.languages
  extension/package.json
Due: prettier --write

increase default timeout of each testing library test to 10 seconds (windows) (#905)
  webview/jest.config.js
Due: prettier --write, eslint --cache --fix

Rename language association to recommend (#902)
  extension/src/extension.ts
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

Add separate React to table webview
  extension/src/experiments/webview/index.ts
Due: prettier --write, eslint --cache --fix

update dvc to be at least 2.8.1 (#904)
  demo/requirements.txt
Due: none

Remove old plots webview classes
  extension/src/experiments/plotsWebview/contract.ts
  extension/src/experiments/plotsWebview/index.ts
Due: prettier --write, eslint --cache --fix

add red hat extension recommendation listener
  extension/package.json
  extension/package.nls.json
  extension/src/extension.ts
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/extensions.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
  extension/src/vscode/toast.ts
Due: prettier --write, eslint --cache --fix

remove the user from config title and description
  extension/package.nls.json
Due: prettier --write

Add prompt to show/install the Red Hat YAML extension (#903)
  extension/package.json
  extension/package.nls.json
  extension/src/extension.ts
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/extensions.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
  extension/src/vscode/toast.ts
Due: prettier --write, eslint --cache --fix

Turn createConfig function into static object
  webview/src/plots/components/Plots.tsx
Due: prettier --write, eslint --cache --fix

Add .dvc and dvc.lock yaml language association in contributes.languages (#906)
  extension/package.json
Due: prettier --write

remove language association recommendation
  extension/package.json
  extension/package.nls.json
  extension/src/extension.ts
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
  extension/src/vscode/toast.ts
Due: prettier --write, eslint --cache --fix

consolidate usage of yaml helper
  extension/src/fileSystem/index.ts
  extension/src/fileSystem/watcher.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

do not check is available stub
  extension/src/test/suite/vscode/recommend.test.ts
Due: prettier --write, eslint --cache --fix

increase timeout for remaining show webview tests
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

specifically call out not to run setup venv from demo folder
  CONTRIBUTING.md
Due: prettier --write

dvclive interface changed in most recent version - use the new interface
  demo/train.py
Due: none

pin dvc as 2.8.1 is broken for us
  demo/requirements.txt
Due: none

Remove language association recommendation (#907)
  extension/package.json
  extension/package.nls.json
  extension/src/extension.ts
  extension/src/fileSystem/index.ts
  extension/src/fileSystem/watcher.ts
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/recommend.test.ts
  extension/src/vscode/recommend.ts
  extension/src/vscode/toast.ts
Due: prettier --write, eslint --cache --fix

increase timeout for remaining show webview tests (#908)
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Use the new DVCLive API for our demo training script (#909)
  demo/requirements.txt
  demo/train.py
Due: none

remove isAvailable as it does not take into account activation events
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/extensions.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

update state of repository after staging files
  extension/src/repository/commands/index.ts
  extension/src/repository/workspace.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

update variable name to match experiments
  extension/src/repository/workspace.ts
Due: prettier --write, eslint --cache --fix

await git reset
  extension/src/repository/commands/index.ts
Due: prettier --write, eslint --cache --fix

specifically call out not to run setup venv from demo folder (#910)
  CONTRIBUTING.md
Due: prettier --write

remove isAvailable as it does not take into account activation events (#911)
  extension/src/test/suite/vscode/recommend.test.ts
  extension/src/vscode/extensions.ts
  extension/src/vscode/recommend.ts
Due: prettier --write, eslint --cache --fix

Manually update SCM state after staging or unstaging git tracked files (#912)
  extension/src/repository/commands/index.ts
  extension/src/repository/workspace.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

update empty state text on experiments tree view
  extension/package.json
Due: prettier --write

update empty state text on experiments tree view (#913)
  extension/package.json
Due: prettier --write

watch dot git folder for repository updates even it is outside the workspace
  extension/src/fileSystem/watcher.test.ts
  extension/src/fileSystem/watcher.ts
  extension/src/git.ts
  extension/src/repository/workspace.ts
Due: prettier --write, eslint --cache --fix

remove manual update of repositories for staging and unstaging files
  extension/src/repository/commands/index.ts
  extension/src/repository/workspace.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
