Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

only send environment based text and options when ms python is installed
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Update cell hover background color
  webview/src/shared/variables.scss
Due: none

Left align timestamp column text
  webview/src/experiments/components/table/styles.module.scss
Due: none

Left align timestamp column text (#2191)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Handle dep being added under the current commit (#2187)
  extension/src/experiments/columns/extract.ts
  extension/src/experiments/model/index.test.ts
Due: prettier --write, eslint --cache --fix

Add select python interpreter option to setup workspace toast message (#2186)
  extension/resources/walkthrough/install-dvc.md
  extension/src/extensions/python.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/vscode/response.ts
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

remove exp show and plots diff retry when git repo has no commits
  extension/src/cli/constants.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/cli/retry.test.ts
  extension/src/cli/retry.ts
  extension/src/experiments/data/collect.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/tree.ts
Due: prettier --write, eslint --cache --fix

Update table styles (#2133)
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

Improve table styles * add vscode prefix to `--checkbox-border` * keep cell spinners and unselected circles the same bg color as cells
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Fix more bugs * top sticky exp column from losing opacity on hover * properly fix colors on spinners and bullets
  webview/src/experiments/components/table/styles.module.scss
Due: none

Make drop zone larger for when dragging in template plots
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/util.ts
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/DropTarget.tsx
Due: prettier --write, eslint --cache --fix

any retry and return a default when error is unexpected
  extension/src/cli/constants.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/cli/retry.test.ts
  extension/src/cli/retry.ts
Due: prettier --write, eslint --cache --fix

self review
  extension/src/cli/reader.test.ts
  extension/src/cli/retry.ts
Due: prettier --write, eslint --cache --fix

Handle newly introduced deps
  extension/src/cli/reader.ts
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/extract.ts
  extension/src/experiments/model/index.test.ts
  extension/src/test/fixtures/expShow/uncommittedDeps.ts
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Update bullet and spinner bg on selected rows
  webview/src/experiments/components/table/styles.module.scss
Due: none

Improve table styles (#2197)
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Fix hidden header context menus
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix tests
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Add larger drop zones to checkpoint plots
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/util/array.ts
Due: prettier --write, eslint --cache --fix

Reduce number of lines
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Reduce lines even more for DragDropContainer
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Add tests
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
Due: prettier --write, eslint --cache --fix

use ternary
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Do not retry CLI process when unexpected error is received (#2200)
  extension/src/cli/constants.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/cli/retry.test.ts
  extension/src/cli/retry.ts
  extension/src/experiments/data/collect.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/tree.ts
Due: prettier --write, eslint --cache --fix

Handle newly introduced deps (before dvc commit) (#2202)
  extension/src/cli/reader.ts
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/extract.ts
  extension/src/experiments/model/index.test.ts
  extension/src/test/fixtures/expShow/uncommittedDeps.ts
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Do not remove watcher from previously collected metric file (exp show live updates)
  extension/src/data/index.ts
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/data/collect.ts
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

Do not remove watcher from previously collected metric file (exp show live updates) (#2203)
  extension/src/data/index.ts
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/data/collect.ts
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

Fix hidden header context menus (#2204)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Bump min tested DVC version to 2.18.1
  demo/requirements.txt
  extension/src/cli/constants.ts
Due: prettier --write, eslint --cache --fix

Bump min tested DVC version to 2.18.1 (#2207)
  demo/requirements.txt
  extension/src/cli/constants.ts
Due: prettier --write, eslint --cache --fix

Show min tested version in warning message
  extension/src/cli/version.ts
Due: prettier --write, eslint --cache --fix

Show min tested version in warning message (#2209)
  extension/src/cli/version.ts
Due: prettier --write, eslint --cache --fix

refactor workspace internals in order to add new capability
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
Due: prettier --write, eslint --cache --fix

dvc: commit experiment 031d2cee51582ad49ee27ea578a8de42c26bf1ca3cba26ba748d2322150d4171
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment b212afc58b6c6a96b4d62076599a52aef6079c30013b0e71fddf63df9c1de0d3
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write
