Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Fix merge conflict
  webview/src/experiments/components/table/header/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

Refactor context-menu options in table header (#2643)
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/webview/messages.ts
  extension/src/path/selection/model.ts
  extension/src/test/suite/experiments/index.test.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/header/ContextMenuContent.tsx
  webview/src/experiments/components/table/header/TableHeader.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

Fix tests
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/Resizer.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/util.ts
  webview/src/plots/hooks/useNbItemsPerRow.ts
  webview/src/test/mouseEventsWithCoordinates.ts
Due: prettier --write, eslint --cache --fix

Fix linting issues
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Resizer.tsx
Due: prettier --write, eslint --cache --fix

Add "views" section to sidebar
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/vscode/context.ts
  extension/src/webview/factory.ts
  extension/src/webview/index.ts
  extension/src/webview/repository.ts
  extension/src/webview/workspace.ts
Due: prettier --write, eslint --cache --fix

imprv: highlight row when cxt menu is active
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

imprv: highlight row when cxt menu is active (#2763)
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Replace the view buttons, "Add Sort" and "Add Filter" with links
  extension/package.json
Due: prettier --write

Move plots welcome view
  extension/package.json
Due: prettier --write

Fix e2e tests by updating command name
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

adress PR feedback
  webview/src/plots/components/ribbon/styles.module.scss
Due: none

feat/2731: make plots ribbon sticky on scroll
  webview/src/plots/components/ribbon/Ribbon.tsx
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/shared/components/webviewWrapper/WebviewWrapper.tsx
  webview/src/shared/components/webviewWrapper/styles.module.scss
Due: prettier --write, eslint --cache --fix

Make plots ribbon sticky on scroll (#2759)
  webview/src/plots/components/ribbon/Ribbon.tsx
  webview/src/plots/components/ribbon/styles.module.scss
  webview/src/shared/components/webviewWrapper/WebviewWrapper.tsx
  webview/src/shared/components/webviewWrapper/styles.module.scss
Due: prettier --write, eslint --cache --fix

Update latest tested cli version to `2.34.1`
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Add "views" section to sidebar (#2760)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/vscode/context.ts
  extension/src/webview/factory.ts
  extension/src/webview/index.ts
  extension/src/webview/repository.ts
  extension/src/webview/workspace.ts
Due: prettier --write, eslint --cache --fix

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Double timeout
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Add resolution for loader-utils
  package.json
  yarn.lock
Due: prettier --write

Update labels
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

fix map on undefined is path doesn't exist in rev
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

return datapoints from flatmap
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

Fix map on undefined if path doesn't exist in rev (#2785)
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

Revert "Update version and CHANGELOG for release (#2786)"
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Revert "Update version and CHANGELOG for release (#2786)" (#2787)
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Add resolution for loader-utils (#2783)
  package.json
  yarn.lock
Due: prettier --write

Load projects with multi root workspaces
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Load projects with multi root workspaces (#2791)
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Check availability and compatibility on DVC projects in multi root workspaces
  extension/src/extension.ts
  extension/src/interfaces.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Check availability and compatibility on DVC projects in multi root workspaces (#2795)
  extension/src/extension.ts
  extension/src/interfaces.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

stabilise tests when running locally
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

update demo project
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

update latest tested version
  extension/src/cli/dvc/constants.ts
Due: prettier --write, eslint --cache --fix

Update the DVC: Get Started / Plots Dashboard
  extension/resources/walkthrough/plots.md
Due: prettier --write

Emoji removed
  extension/resources/walkthrough/plots.md
Due: prettier --write
