Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Suggest existing files as parameter files
  extension/src/lsp-client/language-client.ts
  languageServer/src/DvcLanguageServer.ts
  languageServer/src/DvcTextDocument.ts
  languageServer/src/DvcYamlModel.ts
  languageServer/src/test/completions.test.ts
Due: prettier --write, eslint --cache --fix

add tests for new behaviour
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

update test statements
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Always show context menu on right click (#2355)
  webview/src/experiments/components/App.test.tsx
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

add header context menu tests
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/TableHeaderCellContents.tsx
Due: prettier --write, eslint --cache --fix

ensure welcome screen is not shown when only one column is provided
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

Dismiss tooltip/context menus on Escape (#2354)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/TableHeaderCellContents.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
Due: prettier --write, eslint --cache --fix

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

initial working version, rev provided for complex plots
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
Due: prettier --write, eslint --cache --fix

Truncate all titles
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/util.ts
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

Self review
  webview/src/plots/components/ZoomablePlot.tsx
Due: prettier --write, eslint --cache --fix

Change tests
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Update row styles (#2351)
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Fix zoomed in plot overflow
  webview/src/plots/components/styles.module.scss
Due: none

Update table indicators and chevrons/stars styles * update indicator, matching style to VSCode * update chevrons and stars, updating colors to match VSCode trees
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Add missing chevron css rule
  webview/src/experiments/components/table/styles.module.scss
Due: none

Ensure welcome screen is not shown when only one column is provided (#2363)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

Fix zoomed in plot overflow (#2366)
  webview/src/plots/components/styles.module.scss
Due: none

Update table indicators and chevrons/stars styles (#2367)
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Truncate all long titles inside of plots (#2365)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/util.ts
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

Move context menu placement
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Ensure table indicators do not overlap with experiment column title
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

undrill firstExpColumnCellId prop and use util function
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/TableHeaderCell.tsx
  webview/src/experiments/util/columns.ts
Due: prettier --write, eslint --cache --fix

Cut overflowing comparison table text
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Move context menu placement (#2377)
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Ensure table indicators do not overlap with experiment column title (#2376)
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/TableHeaderCell.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/columns.ts
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

Add offset to context menu
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Fix typo
  webview/src/experiments/components/table/Cell.tsx
Due: prettier --write, eslint --cache --fix

Cut overflowing comparison table text (#2381)
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/comparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add plotting actions to experiments table context menu
  extension/src/experiments/commands/register.ts
  extension/src/experiments/webview/messages.ts
  extension/src/plots/commands/register.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/webview/contract.ts
  extension/src/webview/workspace.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
Due: prettier --write, eslint --cache --fix

fix view title command registration
  extension/src/experiments/commands/register.ts
  extension/src/plots/commands/register.ts
Due: prettier --write, eslint --cache --fix

fix brackets so that tests run and do what they are meant to
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

update context menu labels
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Improve wording
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

Update selected row foreground
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Fix storybook
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Update cell hint styles and context menu position (#2384)
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellHintTooltip.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Show multiple commits
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/reader.test.ts
  extension/src/cli/dvc/reader.ts
Due: prettier --write, eslint --cache --fix

Add plotting actions to experiments table context menu (#2388)
  extension/src/experiments/commands/register.ts
  extension/src/experiments/webview/messages.ts
  extension/src/plots/commands/register.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/webview/contract.ts
  extension/src/webview/workspace.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
Due: prettier --write, eslint --cache --fix
