Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Add other story + try to make zoomed in plot look better in storybook
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/modal/styles.module.scss
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Change modal sizing approach
  webview/src/shared/components/modal/styles.module.scss
Due: none

Remove font-family: monospace rule from rowGroup
  webview/src/experiments/components/table/styles.module.scss
Due: none

Make tooltip styles more VSCode-like (#1624)
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/shared/components/tooltip/styles.module.scss
  webview/src/shared/style.scss
  webview/src/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --cache --fix

display data as not in cache when status is not in cache and diff is deleted (#1650)
  extension/src/repository/model/index.test.ts
  extension/src/repository/model/index.ts
Due: prettier --write, eslint --cache --fix

Remove all border radii that aren't making circles
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/iconMenu/styles.module.scss
Due: none

Zoomed in plot background (#1652)
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/modal/Modal.tsx
  webview/src/shared/components/modal/styles.module.scss
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

commit new training details
  demo/dvc.lock
Due: none

add s3 to dvc requirement (for push)
  demo/requirements.txt
Due: none

Update train.py (#1651)
  demo/dvc.lock
  demo/requirements.txt
  demo/train.py
Due: none

bump patch version for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

add show webviews commands to view titles
  extension/package.json
Due: prettier --write

bump patch version for release (#1654)
  CHANGELOG.md
  extension/package.json
Due: prettier --write

remove run experiment 2 svg
  extension/resources/light/run-experiment2.svg
Due: none

remove run experiment 2 svg (#1661)
  extension/resources/light/run-experiment2.svg
Due: none

Remove all border radii that aren't making circles (#1653)
  webview/src/plots/components/comparisonTable/styles.module.scss
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/iconMenu/styles.module.scss
Due: none

add show webviews commands to view titles (#1655)
  extension/package.json
Due: prettier --write

Add context menu to experiment table rows (#1267)
  extension/src/commands/internal.ts
  extension/src/experiments/index.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/util.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/interfaces.ts
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/messagesMenu/MessagesMenu.tsx
  webview/src/shared/components/messagesMenu/MessagesMenuOption.tsx
  webview/src/shared/components/messagesMenu/styles.module.scss
  webview/src/shared/components/selectMenu/SelectMenuOption.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/stories/ContextMenu.stories.tsx
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix messages menu styles
  webview/src/shared/components/messagesMenu/styles.module.scss
Due: none

update row data for new usage
  webview/src/experiments/components/table/Table.tsx
Due: prettier --write, eslint --cache --fix

add inline actions to tree
  extension/package.json
Due: prettier --write

add inline actions to tree (#1658)
  extension/package.json
Due: prettier --write

add modify params and run command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

add integration test
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

lint package.json
  extension/package.json
Due: prettier --write

switch inline commands
  extension/package.json
Due: prettier --write

Add modify params and run command (#1660)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

revert view name
  extension/package.json
Due: prettier --write

link tree to webview by changing title and view title actions
  extension/package.json
Due: prettier --write

add extra command to context menu
  extension/package.json
Due: prettier --write

add modify experiment and run to webview context menu
  extension/src/experiments/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

use nested push if
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

remove erroneous whitespace
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

use context values to switch icons
  extension/package.json
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

rework dependency tree for packaging
  extension/package.json
Due: prettier --write

add warning but initialize if the minor version of the CLI is ahead
  extension/src/cli/version.test.ts
  extension/src/cli/version.ts
Due: prettier --write, eslint --cache --fix

rearrange tests
  extension/src/cli/version.test.ts
Due: prettier --write, eslint --cache --fix

always try to initialize if setup the workspace is run and cli is unavailable
  extension/src/extension.ts
  extension/src/extensions/python.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
