Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

upgrade all dependencies except execa and react-beautiful-dnd-test-utils
  extension/package.json
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

standardise casing in enums
  extension/src/common/logger.ts
  extension/src/config.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/paramsAndMetrics/model.test.ts
  extension/src/experiments/paramsAndMetrics/model.ts
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/experiments/paramsAndMetrics/tree.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/webview/contract.ts
  extension/src/webview/index.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Table/Table.test.tsx
  webview/src/experiments/model/index.ts
  webview/src/experiments/model/model.test.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/App.tsx
  webview/src/plots/hooks/useAppReducer.ts
  webview/src/test/util.ts
Due: prettier --write, eslint --cache --fix

add apply filters command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

add integration test
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

enhance integration test
  extension/src/experiments/model/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

reset spy after each call
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

ensure we do not add another full workspace fs watcher (#1067)
  extension/src/data/index.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Add apply filters command (#1070)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

standardise casing in enums (#1069)
  extension/src/common/logger.ts
  extension/src/config.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/paramsAndMetrics/model.test.ts
  extension/src/experiments/paramsAndMetrics/model.ts
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/experiments/paramsAndMetrics/tree.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/webview/contract.ts
  extension/src/webview/index.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Table/Table.test.tsx
  webview/src/experiments/model/index.ts
  webview/src/experiments/model/model.test.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/App.tsx
  webview/src/plots/hooks/useAppReducer.ts
  webview/src/test/util.ts
Due: prettier --write, eslint --cache --fix

add hover menu component and multi select menu in storybook
  .gitignore
  extension/resources/check.svg
  webview/src/css.d.ts
  webview/src/shared/components/hoverMenu/HoverMenu.test.tsx
  webview/src/shared/components/hoverMenu/HoverMenu.tsx
  webview/src/shared/components/hoverMenu/styles.module.scss
  webview/src/shared/components/selectMenu/SelectMenu.test.tsx
  webview/src/shared/components/selectMenu/SelectMenu.tsx
  webview/src/shared/components/selectMenu/SelectMenuOption.test.tsx
  webview/src/shared/components/selectMenu/SelectMenuOption.tsx
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/stories/HoverMenu.stories.tsx
  webview/src/svg.d.ts
Due: prettier --write, eslint --cache --fix

Refactor Cell components
  webview/src/experiments/components/Table/index.tsx
Due: prettier --write, eslint --cache --fix

Add @svgr/webpack
  webview/package.json
  yarn.lock
Due: prettier --write

Add copy button to table cells
  webview/jest.config.js
  webview/src/experiments/components/CopyButton/index.tsx
  webview/src/experiments/components/Table/copy.svg
  webview/src/experiments/components/Table/styles.module.scss
  webview/src/experiments/svg.d.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

Move svg declaration to match other PR
  webview/src/svg.d.ts
Due: prettier --write, eslint --cache --fix

Rename duplicated name Cell component
  webview/src/experiments/components/Table/index.tsx
Due: prettier --write, eslint --cache --fix

upgrade all dependencies except execa and react-beautiful-dnd-test-utils (#1068)
  extension/package.json
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

add type into generic (breaking change from dependency upgrades)
  webview/src/shared/components/selectMenu/SelectMenuOption.tsx
Due: prettier --write, eslint --cache --fix

Hover menu component (#1071)
  .gitignore
  extension/resources/check.svg
  webview/src/css.d.ts
  webview/src/shared/components/hoverMenu/HoverMenu.test.tsx
  webview/src/shared/components/hoverMenu/HoverMenu.tsx
  webview/src/shared/components/hoverMenu/styles.module.scss
  webview/src/shared/components/selectMenu/SelectMenu.test.tsx
  webview/src/shared/components/selectMenu/SelectMenu.tsx
  webview/src/shared/components/selectMenu/SelectMenuOption.test.tsx
  webview/src/shared/components/selectMenu/SelectMenuOption.tsx
  webview/src/shared/components/selectMenu/styles.module.scss
  webview/src/stories/HoverMenu.stories.tsx
  webview/src/svg.d.ts
Due: prettier --write, eslint --cache --fix

use dvc alias for svg import
  webview/src/stories/HoverMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

hide remaining commands when dvc is unavailable
  extension/package.json
Due: prettier --write

use clock for all queued experiments
  extension/resources/dark/clock.svg
  extension/resources/light/clock.svg
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/resourceLocator.ts
  webview/src/experiments/components/Table/styles.module.scss
Due: prettier --write, eslint --cache --fix

use package name for svgs
  webview/src/experiments/components/Table/styles.module.scss
Due: none

use webpack v5 magic
  webview/src/experiments/components/Table/styles.module.scss
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

use dvc alias for svg import (#1074)
  webview/src/stories/HoverMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

Update queued experiment icons (#1078)
  extension/resources/dark/clock.svg
  extension/resources/light/clock.svg
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/resourceLocator.ts
  webview/src/experiments/components/Table/styles.module.scss
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

hide remaining commands when dvc is unavailable (#1075)
  extension/package.json
Due: prettier --write

improve context value name
  extension/package.json
  extension/src/experiments/model/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

add when context to hide filter command if filters are applied
  extension/package.json
  extension/src/experiments/model/index.ts
Due: prettier --write, eslint --cache --fix

rework integration tests
  extension/src/experiments/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/util.ts
Due: prettier --write, eslint --cache --fix

hide commands from palette dependent on context value
  extension/package.json
Due: prettier --write

add disable auto apply filters command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

Add auto apply filters to experiments selection (mode) (#1076)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/workspace.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/util.ts
Due: prettier --write, eslint --cache --fix

Add CopyButton component tests and config to support them
  webview/__mocks__/svgrMock.ts
  webview/jest.config.js
  webview/package.json
  webview/src/experiments/components/CopyButton/index.test.tsx
  webview/src/experiments/components/CopyButton/index.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Refactor Cell components (#1072)
  webview/src/experiments/components/Table/index.tsx
Due: prettier --write, eslint --cache --fix

Make svgr usable with import query
  webview/jest.config.js
  webview/src/experiments/components/CopyButton/index.tsx
  webview/src/svg.d.ts
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

add a icon menu component
  extension/resources/dots.svg
  extension/resources/down_arrow.svg
  extension/resources/lines.svg
  extension/resources/pencil.svg
  extension/resources/up_arrow.svg
  webview/src/shared/components/hoverMenu/HoverMenu.tsx
  webview/src/shared/components/hoverMenu/styles.module.scss
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
  webview/src/stories/HoverMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

fix tests
  webview/src/shared/components/hoverMenu/HoverMenu.test.tsx
Due: prettier --write, eslint --cache --fix

Fix svgr in storybook
  webview/.storybook/main.ts
Due: prettier --write, eslint --cache --fix

Ignore .storybook in codeclimate
  .codeclimate.json
Due: prettier --write

Remove space from between cell content and copy button
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix
