Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Use external JSON fixtures
  extension/src/experiments/__snapshots__/buildColumns.test.ts.snap
  extension/src/experiments/buildColumns.test.ts
  extension/src/experiments/webview/experimentsShowSchemaExample.json
Due: prettier --write, eslint --cache --fix

Replace snapshots with explicit feature tests
  extension/src/experiments/__snapshots__/buildColumns.test.ts.snap
  extension/src/experiments/buildColumns.test.ts
  extension/src/experiments/webview/experimentsShowSchemaExample.json
Due: prettier --write, eslint --cache --fix

Reword messages
  extension/src/experiments/buildColumns.test.ts
Due: prettier --write, eslint --cache --fix

Remove outdated fixture
  extension/src/experiments/webview/experimentsShowSchemaExample.json
Due: prettier --write

extend mention of python extension
  CONTRIBUTING.md
Due: prettier --write

Mention Python extension dependency in contributing guidelines (#538)
  CONTRIBUTING.md
Due: prettier --write

remove tag
  CONTRIBUTING.md
Due: prettier --write

remove tag (#541)
  CONTRIBUTING.md
Due: prettier --write

add version and iso date to logging
  extension/src/extension.ts
  extension/src/test/suite/vscode/outputChannel.test.ts
  extension/src/vscode/outputChannel.ts
Due: prettier --write, eslint --cache --fix

invert root check conditional so we run workspaceChanged on blank workspace.
  extension/src/fileSystem/views/trackedExplorerTree.ts
Due: prettier --write, eslint --cache --fix

add command string helper
  extension/src/cli/command.test.ts
  extension/src/cli/command.ts
  extension/src/cli/index.ts
  extension/src/util/array.test.ts
  extension/src/util/array.ts
Due: prettier --write, eslint --cache --fix

use helper in runner
  extension/src/cli/runner.ts
Due: prettier --write, eslint --cache --fix

Make `initializeOrNotify` a bit more readable
  extension/src/extension.ts
  extension/src/fileSystem/views/trackedExplorerTree.ts
Due: prettier --write, eslint --cache --fix

use util in second place
  extension/src/cli/index.ts
Due: prettier --write, eslint --cache --fix

update test wording
  extension/src/cli/command.test.ts
Due: prettier --write, eslint --cache --fix

Move try/catch into canRunCli and make it a true boolean function
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

move array util into array file
  extension/src/config.ts
  extension/src/extension.ts
  extension/src/fileSystem/index.ts
  extension/src/fileSystem/views/trackedExplorerTree.ts
  extension/src/util/array.test.ts
  extension/src/util/array.ts
  extension/src/util/index.ts
Due: prettier --write, eslint --cache --fix

only initialize repositories once
  extension/src/extension.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

only initialize repositories once (#544)
  extension/src/extension.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

move array util into array file (#543)
  extension/src/config.ts
  extension/src/extension.ts
  extension/src/fileSystem/index.ts
  extension/src/fileSystem/views/trackedExplorerTree.ts
  extension/src/util/array.test.ts
  extension/src/util/array.ts
  extension/src/util/index.ts
Due: prettier --write, eslint --cache --fix

Change tuple to object
  extension/src/experiments/buildColumns.test.ts
  extension/src/experiments/buildColumns.ts
  extension/src/experiments/table.ts
Due: prettier --write, eslint --cache --fix

test -> it
  extension/src/experiments/buildColumns.test.ts
Due: prettier --write, eslint --cache --fix

Add max/min number to columns (and tests!)
  extension/src/experiments/buildColumns.test.ts
  extension/src/experiments/buildColumns.ts
Due: prettier --write, eslint --cache --fix

remove unused getDvcRoot
  extension/src/experiments/table.ts
Due: prettier --write, eslint --cache --fix

Don't show info message when no workspaces are present
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Rework flow to still update when no roots present
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Stop throwing on empty workspace (#540)
  extension/src/config.ts
  extension/src/extension.ts
  extension/src/fileSystem/views/trackedExplorerTree.ts
Due: prettier --write, eslint --cache --fix

rename repository commands root to index
  extension/src/repository/commands/index.test.ts
  extension/src/repository/commands/index.ts
  extension/src/repository/commands/register.ts
Due: prettier --write, eslint --cache --fix

add force functions
  extension/src/cli/executor.test.ts
  extension/src/cli/executor.ts
Due: prettier --write, eslint --cache --fix

add show generic error wrapper
  extension/src/vscode/modal.test.ts
  extension/src/vscode/modal.ts
Due: prettier --write, eslint --cache --fix

add root command file
  extension/src/cli/output.ts
  extension/src/repository/commands/root.test.ts
  extension/src/repository/commands/root.ts
Due: prettier --write, eslint --cache --fix

match test it statement to functions
  extension/src/cli/executor.test.ts
Due: prettier --write, eslint --cache --fix

plug edge case where no stderr is in the error
  extension/src/repository/commands/root.test.ts
  extension/src/repository/commands/root.ts
Due: prettier --write, eslint --cache --fix

fix test wording
  extension/src/repository/commands/root.test.ts
Due: prettier --write, eslint --cache --fix

add basic vscode modal wrapper
  extension/src/vscode/modal.test.ts
  extension/src/vscode/modal.ts
Due: prettier --write, eslint --cache --fix

wire up command registration
  extension/src/repository/commands/register.ts
  extension/src/test/suite/repository/views/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

Non-breaking package update
  yarn.lock
Due: none

Let in some breaking updates for test packages
  extension/package.json
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

Remove branch target for exotic dep
  webview/package.json
Due: prettier --write

Disable Storybook react docgen
  webview/.storybook/main.js
Due: prettier --write, eslint --cache --fix
