Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

update contributing doc
  CONTRIBUTING.md
Due: prettier --write

add to cspell words
  .vscode/settings.json
Due: prettier --write

rework sentence
  CONTRIBUTING.md
Due: prettier --write

Move commands currently being incorrectly run via the `IntegratedTerminal` to the `reader` (#203)
  extension/src/IntegratedTerminal.test.ts
  extension/src/IntegratedTerminal.ts
  extension/src/cli/commands.ts
  extension/src/cli/index.test.ts
  extension/src/cli/index.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Replace redundant createPythonInstance with createInstance call
  extension/src/IntegratedTerminal.ts
Due: prettier --write, eslint --cache --fix

Make cliPath optional in most interfaces
  extension/src/Config.ts
  extension/src/cli/index.ts
  extension/src/cli/reader.ts
  extension/src/fileSystem.ts
Due: prettier --write, eslint --cache --fix

Make setting default dvc path set undefined
  extension/package.json
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

Add extra implementation to vscode mock
  extension/src/__mocks__/vscode.ts
Due: prettier --write, eslint --cache --fix

Change dvcPath config option description
  extension/package.json
Due: prettier --write

Remove `findCliPath` and Rework `selectDvcPath`
  extension/src/Config.ts
  extension/src/fileSystem.test.ts
  extension/src/fileSystem.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Simplify custom dvc binary callback
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

ignore demo logs from correct location
  .gitignore
  demo/.gitignore
Due: none

add to known words
  .vscode/settings.json
Due: prettier --write

add listDvcOnlyRecursive function
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
Due: prettier --write, eslint --cache --fix

add findDvcTracked function
  extension/src/fileSystem.test.ts
  extension/src/fileSystem.ts
Due: prettier --write, eslint --cache --fix

add ready into Config
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

wire up DecorationProvider
  extension/src/DecorationProvider.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Remove object dvcclipath and use config api
  extension/src/Config.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Set dvcPathStatusBarItem text in status bar constructor
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

created button component, fixed button colour styles in manage columns, added tab buttons to manage columns
  .gitignore
  webview/src/components/Button/index.tsx
  webview/src/components/Button/styles.module.scss
  webview/src/components/Dropdown/index.tsx
  webview/src/components/Dropdown/styles.module.scss
  webview/src/components/ManageColumns/index.tsx
  webview/src/components/ManageColumns/styles.module.scss
  webview/src/components/Menu/index.tsx
  webview/src/components/Menu/styles.module.scss
  webview/src/components/Table/styles.module.scss
Due: prettier --write, eslint --cache --fix

refactor findDvcTrackedPaths
  extension/src/extension.ts
  extension/src/fileSystem.test.ts
  extension/src/fileSystem.ts
Due: prettier --write, eslint --cache --fix

move eventEmitter into DecorationProvider
  extension/src/DecorationProvider.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

fix c+p test it
  extension/src/cli/reader.test.ts
Due: prettier --write, eslint --cache --fix

update test it c+p error
  extension/src/fileSystem.test.ts
Due: prettier --write, eslint --cache --fix

hoist demoFolderLocation
  extension/src/fileSystem.test.ts
Due: prettier --write, eslint --cache --fix

stub listDvcOnlyRecursive for integration tests
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

separate general, metrics and parameter rows
  webview/src/components/ManageColumns/index.tsx
  webview/src/components/ManageColumns/styles.module.scss
Due: prettier --write, eslint --cache --fix

make system agnostic
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

remove separator when doing the first item in the menu
  webview/src/components/Menu/styles.module.scss
Due: none

update test wording
  extension/src/fileSystem.test.ts
Due: prettier --write, eslint --cache --fix

Rewrite dvcPath description and move it to nls file
  extension/package.json
  extension/package.nls.json
Due: prettier --write

Move pythonExtension
  extension/src/IntegratedTerminal.ts
  extension/src/cli/reader.ts
  extension/src/extensions/python.ts
Due: prettier --write, eslint --cache --fix

Add tests for `getDvcInvocation`
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
Due: prettier --write, eslint --cache --fix

Change DVC Path to DVC CLI Path in config
  extension/package.nls.json
Due: prettier --write

Roll getActivatedPythonExtension into getReadyPythonExtension
  extension/src/extensions/python.ts
Due: prettier --write, eslint --cache --fix

Remove "Global" option in DVC path selector
  extension/src/Config.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Remove vscode mock additions
  extension/src/__mocks__/vscode.ts
Due: prettier --write, eslint --cache --fix

Remove DVCPATH and dev-ui-win
  .vscode/launch.json
  package.json
Due: prettier --write

Change DVC path selector text entry to file picker
  extension/src/Config.ts
Due: prettier --write, eslint --cache --fix

Remove custom dvc item integration test
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
