Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

fix cognitive complexity
  webview/src/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

fix wrong check
  webview/src/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

extract buildMockedExperiments into something reusable
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/util/index.ts
Due: prettier --write, eslint --cache --fix

Fix the headers when there is column nesting and different levels (#810)
  webview/src/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Move jest tests to their own file and ignore test util folder in codeclimate
  .codeclimate.json
  demo/params.yaml
  extension/src/cli/executor.test.ts
  extension/src/cli/index.test.ts
  extension/src/cli/reader.test.ts
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/util/index.ts
  extension/src/test/util/jest/index.ts
Due: prettier --write, eslint --cache --fix

Extract buildMockedExperiments into a reusable util (#811)
  .codeclimate.json
  demo/params.yaml
  extension/src/cli/executor.test.ts
  extension/src/cli/index.test.ts
  extension/src/cli/reader.test.ts
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/util/index.ts
  extension/src/test/util/jest/index.ts
Due: prettier --write, eslint --cache --fix

run repo data update command synchronously
  extension/src/repository/index.test.ts
  extension/src/repository/index.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

use correct data type for status call
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

reduce promise code down to what is needed
  extension/src/experiments/repository.ts
  extension/src/repository/index.ts
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
Due: prettier --write, eslint --cache --fix

add whitespace between brackets and variable
  .github/workflows/cross-platform-test.yml
Due: none

fix test statements
  extension/src/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

move first promise outside of promise all
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

simplify test
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

add whitespace between brackets and variable (#813)
  .github/workflows/cross-platform-test.yml
Due: none

remove promise all settled
  extension/src/util/promise.ts
Due: prettier --write, eslint --cache --fix

use fake timers in flaky test
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

use fake timers for all the repository queue tests
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

use global clock for all of the tests
  extension/src/test/suite/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

Fix status and diff commands blocking each other (run sync) (#812)
  extension/src/experiments/repository.ts
  extension/src/repository/index.test.ts
  extension/src/repository/index.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/repository/index.test.ts
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
Due: prettier --write, eslint --cache --fix

remove python path from launch scripts
  .vscode/launch.json
Due: prettier --write

remove python path from launch scripts (#814)
  .vscode/launch.json
Due: prettier --write

Remove accidentally committed demo params
  demo/params.yaml
Due: none

Remove accidentally committed demo params (#815)
  demo/params.yaml
Due: none

add virtual context to tracked explorer tree
  extension/package.json
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

remove dead code
  extension/package.json
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

move registration into vscode commands
  extension/src/fileSystem/tree.ts
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

remove remaining reference to dead option
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

move setup action after cache restoration
  .github/workflows/continuous-integration.yml
Due: none

repeat move in cross platform tests
  .github/workflows/cross-platform-test.yml
Due: none

do not think you need the old action anymore
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

do not require module until we need it
  extension/src/extension.ts
  extension/src/telemetry/index.ts
Due: prettier --write, eslint --cache --fix

Upgrade setup-node in actions (#817)
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

Split commands in tracked explorer tree between virtual and non-virtual paths (#816)
  extension/package.json
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

add find in folder command
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/telemetry/constants.ts
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

update context values to include dir
  extension/package.json
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

add integration test for find in folder
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

Add find in folder command (#818)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

only create one instance of the telemetry reporter in debug sessions
  extension/src/telemetry/index.ts
Due: prettier --write, eslint --cache --fix

add commands to compare different files
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/telemetry/constants.ts
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

add integration test for compare commands
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix
