Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Add util for identifying ValueTree type (#2619)
  extension/src/cli/dvc/contract.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
  extension/src/experiments/model/modify/collect.ts
  extension/src/plots/model/collect.ts
Due: prettier --write, eslint --cache --fix

check if failures relate to insiders build
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

Change more demo paths
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/fileSystem/watcher.test.ts
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

fix turborepo syntax
  extension/package.json
  extension/src/test/runTest.ts
  turbo.json
Due: prettier --write, eslint --cache --fix

reset activation events
  extension/package.json
Due: prettier --write

Cleanup
  extension/src/cli/git/constants.ts
  extension/src/cli/git/executor.ts
  extension/src/test/util/index.ts
Due: prettier --write, eslint --cache --fix

add inputs to cover-vscode-run
  turbo.json
Due: prettier --write

explicitly set dependencies of cover-vscode-run
  turbo.json
Due: prettier --write

use stable build for testing
  extension/src/test/runTest.ts
  turbo.json
Due: prettier --write, eslint --cache --fix

Switch CI test coverage to use stable build (#2623)
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

Upload vsix as part of publish action (#2615)
  .github/workflows/publish.yml
Due: none

Add demo project init postinstall
  package.json
Due: prettier --write

Plots improve section tooltips copy and style
  extension/resources/walkthrough/plots.md
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/styles.module.scss
Due: prettier --write, eslint --cache --fix

Plots improve section tooltips copy and style (#2622)
  extension/resources/walkthrough/plots.md
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/styles.module.scss
Due: prettier --write, eslint --cache --fix

Move from after to afterEach
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Add missing import
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Improve max table depth test (#2621)
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

rename vscode-dvc-demo back to demo
  .codeclimate.json
  .gitmodules
  .vscode/settings.json
  CONTRIBUTING.md
  extension/package.json
  extension/resources/walkthrough/setup-project.md
  extension/src/cli/git/constants.ts
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/fileSystem/index.test.ts
  extension/src/fileSystem/watcher.test.ts
  extension/src/test/e2e/wdio.conf.ts
  extension/src/test/runTest.ts
  extension/src/test/util/index.ts
  scripts/virtualenv-install.ts
Due: prettier --write, eslint --cache --fix

checkout submodule in CI
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
Due: none

move root finding out of constants file and add test
  extension/src/cli/git/constants.ts
  extension/src/experiments/data/index.ts
  extension/src/fileSystem/index.ts
  extension/src/repository/data/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/fileSystem/index.test.ts
  extension/src/test/suite/repository/data/index.test.ts
  extension/src/test/util/index.ts
Due: prettier --write, eslint --cache --fix

add further tests
  extension/src/cli/git/index.ts
  extension/src/test/suite/fileSystem/index.test.ts
Due: prettier --write, eslint --cache --fix

fix tests
  extension/src/cli/git/executor.test.ts
  extension/src/test/suite/fileSystem/index.test.ts
Due: prettier --write, eslint --cache --fix

watch correct path for experiments
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

fix string in suite statement
  extension/src/test/suite/fileSystem/index.test.ts
Due: prettier --write, eslint --cache --fix

Rename first image in plots.md
  extension/resources/walkthrough/plots.md
Due: prettier --write

remove get default revisions method
  extension/src/experiments/model/index.ts
  extension/src/plots/data/index.ts
  extension/src/plots/model/index.ts
  extension/src/test/suite/plots/data/index.test.ts
Due: prettier --write, eslint --cache --fix

Fix integration test suite after hook
  extension/src/experiments/columns/collect/util.ts
  extension/src/experiments/index.ts
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/vscode/config.ts
Due: prettier --write, eslint --cache --fix

Update for two images
  extension/resources/walkthrough/images/available-commands-command-palette.png
  extension/resources/walkthrough/images/install-dvc-status-bar-detected.png
Due: none

simplify if statement
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

revert formatting change in experiments model
  extension/src/experiments/model/index.ts
Due: prettier --write, eslint --cache --fix

try and isolate issue with insiders
  .github/workflows/continuous-integration.yml
  extension/src/test/runTest.ts
Due: prettier --write, eslint --cache --fix

revert workflow
  .github/workflows/continuous-integration.yml
Due: none

try moving coverage prep outside of xvfb
  .github/workflows/continuous-integration.yml
  package.json
Due: prettier --write

try without script
  .github/workflows/continuous-integration.yml
Due: none

try without changing activation events
  .github/workflows/continuous-integration.yml
  extension/scripts/coverIntegrationTests.js
  extension/src/test/suite/index.ts
Due: prettier --write, eslint --cache --fix

update activaton events
  extension/package.json
Due: prettier --write

try running just tests with on startup finished activation event
  .github/workflows/continuous-integration.yml
Due: none

try running coverage outside of action
  .github/workflows/continuous-integration.yml
  extension/scripts/coverIntegrationTests.js
Due: prettier --write, eslint --cache --fix

don't call xvfb inside of xvfb
  .github/workflows/continuous-integration.yml
Due: none

throw away test stdio
  extension/scripts/coverIntegrationTests.js
Due: prettier --write, eslint --cache --fix
