Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

set preview attribute to true
  extension/package.json
Due: prettier --write

set preview attribute to true (#1374)
  extension/package.json
Due: prettier --write

update readme for placeholder release (#1372)
  README.md
Due: prettier --write

add changelog file (#1373)
  CHANGELOG.md
Due: prettier --write

Remove title attr from header
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Simplify tooltip test data a bit
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Use consistent mocked
  webview/package.json
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

increase max revisions to 7
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/status.test.ts
  extension/src/experiments/model/status.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Fix the icon menu colors
  webview/src/shared/components/iconMenu/styles.module.scss
Due: none

Remove old fill
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix icon menu colors (#1379)
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
Due: prettier --write, eslint --cache --fix

Make sure all icons have there color set in CSS (#1369)
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/dragDrop/GripIcon.tsx
  webview/src/shared/components/icon/Icon.tsx
Due: prettier --write, eslint --cache --fix

increase max revisions to 7 (#1376)
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/status.test.ts
  extension/src/experiments/model/status.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Made the plot axis labels more readable
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

Make plot more readable
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

update all references of master to main
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  extension/package.json
Due: prettier --write

Use "should" and fix inverse test titles
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Table header tooltips (#1366)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/shared/components/overflowHover/index.tsx
  webview/src/shared/components/overflowHover/useIsFullyContained.ts
Due: prettier --write, eslint --cache --fix

update all references of master to main (#1382)
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  extension/package.json
Due: prettier --write

bump patch version for manual release
  extension/package.json
Due: prettier --write

automate release to marketplace with manual triggered action
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
  extension/package.json
Due: prettier --write

bump patch version for manual release (#1385)
  extension/package.json
Due: prettier --write

automate release to marketplace with manual triggered action (#1386)
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
  extension/package.json
Due: prettier --write

rename live and static plots
  extension/src/cli/reader.ts
  extension/src/plots/index.ts
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/workspace.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/fixtures/plotsDiff/plots/index.ts
  extension/src/test/fixtures/plotsDiff/plots/webview.ts
  extension/src/test/fixtures/plotsDiff/static/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/contract.ts
  extension/src/webview/serializer.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/App.tsx
  webview/src/plots/components/CheckpointPlots.tsx
  webview/src/plots/components/Plot.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/constants.ts
  webview/src/plots/hooks/useAppReducer.ts
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix lint
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

Fix lint issue
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

Resize labels on small plots
  webview/src/plots/components/styles.module.scss
Due: none

Make plot more readable (#1381)
  webview/src/plots/components/constants.ts
Due: prettier --write, eslint --cache --fix

Plot axis labels more readable (#1380)
  webview/src/plots/components/constants.ts
  webview/src/plots/components/styles.module.scss
Due: prettier --write, eslint --cache --fix

Make the gripper more subtle
  webview/src/plots/components/styles.module.scss
Due: none

Add gripper to comparison table
  webview/src/plots/components/ComparisonTable/ComparisonTableHeader.tsx
  webview/src/plots/components/ComparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix background color of comparison header when scrolling
  webview/src/plots/components/ComparisonTable/styles.module.scss
Due: none

Fix background color of comparison header when scrolling (#1391)
  webview/src/plots/components/ComparisonTable/styles.module.scss
Due: none

Add gripper to comparison table (#1390)
  webview/src/plots/components/ComparisonTable/ComparisonTableHeader.tsx
  webview/src/plots/components/ComparisonTable/styles.module.scss
Due: prettier --write, eslint --cache --fix

Make the gripper more subtle (#1389)
  webview/src/plots/components/styles.module.scss
Due: none

fix test brackets and indentation
  extension/src/cli/reader.test.ts
Due: prettier --write, eslint --cache --fix

rename params and metrics to metrics and params
  extension/src/test/suite/experiments/metricsAndParams/tree.test.ts
Due: prettier --write, eslint --cache --fix

split paths out from plots model
  extension/src/plots/index.ts
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
  extension/src/plots/paths/collect.test.ts
  extension/src/plots/paths/collect.ts
  extension/src/plots/paths/model.ts
  extension/src/test/suite/plots/util.ts
Due: prettier --write, eslint --cache --fix

Add groups to DragDropContainer
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ComparisonTable/ComparisonTableHead.tsx
  webview/src/plots/components/LivePlots.tsx
  webview/src/plots/components/StaticPlotGrid.tsx
  webview/src/plots/components/StaticPlots.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Rename section on blur
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/SectionRenamer.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
