Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Add repo-level addSort and rework data piping so await works for it
  extension/src/experiments/index.ts
  extension/src/experiments/model/sortBy/tree.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

Add "all items are equal" test for multi-sort
  extension/src/experiments/model/sortBy/index.test.ts
Due: prettier --write, eslint --cache --fix

Add sort modification to integration test
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

Return this.notifyChanged again to simplify diff
  extension/src/experiments/repository.ts
Due: prettier --write, eslint --cache --fix

first commit
  extension/package.json
  extension/src/experiments/legendColor.ts
  extension/src/experiments/model/tree.ts
  webview/src/components/Table/index.tsx
  webview/src/components/Table/styles.module.scss
Due: prettier --write, eslint --cache --fix

complete color on webview
  extension/package.json
  extension/src/experiments/legendColor.ts
  extension/src/experiments/model/tree.ts
  webview/src/components/Table/index.tsx
Due: prettier --write, eslint --cache --fix

update webview css
  webview/src/components/Table/styles.module.scss
Due: none

add more colors
  extension/package.json
  extension/src/experiments/legendColor.ts
  extension/src/experiments/legendThemeColor.ts
  extension/src/experiments/model/tree.ts
  extension/src/util/index.ts
  webview/src/components/Table/bulletStyles.module.scss
  webview/src/components/Table/index.tsx
  webview/src/components/Table/styles.module.scss
Due: prettier --write, eslint --cache --fix

revert bullet default background color change
  webview/src/components/Table/styles.module.scss
Due: none

add fallback colors for css variables
  webview/src/components/Table/bulletStyles.module.scss
Due: none

clearExperimentsTableSort -> removeExperimentsTableSorts
  extension/package.json
  extension/package.nls.json
  extension/src/experiments/commands/register.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

Rename a few commands and combine removeSorts commands
  extension/package.json
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/sortBy/quickPick.test.ts
  extension/src/experiments/model/sortBy/quickPick.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.ts
  extension/src/experiments/repository.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
  extension/src/test/suite/experiments/repository.test.ts
Due: prettier --write, eslint --cache --fix

Display empty array when there are are projects but no sorts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.ts
Due: prettier --write, eslint --cache --fix

Use createTreeView utility
  extension/src/experiments/model/sortBy/tree.ts
Due: prettier --write, eslint --cache --fix

Change pluckTestParams inline helper to be a no-arg function
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

Trim back sort integration test data to only params
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

Rename command strings and remove unused ones
  extension/package.json
  extension/package.nls.json
Due: prettier --write

update installing and integrating section of the readme
  README.md
Due: prettier --write

update installing and integrating section of the readme (#707)
  README.md
Due: prettier --write

update cli unavailable text and add do not show again option
  extension/package.json
  extension/package.nls.json
  extension/src/config.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Combine add and remove sort commands
  extension/package.json
  extension/src/experiments/commands/register.ts
  extension/src/experiments/model/sortBy/tree.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

Swap removeSort params and use getRepository
  extension/src/experiments/index.ts
  extension/src/experiments/model/sortBy/tree.ts
Due: prettier --write, eslint --cache --fix

import { join } from 'path'
  extension/src/experiments/model/sortBy/index.test.ts
Due: prettier --write, eslint --cache --fix

interface SortDefinitionWithParent => type SortItem
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.ts
Due: prettier --write, eslint --cache --fix

build => pick and simplify buildExperimentSortFunction
  extension/src/experiments/commands/register.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/sortBy/index.ts
Due: prettier --write, eslint --cache --fix

Inline pickSort into experiments repository class, can => should
  extension/src/experiments/model/sortBy/index.test.ts
  extension/src/experiments/model/sortBy/quickPick.test.ts
  extension/src/experiments/model/sortBy/quickPick.ts
  extension/src/experiments/repository.test.ts
  extension/src/experiments/repository.ts
Due: prettier --write, eslint --cache --fix

add on did configuration change listener to config
  extension/src/config.ts
Due: prettier --write, eslint --cache --fix

remove popup from setup
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

add setup workspace command
  extension/package.json
  extension/src/__mocks__/vscode.ts
  extension/src/extension.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/vscode/pickFile.test.ts
  extension/src/vscode/pickFile.ts
Due: prettier --write, eslint --cache --fix

break up functions
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

move title of new command into nls
  extension/package.json
  extension/package.nls.json
Due: prettier --write

switch command on welcome view to setup wizard
  extension/package.json
Due: prettier --write

pull out pick yes or no function
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

inline functions
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

update readme
  README.md
Due: prettier --write

Remove getOrPickRepo and change removeSorts behavior to be like filters
  extension/src/experiments/index.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
Due: prettier --write, eslint --cache --fix

add quick pick which can accept an input
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/vscode/quickPick.ts
Due: prettier --write, eslint --cache --fix

add integration test for quick pick with input
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/test/suite/vscode/quickPick.test.ts
  extension/src/vscode/quickPick.ts
Due: prettier --write, eslint --cache --fix

remove unnecessary code from test
  extension/src/test/suite/vscode/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

cut down more code in test
  extension/src/test/suite/vscode/quickPick.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
