Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Wrap text at 80 symbols.
  extension/resources/walkthrough/plots.md
Due: prettier --write

Make status bar item use error foreground if CLI unavailable
  extension/src/status.ts
Due: prettier --write, eslint --cache --fix

Images with code changing to code snippets
  extension/resources/walkthrough/plots.md
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

The emoji removed
  extension/resources/walkthrough/plots.md
Due: prettier --write

Image was optimized
  extension/resources/walkthrough/images/click-the-circle-beside-experiment-name.png
Due: none

Emoji removed
  extension/resources/walkthrough/plots.md
Due: prettier --write

address review feedback
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

move experiment names to the right
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Follow directions in the VS Code API docs for relative paths
  extension/src/fileSystem/watcher.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/fileSystem/data/index.test.ts
  extension/src/test/suite/fileSystem/watcher.test.ts
  extension/src/test/util/index.ts
Due: prettier --write, eslint --cache --fix

Use demo project as submodule
  .codeclimate.json
  .gitmodules
  .vscode/settings.json
  CONTRIBUTING.md
  demo/.dvc/.gitignore
  demo/.dvc/config
  demo/.dvcignore
  demo/.gitignore
  demo/.vscode/extensions.json
  demo/data/MNIST/.gitignore
  demo/data/MNIST/raw.dvc
  demo/dvc.lock
  demo/dvc.yaml
  demo/params.yaml
  demo/requirements.txt
  demo/train.py
  demo/training_metrics.json
  extension/package.json
  extension/resources/walkthrough/setup-project.md
  extension/src/fileSystem/index.test.ts
  extension/src/test/e2e/wdio.conf.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/util/index.ts
  scripts/virtualenv-install.ts
Due: prettier --write, eslint --cache --fix

Images removed. yaml changed to python
  extension/resources/walkthrough/images/plots-dump-image.png
  extension/resources/walkthrough/images/plots-dump-with-dvclive.png
  extension/resources/walkthrough/images/plots-dump-with-open-file.png
  extension/resources/walkthrough/images/setup-project-dump-metrics.png
  extension/resources/walkthrough/images/setup-project-dvc-yaml-example.png
  extension/resources/walkthrough/images/setup-project-dvclive-metrics.png
  extension/resources/walkthrough/plots.md
  extension/resources/walkthrough/setup-project.md
Due: prettier --write

For some reason code snippets lost the wrap
  extension/resources/walkthrough/plots.md
Due: prettier --write

Make status bar item use error foreground if CLI unavailable (#2587)
  extension/src/status.ts
Due: prettier --write, eslint --cache --fix

Update the plots file
  extension/resources/walkthrough/plots.md
Due: prettier --write

Deleting the image
  extension/resources/walkthrough/images/click-the-circle-beside-experiment-name.png
Due: none

Optimized image
  extension/resources/walkthrough/images/click-the-circle-beside-experiment-name.png
Due: none

rework radio button to be single button
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix bugs and clean up
  webview/src/experiments/components/table/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/TableHeaderCell.tsx
  webview/src/experiments/components/table/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/headerDropTargetSlice.ts
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/store.ts
  webview/src/experiments/util/columns.test.ts
  webview/src/experiments/util/columns.ts
  webview/src/shared/components/dragDrop/Draggable.tsx
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

delete typo
  webview/src/experiments/components/table/Table.test.tsx
Due: prettier --write, eslint --cache --fix

Change experiments table circle to radio button (#2553)
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

Add hints into row action tooltips
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Add hints into row action tooltips (#2567)
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

revert moving experiment names to right in table (maintain heirarchy)
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

move chevrons left
  webview/src/experiments/components/table/styles.module.scss
Due: none

Revert moving experiment names to right in table's experiment column (maintain heirarchy) (#2594)
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Update CODEOWNERS (#2595)
  .github/CODEOWNERS
Due: none

Standardize dvc root paths as they come into the system
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Follow directions in the VS Code API docs for relative paths (#2590)
  extension/src/fileSystem/watcher.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/fileSystem/data/index.test.ts
  extension/src/test/suite/fileSystem/watcher.test.ts
  extension/src/test/util/index.ts
Due: prettier --write, eslint --cache --fix

Fix changes collection bug
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/collect/index.ts
Due: prettier --write, eslint --cache --fix

New images
  extension/resources/walkthrough/images/available-commands-command-palette.png
  extension/resources/walkthrough/images/click-the-circle-beside-experiment-name.png
  extension/resources/walkthrough/images/dvc-tracked-explorer.png
  extension/resources/walkthrough/images/dvc-tracked-scm.png
  extension/resources/walkthrough/images/experiments-table-context-menus.png
  extension/resources/walkthrough/images/experiments-table-from-side-bar.png
  extension/resources/walkthrough/images/experiments-table.png
  extension/resources/walkthrough/images/install-dvc-setup-wizard.png
  extension/resources/walkthrough/images/install-dvc-status-bar-detected.png
  extension/resources/walkthrough/images/live-plots-updates.gif
  extension/resources/walkthrough/images/plots-data-series.png
  extension/resources/walkthrough/images/plots-dump-image.png
  extension/resources/walkthrough/images/plots-dump-with-dvclive.png
  extension/resources/walkthrough/images/plots-dump-with-open-file.png
  extension/resources/walkthrough/images/plots-experiments-view-icon.png
  extension/resources/walkthrough/images/plots-images.png
  extension/resources/walkthrough/images/plots-plots-view-icon.png
  extension/resources/walkthrough/images/plots-trends.png
  extension/resources/walkthrough/images/plots-view-icon.png
  extension/resources/walkthrough/images/run-experiments-command-palette.png
  extension/resources/walkthrough/images/run-experiments-params-buttons.png
  extension/resources/walkthrough/images/run-experiments-table-buttons.png
  extension/resources/walkthrough/images/setup-project-dump-metrics.png
  extension/resources/walkthrough/images/setup-project-dvc-yaml-example.png
  extension/resources/walkthrough/images/setup-project-dvclive-metrics.png
  extension/resources/walkthrough/images/view-container-columns.png
  extension/resources/walkthrough/images/view-container-experiments.png
  extension/resources/walkthrough/images/view-container-filter.png
  extension/resources/walkthrough/images/view-container-plots.png
  extension/resources/walkthrough/images/view-container-show.png
  extension/resources/walkthrough/images/view-container-sort.png
  extension/resources/walkthrough/images/view-container-support.png
  extension/resources/walkthrough/images/view-container-welcome.png
  extension/resources/walkthrough/plots.md
Due: prettier --write

Adding GIF back
  extension/resources/walkthrough/images/live-plots-updates.gif
Due: none

Fixing text
  extension/resources/walkthrough/plots.md
Due: prettier --write

Improve star icon contrast
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Added disabled style
  webview/src/shared/components/messagesMenu/styles.module.scss
  webview/src/shared/variables.scss
Due: none

add multi commit test
  extension/src/experiments/columns/collect/index.test.ts
Due: prettier --write, eslint --cache --fix

Update queued icon, unselected bullet and spinner colors
  webview/src/experiments/components/table/styles.module.scss
Due: none

test collection for objects
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
Due: prettier --write, eslint --cache --fix

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

make cell hint tooltips actionable
  extension/src/experiments/webview/messages.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/CellHintTooltip.tsx
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
