Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

fix integration tests for non en-US timezones
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

refactor
  extension/src/test/fixtures/plotsDiff/index.ts
Due: prettier --write, eslint --cache --fix

Fix integration tests for non en-US timezones (#2945)
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
Due: prettier --write, eslint --cache --fix

Do not rely on number of call to execute process stub in integration tests (#2939)
  extension/src/test/suite/repository/sourceControlManagement/index.test.ts
Due: prettier --write, eslint --cache --fix

Ensure that all watcher's listeners are disposed
  extension/src/data/index.ts
  extension/src/experiments/data/index.ts
  extension/src/extension.ts
  extension/src/fileSystem/data/index.ts
  extension/src/fileSystem/watcher.test.ts
  extension/src/fileSystem/watcher.ts
  extension/src/repository/data/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/fileSystem/data/index.test.ts
  extension/src/test/suite/repository/index.test.ts
  extension/src/test/suite/repository/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

update get started webview with new skeleton
  webview/src/getStarted/components/CliUnavailable.tsx
  webview/src/stories/CliUnavailable.stories.tsx
Due: prettier --write, eslint --cache --fix

add static options for screen
  extension/src/extension.ts
  extension/src/extensions/python.ts
  extension/src/getStarted/index.ts
  extension/src/getStarted/webview/contract.ts
  extension/src/getStarted/webview/messages.ts
  extension/src/python/index.ts
  extension/src/test/suite/getStarted/util.ts
  webview/src/getStarted/components/App.tsx
  webview/src/getStarted/components/CliUnavailable.tsx
  webview/src/stories/CliUnavailable.stories.tsx
Due: prettier --write, eslint --cache --fix

wire up select python interpreter
  extension/src/getStarted/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/getStarted/index.test.ts
  extension/src/test/suite/getStarted/util.ts
  extension/src/webview/contract.ts
  webview/src/getStarted/components/CliUnavailable.tsx
Due: prettier --write, eslint --cache --fix

Add step into setup the workspace which reveals the current interpreter
  extension/src/extensions/python.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Move Views sidebar section to the top
  extension/package.json
Due: prettier --write

Move Views sidebar section to the top (#2954)
  extension/package.json
Due: prettier --write

Ensure that all watcher's listeners are disposed (#2948)
  extension/src/data/index.ts
  extension/src/experiments/data/index.ts
  extension/src/extension.ts
  extension/src/fileSystem/data/index.ts
  extension/src/fileSystem/watcher.test.ts
  extension/src/fileSystem/watcher.ts
  extension/src/repository/data/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/fileSystem/data/index.test.ts
  extension/src/test/suite/repository/index.test.ts
  extension/src/test/suite/repository/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

Improve plots blocks tooltip * highlight table keys based off type * add copy button to table values
  extension/src/experiments/model/util.ts
  extension/src/plots/model/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/plots/components/ribbon/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add content to the no data screen
  webview/jest.config.js
  webview/package.json
  webview/rawLoaderTransformer.js
  webview/src/getStarted/components/NoData.tsx
  webview/src/getStarted/snippets/huggingFace.py
  webview/src/getStarted/snippets/keras.py
  webview/src/getStarted/snippets/pyTorch.py
  webview/src/getStarted/snippets/pythonApi.py
  webview/src/py.d.ts
  webview/src/shared/components/codeBlock/CodeBlock.tsx
  webview/src/shared/components/codeBlock/styles.module.scss
  webview/src/shared/components/codeSlider/CodeSlider.tsx
  webview/src/shared/components/codeSlider/styles.module.scss
  webview/src/shared/components/emptyState/styles.module.scss
  webview/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Delete unneeded css line
  webview/src/plots/components/ribbon/styles.module.scss
Due: none

Clean yarn.lock
  yarn.lock
Due: none

Rebuild yarn.lock
  yarn.lock
Due: none

Retry cleaning yarn.lock
  yarn.lock
Due: none

Revert webview-ui-toolkit back to 1.0.0
  webview/package.json
  webview/src/getStarted/components/NoData.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Update VS Marketplace badges
  README.md
Due: prettier --write

Completely revert yarn.lock file and reinstall
  webview/package.json
  yarn.lock
Due: prettier --write

Revert yarn.lock with right file
  yarn.lock
Due: none

Fix test
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

remove setup the workspace when Python extension is active
  webview/src/getStarted/components/CliUnavailable.tsx
Due: prettier --write, eslint --cache --fix

simplify setup by removing options when Python extension is installed
  README.md
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

refactor for readability
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

reword descriptions
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

use select interpreter wrapper
  extension/src/getStarted/webview/messages.ts
Due: prettier --write, eslint --cache --fix

remove select interpreter as option from discovery warnings
  extension/src/cli/dvc/discovery.ts
  extension/src/setup.test.ts
  extension/src/vscode/response.ts
Due: prettier --write, eslint --cache --fix

add rough implementation for installing dvc
  extension/src/extension.ts
  extension/src/getStarted/index.ts
  extension/src/getStarted/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/getStarted/util.ts
  extension/src/webview/contract.ts
  webview/src/getStarted/components/CliUnavailable.tsx
Due: prettier --write, eslint --cache --fix

Close setup webview when all actions have been completed
  extension/src/getStarted/webview/messages.ts
  extension/src/test/suite/getStarted/index.test.ts
Due: prettier --write, eslint --cache --fix

reverse installing of DVCLive and DVC
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Add environment selection information to the DVC status bar item
  extension/src/extension.ts
  extension/src/status.ts
  extension/src/test/suite/status.test.ts
Due: prettier --write, eslint --cache --fix

Improve plots ribbon block tooltips (#2956)
  extension/src/experiments/model/util.ts
  extension/src/plots/model/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/plots/components/ribbon/styles.module.scss
Due: prettier --write, eslint --cache --fix

Apply review comments
  extension/src/experiments/index.ts
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  webview/src/getStarted/components/App.test.tsx
  webview/src/shared/components/codeSlider/CodeSlider.tsx
  webview/src/shared/components/codeSlider/styles.module.scss
Due: prettier --write, eslint --cache --fix

Show a screen when there is no data in the project (#2927)
  extension/package.json
  extension/src/experiments/index.ts
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/getStarted/index.ts
  extension/src/getStarted/webview/contract.ts
  extension/src/getStarted/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/getStarted/util.ts
  extension/src/webview/constants.ts
  webview/jest.config.js
  webview/package.json
  webview/rawLoaderTransformer.js
  webview/src/getStarted/components/App.test.tsx
  webview/src/getStarted/components/App.tsx
  webview/src/getStarted/components/NoData.tsx
  webview/src/getStarted/snippets/huggingFace.py
  webview/src/getStarted/snippets/keras.py
  webview/src/getStarted/snippets/pyTorch.py
  webview/src/getStarted/snippets/pythonApi.py
  webview/src/py.d.ts
  webview/src/shared/components/codeBlock/CodeBlock.tsx
  webview/src/shared/components/codeBlock/styles.module.scss
  webview/src/shared/components/codeSlider/CodeSlider.tsx
  webview/src/shared/components/codeSlider/styles.module.scss
  webview/src/shared/components/emptyState/styles.module.scss
  webview/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Refactor `getDataFromColumnPath` logic * fix bug with long integers * simplify code and reduce duplication
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/model/util.ts
  extension/src/plots/model/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/plots/components/ribbon/RibbonBlock.tsx
  webview/src/util/number.ts
Due: prettier --write, eslint --cache --fix

Close setup webview when all actions have been completed (#2968)
  extension/src/getStarted/webview/messages.ts
  extension/src/test/suite/getStarted/index.test.ts
Due: prettier --write, eslint --cache --fix

Fix vscode tests
  extension/src/test/fixtures/plotsDiff/index.ts
Due: prettier --write, eslint --cache --fix

replace variable with existing config enum
  extension/src/test/suite/status.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
