Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Add custom plot to e2e test (#3646)
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

Add tests
  webview/src/setup/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Adjust walkthrough
  extension/package.json
  extension/resources/walkthrough/install-dvc.md
Due: prettier --write

Review text
  webview/src/setup/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

Add test for experiments setup dvc button
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

Add experiments loading project test
  webview/src/setup/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Clean up table styles * move classes out of .experiments * delete unused classes/selectors
  webview/src/experiments/components/table/styles.module.scss
Due: none

duplicate transform and set function with new data
  extension/src/cli/dvc/contract.ts
  extension/src/experiments/columns/extract.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/patch.ts
  extension/src/test/fixtures/expShow/base/output_.ts
  extension/src/test/fixtures/expShow/base/rows_.ts
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

duplicate functions out to reader (tests will break)
  extension/src/cli/dvc/contract.ts
  extension/src/cli/dvc/reader.ts
  extension/src/data/index.ts
  extension/src/experiments/columns/collect/index.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/data/collect.ts
  extension/src/experiments/data/index.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/collect.ts
  extension/src/plots/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

Delete other unused styles
  webview/src/experiments/components/table/styles.module.scss
Due: none

Clean up table styles (#3664)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Group general table styles
  webview/src/experiments/components/table/styles.module.scss
Due: none

Housekeeping
  webview/src/setup/components/App.tsx
  webview/src/setup/components/Dvc.tsx
Due: prettier --write, eslint --cache --fix

Have "Show Experiments" redirect to dvc setup
  extension/src/commands/util.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Move git commit logic to experiments
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/App.tsx
  webview/src/setup/components/Dvc.tsx
  webview/src/setup/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

Fix broken collapsed section tooltips
  webview/src/shared/components/sectionContainer/SectionContainer.tsx
Due: prettier --write, eslint --cache --fix

Add and remove branches to the experiments table
  extension/src/cli/git/constants.ts
  extension/src/cli/git/reader.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/webview/messages.ts
  extension/src/experiments/workspace.ts
  extension/src/persistence/constants.ts
  extension/src/test/fixtures/expShow/base/tableData.ts
  extension/src/test/fixtures/expShow/dataTypes/tableData.ts
  extension/src/test/fixtures/expShow/deeplyNested/tableData.ts
  extension/src/test/fixtures/expShow/survival/tableData.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/commitsAndBranches/AddAndRemoveBranches.tsx
  webview/src/experiments/components/table/commitsAndBranches/CommitsAndBranchesNavigation.tsx
  webview/src/experiments/components/table/messages.ts
  webview/src/experiments/components/table/tableDataSlice.ts
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
  webview/src/util/flags.ts
Due: prettier --write, eslint --cache --fix

To not show already added branched to add
  extension/src/experiments/index.ts
  extension/src/experiments/webview/messages.ts
  extension/src/experiments/workspace.ts
  webview/src/util/flags.ts
Due: prettier --write, eslint --cache --fix

Add Setup DVC Section (#3655)
  extension/package.json
  extension/resources/walkthrough/install-dvc.md
  extension/src/commands/external.ts
  extension/src/commands/util.ts
  extension/src/setup/register.ts
  extension/src/setup/webview/contract.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/workspace.test.ts
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/App.tsx
  webview/src/setup/components/Dvc.tsx
  webview/src/setup/components/Experiments.tsx
  webview/src/setup/components/Studio.tsx
  webview/src/shared/components/sectionContainer/SectionContainer.tsx
  webview/src/stories/Setup.stories.tsx
Due: prettier --write, eslint --cache --fix

Disable setup section if unavailable
  webview/src/setup/components/App.test.tsx
  webview/src/setup/components/App.tsx
  webview/src/setup/components/Experiments.tsx
  webview/src/setup/components/SetupContainer.tsx
  webview/src/shared/components/sectionContainer/SectionContainer.tsx
  webview/src/shared/components/sectionContainer/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix broken collapsed section tooltips (#3669)
  webview/src/shared/components/sectionContainer/SectionContainer.tsx
Due: prettier --write, eslint --cache --fix

Use only one control to select branches
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/webview/messages.ts
  extension/src/experiments/workspace.ts
  extension/src/test/fixtures/expShow/base/tableData.ts
  extension/src/test/fixtures/expShow/dataTypes/tableData.ts
  extension/src/test/fixtures/expShow/deeplyNested/tableData.ts
  extension/src/test/fixtures/expShow/survival/tableData.ts
  extension/src/vscode/title.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/App.tsx
  webview/src/experiments/components/table/commitsAndBranches/AddAndRemoveBranches.tsx
  webview/src/experiments/components/table/commitsAndBranches/CommitsAndBranchesNavigation.tsx
  webview/src/experiments/components/table/messages.ts
  webview/src/experiments/components/table/tableDataSlice.ts
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
  webview/src/util/flags.ts
Due: prettier --write, eslint --cache --fix

Move body selector
  webview/src/experiments/components/table/styles.module.scss
Due: none

Add missing selector
  webview/src/experiments/components/table/styles.module.scss
Due: none

move indicators
  webview/src/experiments/components/table/styles.module.scss
Due: none

Clean up table head styles * move all selectors to one place * delete unused code * remove unneeded nesting
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/content/Header.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Remove unneeded `headerCellBase`
  webview/src/experiments/components/table/styles.module.scss
Due: none

Partial tests
  extension/src/cli/git/reader.test.ts
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

fix(table): DnD landing zone covers the whole cell
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

update all remaining test fixtures
  extension/src/cli/dvc/reader.test.ts
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/collect/index.ts
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/modify/collect.test.ts
  extension/src/patch.ts
  extension/src/plots/data/collect.test.ts
  extension/src/plots/data/collect.ts
  extension/src/plots/data/index.ts
  extension/src/plots/index.ts
  extension/src/test/fixtures/expShow/base/noErrors.ts
  extension/src/test/fixtures/expShow/base/output.ts
  extension/src/test/fixtures/expShow/base/output_.ts
  extension/src/test/fixtures/expShow/base/rows.ts
  extension/src/test/fixtures/expShow/base/rows_.ts
  extension/src/test/fixtures/expShow/dataTypes/output.ts
  extension/src/test/fixtures/expShow/dataTypes/rows.ts
  extension/src/test/fixtures/expShow/deeplyNested/output.ts
  extension/src/test/fixtures/expShow/deeplyNested/rows.ts
  extension/src/test/fixtures/expShow/survival/output.ts
  extension/src/test/fixtures/expShow/survival/rows.ts
  extension/src/test/fixtures/expShow/uncommittedDeps/output.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/patch.test.ts
  extension/src/test/suite/plots/data/index.test.ts
  extension/src/test/suite/util.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

fix(table): DnD landing zone covers the whole cell (#3678)
  webview/src/experiments/components/table/header/TableHeaderCellContents.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

fix all test data and deduplicate functions
  extension/src/cli/dvc/contract.ts
  extension/src/cli/dvc/reader.test.ts
  extension/src/cli/dvc/reader.ts
  extension/src/experiments/columns/collect/deps.ts
  extension/src/experiments/columns/collect/index.test.ts
  extension/src/experiments/columns/collect/index.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
  extension/src/experiments/columns/extract.test.ts
  extension/src/experiments/columns/extract.ts
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/data/collect.ts
  extension/src/experiments/data/index.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/accumulator.ts
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/modify/collect.ts
  extension/src/experiments/model/status/collect.test.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/webview/messages.ts
  extension/src/patch.ts
  extension/src/test/cli/expShow.test.ts
  extension/src/test/fixtures/expShow/base/output.ts
  extension/src/test/fixtures/expShow/base/rows.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/patch.test.ts
  extension/src/test/suite/util.ts
  extension/src/test/util/index.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

remove some code climate duplication
  extension/src/experiments/columns/collect/deps.ts
  extension/src/experiments/columns/collect/index.ts
  extension/src/experiments/columns/collect/metricsAndParams.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
Due: prettier --write, eslint --cache --fix

Add tests
  extension/src/experiments/model/index.ts
  extension/src/experiments/webview/messages.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/util.ts
Due: prettier --write, eslint --cache --fix

Add more tests
  extension/src/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Clean up table body styles
  webview/src/experiments/components/AddStage.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/CellSecondaryName.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/content/ErrorCell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

update naming
  webview/src/experiments/components/table/styles.module.scss
Due: none
