Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

improve test wording
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

get pip freeze output
  .github/workflows/dvc-cli-output-test.yml
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

run cli tests using virtual env module instead of direct call
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

test action on pull request
  .github/workflows/dvc-cli-output-test.yml
Due: none

add wheel to virtual env
  extension/src/python/index.test.ts
  extension/src/python/index.ts
Due: prettier --write, eslint --cache --fix

increase timeout
  extension/src/test/cli/index.ts
Due: prettier --write, eslint --cache --fix

make sure we get a non-zero exit
  extension/src/test/cli/index.ts
Due: prettier --write, eslint --cache --fix

remove pull request trigger from action
  .github/workflows/dvc-cli-output-test.yml
Due: none

Use prettierignore instead
  .prettierignore
  package.json
Due: prettier --write

Add drag and drop feedback to comparison table
  extension/src/vscode/recommend.ts
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHead.tsx
  webview/src/plots/components/comparisonTable/DropTarget.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/icons/Ellipsis.tsx
  webview/src/shared/components/icons/index.ts
Due: prettier --write, eslint --cache --fix

Cleanup useless ids
  webview/src/plots/components/comparisonTable/DropTarget.tsx
Due: prettier --write, eslint --cache --fix

Remove extension/src/test/fixtures/plotsDiff/vega.ts from prettier scripts (#1544)
  .prettierignore
Due: none

Improve first install experience when DVC is incompatible (#1547)
  extension/package.json
  extension/package.nls.json
  extension/src/commands/external.ts
  extension/src/extension.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Fix scheduled CLI output tests (#1549)
  extension/src/python/index.test.ts
  extension/src/python/index.ts
  extension/src/test/cli/index.ts
  extension/src/test/cli/util.ts
Due: prettier --write, eslint --cache --fix

fix the error the correct way
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

suppress test errors
  webview/src/plots/components/App.test.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Fix deeply nested fixture on storybook
  extension/src/test/fixtures/expShow/deeplyNested.ts
Due: prettier --write, eslint --cache --fix

Add sorts to deeply nested fixture
  extension/src/test/fixtures/expShow/deeplyNested.ts
Due: prettier --write, eslint --cache --fix

Fix deeply nested fixture on storybook (#1554)
  extension/src/test/fixtures/expShow/deeplyNested.ts
Due: prettier --write, eslint --cache --fix

Suppress test unmount error (#1550)
  webview/src/plots/components/App.test.tsx
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

Fix column sort indicator using more CSS
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Move isTopLevelPlaceholder to util module
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/util/columns.ts
Due: prettier --write, eslint --cache --fix

remove retry from version so that extension shutsdown
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
Due: prettier --write, eslint --cache --fix

Fix ascending sorts on columns without a placeholder
  extension/src/test/fixtures/expShow/deeplyNested.ts
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/util/columns.ts
Due: prettier --write, eslint --cache --fix

use new topOfStack name in CSS
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Add topOfStack test in App
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
Due: prettier --write, eslint --cache --fix

Add test for top-level headers
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Simplify topOfStack and inline it
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/util/columns.ts
Due: prettier --write, eslint --cache --fix

Remove unnecessary null check
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

add color into experiment collection
  extension/src/test/fixtures/expShow/deeplyNested.ts
Due: prettier --write, eslint --cache --fix

Use classes in JS similarly to original implementation
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

add color into experiment collection (#1557)
  extension/src/test/fixtures/expShow/deeplyNested.ts
Due: prettier --write, eslint --cache --fix

update readme quick start
  README.md
Due: prettier --write

explicitly call build in test vscode
  package.json
Due: prettier --write

revert lint to run in CI
  .github/workflows/continuous-integration.yml
Due: none

take dev server and build TURBO
  package.json
  turbo.json
Due: prettier --write

help windows out
  extension/package.json
  package.json
  turbo.json
  webview/package.json
Due: prettier --write

prettier ignore plots diff vega file
  .prettierignore
  extension/.prettierignore
Due: none

clean up package json and pipeline
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  package.json
  turbo.json
Due: prettier --write

use v3 of action and runner os in key
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none
