Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

add extra note to contributing doc
  CONTRIBUTING.md
Due: prettier --write

Add tsc to ci:run:tsc script for TS linting
  package.json
Due: prettier --write

stop tracking data/MNIST/raw
  demo/data/MNIST/raw/.gitignore
  demo/data/MNIST/raw/t10k-images-idx3-ubyte.dvc
  demo/data/MNIST/raw/t10k-images-idx3-ubyte.gz.dvc
  demo/data/MNIST/raw/t10k-labels-idx1-ubyte.dvc
  demo/data/MNIST/raw/t10k-labels-idx1-ubyte.gz.dvc
  demo/data/MNIST/raw/t10k-lables-idx1-ubyte.gz.dvc
  demo/data/MNIST/raw/train-images-idx3-ubyte.dvc
  demo/data/MNIST/raw/train-images-idx3-ubyte.gz.dvc
  demo/data/MNIST/raw/train-labels-idx1-ubyte.dvc
  demo/data/MNIST/raw/train-labels-idx1-ubyte.gz.dvc
Due: none

track data/MNIST/raw with dvc
  demo/data/MNIST/.gitignore
  demo/data/MNIST/raw.dvc
Due: none

remove unneeded line from config
  demo/.dvc/config
Due: none

add gitignore for demo project
  demo/.gitignore
Due: none

ignore dvc data output
  demo/.gitignore
Due: none

add outstanding files
  demo/dvc.lock
  demo/logs.html
  demo/logs.json
Due: prettier --write

Use Linting configuration from Viewer Frontend (#131)
  .eslintrc.js
  extension/src/DvcPath.ts
  extension/src/DvcWebviewManager.ts
  extension/src/fileSystem.ts
  extension/src/git.test.ts
  extension/src/git.ts
  extension/src/test/runTest.ts
  extension/src/test/suite/index.ts
  extension/src/webviews/experiments/contract.ts
  package.json
  tsconfig.json
  webview/src/components/Experiments.tsx
  webview/src/model/Model.ts
  webview/src/util/build-dynamic-columns.tsx
  webview/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Remove existing demo dir
  demo/.dvc/.gitignore
  demo/.dvc/config
  demo/.dvc/plots/confusion.json
  demo/.dvc/plots/confusion_normalized.json
  demo/.dvc/plots/default.json
  demo/.dvc/plots/linear.json
  demo/.dvc/plots/scatter.json
  demo/.dvc/plots/smooth.json
  demo/.dvcignore
  demo/.gitignore
  demo/.vscode/extensions.json
  demo/.vscode/settings.json
  demo/data/MNIST/.gitignore
  demo/data/MNIST/raw.dvc
  demo/dvc.lock
  demo/dvc.yaml
  demo/logs.html
  demo/logs.json
  demo/requirements.txt
  demo/train.py
Due: prettier --write

Squashed 'demo/' content from commit d1d44c6
  .dvc/.gitignore
  .dvc/config
  .dvc/plots/confusion.json
  .dvc/plots/confusion_normalized.json
  .dvc/plots/default.json
  .dvc/plots/linear.json
  .dvc/plots/scatter.json
  .dvc/plots/smooth.json
  .dvcignore
  README.md
  download.py
  dvc.yaml
  params.yaml
  requirements.txt
  train.py
Due: prettier --write

Re-add modifications to demo project
  demo/.dvc/config
  demo/.gitignore
  demo/.vscode/extensions.json
  demo/.vscode/settings.json
Due: prettier --write

Add dvclive to requirements and set dvc to default version
  demo/requirements.txt
Due: none

Remove tensorflow-specific steps from virtualenv setup
  virtualenv-install.sh
Due: none

remove download stage from pipeline
  demo/download.py
  demo/dvc.yaml
  demo/train.py
Due: none

reinstate dvc tracking of downloaded files
  demo/data/MNIST/.gitignore
  demo/data/MNIST/raw.dvc
  demo/requirements.txt
Due: none

commit first exp run
  demo/dvc.lock
  demo/logs.html
  demo/logs.json
  demo/predictions.json
Due: prettier --write

remove readme
  CONTRIBUTING.md
  demo/README.md
Due: prettier --write

Switch Demo Project to Checkpoints Branch (#135)
  demo/README.md
  demo/data/MNIST/raw.dvc
  demo/dvc.lock
  demo/dvc.yaml
  demo/logs.html
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
  demo/train.py
  virtualenv-install.sh
Due: prettier --write

commit experiments
  demo/dvc.lock
  demo/logs.html
  demo/logs.json
  demo/predictions.json
Due: prettier --write

use correct markdown brackets
  CONTRIBUTING.md
Due: prettier --write

remove demo readme
  demo/README.md
Due: prettier --write

fix no-explicit-any warnings
  extension/src/IntegratedTerminal.ts
  extension/src/dvcReader.test.ts
  extension/src/fileSystem.test.ts
  webview/src/components/GUI.tsx
  webview/src/components/Table.tsx
  webview/src/hotComponent.tsx
  webview/src/model/VsCodeApi.ts
  webview/src/react-table-config.d.ts
  webview/src/util/build-dynamic-columns.tsx
Due: prettier --write, eslint --cache --fix

add explicit error
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

Fix demo setup for Windows users
  CONTRIBUTING.md
  activate-demo-venv.sh
  package.json
Due: prettier --write

Makes this change aimed solely at Windows for now
  activate-demo-venv.sh
Due: none

Set custom fonts for webview table
  webview/src/components/table-styles.module.scss
  webview/src/fonts/Roboto-Light.ttf
  webview/src/fonts/RobotoMono-Light.ttf
  webview/src/style.scss
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

Commented out until group headers can displayed better
  webview/src/components/Table.tsx
Due: prettier --write, eslint --cache --fix

General clean up and moving towards a nicer UI
  webview/src/components/Experiments.tsx
  webview/src/components/table-styles.module.scss
  webview/src/style.scss
Due: prettier --write, eslint --cache --fix

Revert changes to CONTRIBUTES.md, single command will work across all environments
  CONTRIBUTING.md
  package.json
Due: prettier --write

delete settings from demo project
  demo/.gitignore
  demo/.vscode/settings.json
Due: prettier --write

add extra environment variables to launch.json
  .vscode/launch.json
Due: prettier --write

pull in process variable into constructor
  extension/src/DvcPath.ts
Due: prettier --write, eslint --cache --fix

update reader to work from dvc path config
  extension/src/dvcReader.test.ts
  extension/src/dvcReader.ts
Due: prettier --write, eslint --cache --fix

use join from path in tests
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

make variable from process env variable
  extension/src/DvcPath.ts
Due: prettier --write, eslint --cache --fix

Add parallel TypeScript compilation to lint script
  package.json
Due: prettier --write

Remove ci glob script system in favor of direct calls
  .github/workflows/build.yml
  package.json
Due: prettier --write

Add tsc --noEmit to lint-staged
  package.json
Due: prettier --write

Move lint-staged config to its own js file
  lint-staged.config.js
  package.json
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
