Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Make theme useable in JS
  webview/src/shared/components/dragDrop/GripIcon.tsx
  webview/src/shared/components/icon/Icon.tsx
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Remove !demo/logs from .gitignore
  .gitignore
Due: none

Improve live plots data capture (#1357)
  extension/src/plots/model/collect.test.ts
  extension/src/plots/model/collect.ts
  extension/src/test/fixtures/expShow/livePlots.ts
Due: prettier --write, eslint --cache --fix

Rearrange and rename plots webview sections (#1358)
  extension/src/plots/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
Due: prettier --write, eslint --cache --fix

Remove !demo/logs from .gitignore (#1361)
  .gitignore
Due: none

commit unbroken experiment
  demo/dvc.lock
  demo/logs.json
  demo/predictions.json
Due: prettier --write

improve walkthrough text
  extension/package.json
  extension/resources/walkthrough/command-palette.md
  extension/resources/walkthrough/experiments-table.md
  extension/resources/walkthrough/install-dvc.md
  extension/resources/walkthrough/plots.md
  extension/resources/walkthrough/setup-workspace.md
  extension/resources/walkthrough/tracked-explorer.md
  extension/resources/walkthrough/view-container.md
Due: prettier --write

self review
  extension/package.json
  extension/resources/walkthrough/install-dvc.md
  extension/resources/walkthrough/setup-workspace.md
  extension/resources/walkthrough/view-container.md
Due: prettier --write

Implement tippy-based tooltips
  webview/package.json
  webview/src/shared/components/hoverMenu/HoverMenu.test.tsx
  webview/src/shared/components/hoverMenu/HoverMenu.tsx
  webview/src/shared/components/iconMenu/IconMenu.test.tsx
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/iconMenu/IconMenuItem.test.tsx
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
  webview/src/shared/components/selectMenu/SelectMenuOption.tsx
  webview/src/shared/styles.module.scss
  webview/src/stories/HoverMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Adjust tooltip hover test to take re-hovering into account
  webview/src/shared/components/iconMenu/IconMenu.test.tsx
Due: prettier --write, eslint --cache --fix

consolidate quick input titles into single enum
  extension/src/experiments/commands/register.ts
  extension/src/experiments/metricsAndParams/quickPick.test.ts
  extension/src/experiments/metricsAndParams/quickPick.ts
  extension/src/experiments/model/filterBy/quickPick.test.ts
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/experiments/model/queue/quickPick.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/experiments/model/sortBy/quickPick.test.ts
  extension/src/experiments/model/sortBy/quickPick.ts
  extension/src/experiments/quickPick.test.ts
  extension/src/experiments/quickPick.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/fileSystem/tree.ts
  extension/src/setup.ts
  extension/src/status.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/test/suite/status.test.ts
  extension/src/test/suite/vscode/quickPick.test.ts
  extension/src/vscode/inputBox.test.ts
  extension/src/vscode/inputBox.ts
  extension/src/vscode/quickPick.test.ts
  extension/src/vscode/quickPick.ts
  extension/src/vscode/resourcePicker.test.ts
  extension/src/vscode/resourcePicker.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

commit unbroken experiment (#1362)
  demo/dvc.lock
  demo/logs.json
  demo/predictions.json
Due: prettier --write

Make theme useable in JS (#1360)
  webview/src/shared/components/dragDrop/GripIcon.tsx
  webview/src/shared/components/icon/Icon.tsx
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Update walkthrough (#1359)
  extension/package.json
  extension/resources/walkthrough/command-palette.md
  extension/resources/walkthrough/experiments-table.md
  extension/resources/walkthrough/install-dvc.md
  extension/resources/walkthrough/output-channel.md
  extension/resources/walkthrough/plots.md
  extension/resources/walkthrough/setup-workspace.md
  extension/resources/walkthrough/source-control-management.md
  extension/resources/walkthrough/tracked-explorer.md
  extension/resources/walkthrough/view-container.md
Due: prettier --write

Create CSS variables
  webview/setup-tests.js
  webview/src/experiments/components/Experiments/index.tsx
  webview/src/plots/components/ComparisonTable/styles.module.scss
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/theme/Theme.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/ComparisonTableHeader.stories.tsx
  webview/src/stories/HoverMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Remove unnecessary comment and button padding
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
Due: prettier --write, eslint --cache --fix

consolidate quick input titles into single enum (#1364)
  extension/src/experiments/commands/register.ts
  extension/src/experiments/metricsAndParams/quickPick.test.ts
  extension/src/experiments/metricsAndParams/quickPick.ts
  extension/src/experiments/model/filterBy/quickPick.test.ts
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/experiments/model/queue/quickPick.ts
  extension/src/experiments/model/quickPick.test.ts
  extension/src/experiments/model/quickPicks.ts
  extension/src/experiments/model/sortBy/quickPick.test.ts
  extension/src/experiments/model/sortBy/quickPick.ts
  extension/src/experiments/quickPick.test.ts
  extension/src/experiments/quickPick.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/fileSystem/tree.ts
  extension/src/setup.ts
  extension/src/status.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/test/suite/status.test.ts
  extension/src/test/suite/vscode/quickPick.test.ts
  extension/src/vscode/inputBox.test.ts
  extension/src/vscode/inputBox.ts
  extension/src/vscode/quickPick.test.ts
  extension/src/vscode/quickPick.ts
  extension/src/vscode/resourcePicker.test.ts
  extension/src/vscode/resourcePicker.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Add test
  webview/setup-tests.js
  webview/src/shared/components/theme/Theme.test.tsx
  webview/src/shared/components/theme/Theme.tsx
Due: prettier --write, eslint --cache --fix

Create overflow hover tooltip for headers
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/shared/components/overflowHover.tsx
Due: prettier --write, eslint --cache --fix

Apply review comments
  webview/src/shared/components/theme/Theme.tsx
Due: prettier --write, eslint --cache --fix

New CSS variables (#1365)
  webview/setup-tests.js
  webview/src/experiments/components/Experiments/index.tsx
  webview/src/plots/components/ComparisonTable/styles.module.scss
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/theme/Theme.test.tsx
  webview/src/shared/components/theme/Theme.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/ComparisonTableHeader.stories.tsx
  webview/src/stories/HoverMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Fix the padding of the plots
  webview/src/plots/components/styles.module.scss
Due: none

Add tests for header tooltips
  webview/package.json
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/App.tsx
  webview/src/shared/components/overflowHover/index.tsx
  webview/src/shared/components/overflowHover/useIsFullyContained.ts
Due: prettier --write, eslint --cache --fix

Change style of drag and drop on plots
  webview/src/plots/components/constants.ts
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/dragDrop/GripIcon.tsx
Due: prettier --write, eslint --cache --fix

Make sure all icons have there color set in CSS
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/dragDrop/GripIcon.tsx
  webview/src/shared/components/icon/Icon.tsx
Due: prettier --write, eslint --cache --fix

Fix the padding of the plots (#1367)
  webview/src/plots/components/styles.module.scss
Due: none

ESLint fixes
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

More eslint fixes
  webview/src/shared/components/overflowHover/index.tsx
  webview/src/shared/components/overflowHover/useIsFullyContained.ts
Due: prettier --write, eslint --cache --fix

Make comparison table padding same as other sections
  webview/src/plots/components/styles.module.scss
Due: none

Tippy react tooltips (#1363)
  webview/package.json
  webview/src/shared/components/hoverMenu/HoverMenu.test.tsx
  webview/src/shared/components/hoverMenu/HoverMenu.tsx
  webview/src/shared/components/iconMenu/IconMenu.test.tsx
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/iconMenu/IconMenuItem.test.tsx
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
  webview/src/shared/components/selectMenu/SelectMenuOption.tsx
  webview/src/shared/styles.module.scss
  webview/src/stories/HoverMenu.stories.tsx
  webview/src/stories/IconMenu.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Fix broken import
  webview/src/shared/components/overflowHover/index.tsx
Due: prettier --write, eslint --cache --fix

Change icon menu colors according to theme
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
  webview/src/shared/components/icons/Dots.tsx
  webview/src/shared/components/icons/DownArrow.tsx
  webview/src/shared/components/icons/Lines.tsx
  webview/src/shared/components/icons/Pencil.tsx
  webview/src/shared/components/icons/Pin.tsx
  webview/src/shared/components/icons/UpArrow.tsx
Due: prettier --write, eslint --cache --fix

Remove auto margins for comparison table
  webview/src/plots/components/styles.module.scss
Due: none

Remove unused App data initialization
  webview/src/experiments/components/App.tsx
Due: prettier --write, eslint --cache --fix

update readme for placeholder release
  README.md
Due: prettier --write

Change style of drag and drop on plots (#1368)
  webview/src/plots/components/constants.ts
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/dragDrop/GripIcon.tsx
Due: prettier --write, eslint --cache --fix

Make comparison table padding same as other sections (#1370)
  webview/src/plots/components/styles.module.scss
Due: none

Change icon menu colors according to theme (#1371)
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
  webview/src/shared/components/icons/Dots.tsx
  webview/src/shared/components/icons/DownArrow.tsx
  webview/src/shared/components/icons/Lines.tsx
  webview/src/shared/components/icons/Pencil.tsx
  webview/src/shared/components/icons/Pin.tsx
  webview/src/shared/components/icons/UpArrow.tsx
Due: prettier --write, eslint --cache --fix

add changelog file
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
