Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Rename size to nbItemsPerRow (#3376)
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/base/checkpointPlots.ts
  extension/src/test/fixtures/expShow/base/customPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/plots/components/customPlots/CustomPlot.tsx
  webview/src/plots/components/customPlots/CustomPlots.tsx
  webview/src/plots/components/customPlots/CustomPlotsWrapper.tsx
  webview/src/plots/components/customPlots/customPlotsSlice.ts
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/plots/components/util.ts
  webview/src/plots/components/webviewSlice.ts
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Rename plot sizes pt. 2
  extension/src/persistence/constants.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/test/fixtures/expShow/base/checkpointPlots.ts
  extension/src/test/fixtures/expShow/base/customPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/plots/index.test.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/util.ts
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Rename currentSize to nbItemsPerRow
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/customPlots/CustomPlot.tsx
  webview/src/plots/components/customPlots/CustomPlotsWrapper.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
Due: prettier --write, eslint --cache --fix

Rename plot sizes pt. 2 (#3377)
  extension/src/persistence/constants.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/test/fixtures/expShow/base/checkpointPlots.ts
  extension/src/test/fixtures/expShow/base/customPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/plots/index.test.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/customPlots/CustomPlot.tsx
  webview/src/plots/components/customPlots/CustomPlotsWrapper.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/util.ts
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Move Connect to Studio button into Actions tree
  extension/package.json
Due: prettier --write

Plug in the height inside plots data
  extension/src/persistence/constants.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/base/checkpointPlots.ts
  extension/src/test/fixtures/expShow/base/customPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/plots/components/customPlots/customPlotsSlice.ts
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/stories/ComparisonTable.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix typo
  extension/src/persistence/constants.ts
Due: prettier --write, eslint --cache --fix

Fix plots get started screen
  extension/src/plots/model/index.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/GetStarted.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/customPlots/CustomPlots.tsx
Due: prettier --write, eslint --cache --fix

Fix tests
  extension/src/test/suite/plots/index.test.ts
  extension/src/test/suite/plots/util.ts
Due: prettier --write, eslint --cache --fix

Plug in the height inside plots data (#3381)
  extension/src/persistence/constants.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/base/checkpointPlots.ts
  extension/src/test/fixtures/expShow/base/customPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/plots/components/customPlots/customPlotsSlice.ts
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/stories/ComparisonTable.stories.tsx
Due: prettier --write, eslint --cache --fix

Bump vega from 5.22.1 to 5.23.0
  webview/package.json
  yarn.lock
Due: prettier --write

Update vega
  webview/package.json
  yarn.lock
Due: prettier --write

Clean up config section of package.nls.json
  extension/package.nls.json
Due: prettier --write

refactor code
  extension/src/cli/dvc/runner.ts
  extension/src/connect/index.ts
Due: prettier --write, eslint --cache --fix

add dvc.studio.shareExperimentsLive config option
  extension/package.json
  extension/package.nls.json
  extension/src/cli/dvc/runner.ts
  extension/src/config.ts
  extension/src/connect/index.ts
  extension/src/extension.ts
  extension/src/test/suite/cli/dvc/runner.test.ts
  extension/src/test/suite/util.ts
  extension/src/vscode/config.ts
Due: prettier --write, eslint --cache --fix

move access of option out of config and into connect
  extension/src/cli/dvc/runner.ts
  extension/src/config.ts
  extension/src/connect/index.ts
  extension/src/experiments/commands/index.ts
  extension/src/extension.ts
  extension/src/test/suite/cli/dvc/runner.test.ts
  extension/src/test/suite/connect/index.test.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

update README
  README.md
Due: prettier --write

Remove package.nls
  extension/package.json
  extension/package.nls.json
Due: prettier --write

move dvc.focusedProjects into alphabetical order
  extension/package.json
Due: prettier --write

Remove package.nls (#3390)
  extension/package.json
  extension/package.nls.json
Due: prettier --write

Add live share experiment to Studio (#3387)
  README.md
  extension/package.json
  extension/src/cli/dvc/runner.ts
  extension/src/connect/index.ts
  extension/src/experiments/commands/index.ts
  extension/src/extension.ts
  extension/src/test/suite/cli/dvc/runner.test.ts
  extension/src/test/suite/connect/index.test.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/util.ts
  extension/src/vscode/config.ts
Due: prettier --write, eslint --cache --fix

add extra tests
  extension/src/test/suite/connect/index.test.ts
  webview/src/connect/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

refactor connect
  extension/src/connect/index.ts
Due: prettier --write, eslint --cache --fix

add prototype for Studio settings page
  extension/package.json
  extension/src/connect/index.ts
  extension/src/connect/webview/contract.ts
  extension/src/test/suite/util.ts
  extension/src/webview/contract.ts
  webview/src/connect/components/App.tsx
  webview/src/connect/components/Studio.tsx
  webview/src/connect/components/messages.ts
  webview/src/stories/Connect.stories.tsx
Due: prettier --write, eslint --cache --fix

bring back studio tree
  extension/package.json
Due: prettier --write

wire up view with config value
  extension/src/connect/index.ts
  extension/src/webview/contract.ts
  webview/src/connect/components/App.tsx
  webview/src/connect/components/Studio.tsx
Due: prettier --write, eslint --cache --fix

Resize plots vertically
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/Resizer.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/plots/components/customPlots/CustomPlotsWrapper.tsx
  webview/src/plots/components/customPlots/customPlotsSlice.ts
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
Due: prettier --write, eslint --cache --fix

Add Studio settings page (#3379)
  extension/package.json
  extension/src/connect/index.ts
  extension/src/connect/webview/contract.ts
  extension/src/test/suite/connect/index.test.ts
  extension/src/test/suite/util.ts
  extension/src/webview/contract.ts
  webview/src/connect/components/App.test.tsx
  webview/src/connect/components/App.tsx
  webview/src/connect/components/Studio.tsx
  webview/src/connect/components/messages.ts
  webview/src/stories/Connect.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix plots get started screen (#3382)
  extension/src/plots/model/index.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/GetStarted.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/customPlots/CustomPlots.tsx
Due: prettier --write, eslint --cache --fix

Revert "fix(deps): update dependency vega to v5.23.0 [security] (#3389)"
  yarn.lock
Due: none

Revert "fix(deps): update dependency vega to v5.23.0 [security] (#3389)" (#3396)
  yarn.lock
Due: none

Remove vega-scale and vega-functions resolution
  package.json
  yarn.lock
Due: prettier --write

Have queue workers respect dvc.studio.shareExperimentsLive
  extension/src/cli/dvc/executor.test.ts
  extension/src/cli/dvc/executor.ts
  extension/src/cli/dvc/index.ts
  extension/src/cli/dvc/options.ts
  extension/src/cli/dvc/runner.ts
  extension/src/extension.ts
  extension/src/test/cli/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

Use git to force repo url
  extension/src/cli/dvc/executor.test.ts
  extension/src/cli/dvc/executor.ts
  extension/src/cli/dvc/options.ts
  extension/src/extension.ts
  extension/src/test/cli/util.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

Expose Open Studio Settings through the command palette
  extension/package.json
  extension/src/commands/external.ts
  extension/src/connect/register.ts
  extension/src/telemetry/constants.ts
Due: prettier --write, eslint --cache --fix

Watch deps for experiment updates
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/data/collect.ts
Due: prettier --write, eslint --cache --fix

Added a story to visualize the icons
  webview/src/stories/Icons.stories.tsx
  webview/src/stories/components/IconWrapper.tsx
  webview/src/stories/components/IconsWrapper.tsx
  webview/src/stories/components/styles.module.scss
Due: prettier --write, eslint --cache --fix

Disable chromatic snapshots
  webview/src/stories/Icons.stories.tsx
Due: prettier --write, eslint --cache --fix

Select the number of items per row from picker
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/customPlots/CustomPlotsWrapper.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/shared/components/iconMenu/styles.module.scss
  webview/src/shared/components/icons/ArrowBoth.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/stories/Icons.stories.tsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
