Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

take integration tests TURBO
  extension/package.json
  package.json
  turbo.json
  webview/package.json
Due: prettier --write

take actions TURBO
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
Due: none

patch eslint config
  .eslintrc.js
  extension/.eslintrc.js
  webview/.eslintrc.js
Due: prettier --write, eslint --cache --fix

use build instead of build-extension
  .github/workflows/continuous-integration.yml
Due: none

explicitly call package dependencies in test vscode
  extension/package.json
  package.json
  turbo.json
  webview/package.json
Due: prettier --write

take storybook build TURBO
  package.json
  turbo.json
Due: prettier --write

remove build and upload from CI
  .github/workflows/continuous-integration.yml
Due: none

fix integration tests being TURBO
  extension/package.json
  package.json
  turbo.json
Due: prettier --write

Add turborepo and pipelines
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  extension/.eslintrc.js
  extension/.prettierignore
  extension/package.json
  package.json
  turbo.json
  webview/.eslintrc.js
  webview/.prettierignore
  webview/package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

take coverage TURBO
  extension/jest.config.js
  extension/package.json
  extension/scripts/coverIntegrationTests.js
  package.json
  turbo.json
  webview/jest.config.js
  webview/package.json
Due: prettier --write, eslint --cache --fix

remove test-vscode-build from webview
  webview/package.json
Due: prettier --write

fix coverage script
  package.json
Due: prettier --write

exclude fixtures from code climate
  .codeclimate.json
Due: prettier --write

add test fixtures as a global dependency
  turbo.json
Due: prettier --write

WIP Modal for zoomed plots
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/icons/Close.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/shared/components/modal/Modal.tsx
  webview/src/shared/components/modal/styles.module.scss
  webview/src/shared/style.scss
Due: prettier --write, eslint --cache --fix

Fix deeply nested sorts (#1555)
  extension/src/test/fixtures/expShow/deeplyNested.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

remove retry from version so that extension shutsdown (#1556)
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
Due: prettier --write, eslint --cache --fix

Add Turborepo (#1545)
  .eslintrc.js
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .prettierignore
  extension/.eslintrc.js
  extension/.prettierignore
  extension/jest.config.js
  extension/package.json
  extension/scripts/coverIntegrationTests.js
  package.json
  turbo.json
  webview/.eslintrc.js
  webview/.prettierignore
  webview/jest.config.js
  webview/package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Refactor table components into individual modules
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/interfaces.ts
Due: prettier --write, eslint --cache --fix

add comma
  README.md
Due: prettier --write

Update README quick start for non VS code users (#1558)
  README.md
Due: prettier --write

dispose of orphaned webviews
  extension/package.json
  extension/src/extension.ts
  extension/src/webview/serializer.ts
  extension/src/webview/workspace.ts
Due: prettier --write, eslint --cache --fix

remove webview serializer
  extension/src/extension.ts
  extension/src/webview/contract.ts
  extension/src/webview/index.ts
  extension/src/webview/serializer.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/App.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/hooks/useAppReducer.ts
  webview/src/shared/api.ts
Due: prettier --write, eslint --cache --fix

remove orphaned type
  extension/src/webview/contract.ts
Due: prettier --write, eslint --cache --fix

Refactor table components into individual modules (#1566)
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/interfaces.ts
Due: prettier --write, eslint --cache --fix

add metric or param group enum
  extension/src/experiments/metricsAndParams/collect.ts
  extension/src/experiments/metricsAndParams/model.test.ts
  extension/src/experiments/metricsAndParams/quickPick.test.ts
  extension/src/experiments/metricsAndParams/walk.ts
  extension/src/experiments/model/filterBy/quickPick.test.ts
  extension/src/experiments/model/sortBy/quickPick.test.ts
  extension/src/experiments/webview/contract.ts
  extension/src/test/fixtures/expShow/columns.ts
  extension/src/test/fixtures/expShow/metrics.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/hooks/useColumnOrder.test.ts
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

set timeout of each action to 20 minutes
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .github/workflows/publish.yml
Due: none

change name from group to type and type helpers
  extension/src/experiments/metricsAndParams/collect.test.ts
  extension/src/experiments/metricsAndParams/collect.ts
  extension/src/experiments/metricsAndParams/model.test.ts
  extension/src/experiments/metricsAndParams/model.ts
  extension/src/experiments/metricsAndParams/paths.test.ts
  extension/src/experiments/metricsAndParams/paths.ts
  extension/src/experiments/metricsAndParams/quickPick.test.ts
  extension/src/experiments/metricsAndParams/tree.test.ts
  extension/src/experiments/metricsAndParams/walk.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/filterBy/index.test.ts
  extension/src/experiments/model/filterBy/quickPick.test.ts
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/queue/collect.test.ts
  extension/src/experiments/model/queue/collect.ts
  extension/src/experiments/model/sortBy/index.test.ts
  extension/src/experiments/model/sortBy/quickPick.test.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/webview/contract.ts
  extension/src/plots/model/collect.ts
  extension/src/test/fixtures/expShow/columns.ts
  extension/src/test/fixtures/expShow/metrics.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/metricsAndParams/tree.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/hooks/useColumnOrder.test.ts
  webview/src/experiments/util/buildDynamicColumns.test.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

Fix drop position
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

Send context menu event when row is right-clicked
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

Add context menu payload with item details from webview
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

Remove webview serializer (#1569)
  extension/src/extension.ts
  extension/src/webview/contract.ts
  extension/src/webview/index.ts
  extension/src/webview/serializer.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/App.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/hooks/useAppReducer.ts
  webview/src/shared/api.ts
Due: prettier --write, eslint --cache --fix

Add MetricOrParamType enum (#1570)
  extension/src/experiments/metricsAndParams/collect.test.ts
  extension/src/experiments/metricsAndParams/collect.ts
  extension/src/experiments/metricsAndParams/model.test.ts
  extension/src/experiments/metricsAndParams/model.ts
  extension/src/experiments/metricsAndParams/paths.test.ts
  extension/src/experiments/metricsAndParams/paths.ts
  extension/src/experiments/metricsAndParams/quickPick.test.ts
  extension/src/experiments/metricsAndParams/tree.test.ts
  extension/src/experiments/metricsAndParams/walk.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/filterBy/index.test.ts
  extension/src/experiments/model/filterBy/quickPick.test.ts
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/queue/collect.test.ts
  extension/src/experiments/model/queue/collect.ts
  extension/src/experiments/model/sortBy/index.test.ts
  extension/src/experiments/model/sortBy/quickPick.test.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/webview/contract.ts
  extension/src/plots/model/collect.ts
  extension/src/test/fixtures/expShow/columns.ts
  extension/src/test/fixtures/expShow/metrics.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/metricsAndParams/tree.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/hooks/useColumnOrder.test.ts
  webview/src/experiments/util/buildDynamicColumns.test.ts
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

set timeout of each action to 20 minutes (#1571)
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  .github/workflows/dvc-cli-output-test.yml
  .github/workflows/publish.yml
Due: none

Show feedback when dragging a plot to another section
  extension/package.json
  package.json
  turbo.json
  webview/package.json
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHead.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/util.ts
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Add non-wired context menu
  extension/src/experiments/index.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Revert broken label
  extension/src/experiments/index.ts
Due: prettier --write, eslint --cache --fix

bump patch version for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Drag and drop feedback for comparison table (#1551)
  extension/src/vscode/recommend.ts
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHead.tsx
  webview/src/plots/components/comparisonTable/DropTarget.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/icons/Ellipsis.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
