Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Reorder functions in re-registration of VS Code commands (#823)
  extension/src/vscode/commands.ts
Due: prettier --write, eslint --cache --fix

exclude tsx files from code climate
  .codeclimate.json
Due: prettier --write

exclude tsx files from code climate (#830)
  .codeclimate.json
Due: prettier --write

delay importing of telemetry package further
  extension/src/config.ts
  extension/src/extension.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

add sorts to storybook test data
  webview/src/stories/Experiments.stories.tsx
Due: prettier --write, eslint --cache --fix

add sorts to storybook test data (#831)
  webview/src/stories/Experiments.stories.tsx
Due: prettier --write, eslint --cache --fix

Move light theme next to dark theme
  webview/src/components/Table/styles.module.scss
Due: none

Change data parsing to add multiple lines per experiment
  .eslintrc.js
  extension/package.json
  extension/src/experiments/plotsWebview/index.ts
  webview/src/plots/components/App.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

extend prompt TRY_FORCE coverage
  extension/src/cli/actions.ts
  extension/src/cli/output.ts
  extension/src/repository/commands/index.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

extend test
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

correctly name stub
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

use PathItem in the internals of tracked explorer tree
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

deduplicate is directory calls
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

Extend coverage of force prompt error message (free text) check (#835)
  extension/src/cli/actions.ts
  extension/src/cli/output.ts
  extension/src/repository/commands/index.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
  extension/src/test/suite/repository/sourceControlManagement.test.ts
Due: prettier --write, eslint --cache --fix

add integration tests which focus each of the views
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
  extension/src/test/suite/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

Standardise internals of tracked explorer tree (#836)
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

remove delete command from virtual files
  extension/package.json
Due: prettier --write

add integration tests which focus each of the views (#839)
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/sortBy/tree.test.ts
  extension/src/test/suite/experiments/paramsAndMetrics/tree.test.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

remove delete command from virtual files (#840)
  extension/package.json
Due: prettier --write

use view in experiments sort by tree when contexts
  extension/package.json
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.ts
Due: prettier --write, eslint --cache --fix

use view in experiments filter by tree when contexts
  extension/package.json
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/filterBy/tree.ts
Due: prettier --write, eslint --cache --fix

use view in tracked explorer tree when contexts
  extension/package.json
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

Use view in when contexts (#841)
  extension/package.json
  extension/src/experiments/model/filterBy/tree.test.ts
  extension/src/experiments/model/filterBy/tree.ts
  extension/src/experiments/model/sortBy/tree.test.ts
  extension/src/experiments/model/sortBy/tree.ts
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

refactor types
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

add unit test for multiple roots
  extension/src/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

cater for multiple roots being in tracked explorer tree
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

sort the dvc roots so they appear in order
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

refactor sort directory out of read directory
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

Cater for multiple dvc roots in tracked explorer tree (#842)
  extension/src/extension.ts
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

change not in cache color to match git ignored
  extension/src/repository/decorationProvider.ts
Due: prettier --write, eslint --cache --fix

do not try to open a virtual file
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

auto accept all changes on master as they have already been approved
  .github/workflows/continuous-integration.yml
Due: none

auto accept all changes on master as they have already been approved (#845)
  .github/workflows/continuous-integration.yml
Due: none

do not try to open a virtual file (#844)
  extension/src/fileSystem/tree.test.ts
  extension/src/fileSystem/tree.ts
Due: prettier --write, eslint --cache --fix

change not in cache color to match git ignored (#843)
  extension/src/repository/decorationProvider.ts
Due: prettier --write, eslint --cache --fix

remove code that registers decoration providers early
  extension/src/extension.ts
  extension/src/interfaces.ts
  extension/src/repository/index.test.ts
  extension/src/repository/index.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

add extension dependency to vscode.git
  extension/package.json
Due: prettier --write

simplify setup
  extension/src/extension.ts
  extension/src/interfaces.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

use first workspace folder instead of first dvc root for cli check
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

add basic walkthrough
  extension/package.json
  extension/resources/experimentsTable.md
  extension/resources/experimentsViews.md
  extension/resources/setupWorkspace.md
  extension/resources/sourceControlManagement.md
  extension/resources/trackedExplorer.md
Due: prettier --write
