Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

check on expand buttons
  extension/src/test/e2e/pageObjects/experimentsWebview.ts
Due: prettier --write, eslint --cache --fix

check on contract buttons
  extension/src/test/e2e/pageObjects/experimentsWebview.ts
  extension/src/test/e2e/pageObjects/locators.ts
Due: prettier --write, eslint --cache --fix

take screenshots
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

checkout the entire git history
  .github/workflows/end-to-end-test.yml
Due: none

fix action
  .github/workflows/end-to-end-test.yml
Due: none

remove all debugging code
  demo/params.yaml
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/experimentsWebview.ts
  extension/src/test/e2e/pageObjects/locators.ts
Due: prettier --write, eslint --cache --fix

revert dvc files
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

Change test wording
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/model/index.test.ts
Due: prettier --write, eslint --cache --fix

Use @storybook/testing-library for Storybook play functions
  webview/package.json
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Stop using screen
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Add .play to show bool tooltip on data types Storybook
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Increase chromatic delay for multiview zoomed plot
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Further increase chromatic delay
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Make header shadow only appear when scrolled
  webview/package.json
  webview/setup-tests.js
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/styles.module.scss
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add story for scrolled table
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

add end to end into continuous integration
  .github/workflows/continuous-integration.yml
  .github/workflows/end-to-end-test.yml
Due: none

use yarn install for windows
  .github/workflows/end-to-end-test.yml
Due: none

remove macos from cross-platform tests
  .github/workflows/cross-platform-test.yml
Due: none

fix race condition in manual plot refresh for M1 macs
  extension/src/plots/index.ts
Due: prettier --write, eslint --cache --fix

improve test reliability
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/baseWebview.ts
Due: prettier --write, eslint --cache --fix

plots diff may be called twice
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

switch match language to match managers
  renovate.json
Due: prettier --write

switch match managers to match data sources
  renovate.json
Due: prettier --write

remove end to end workflow
  .github/workflows/end-to-end-test.yml
Due: none

Remove chromatic delay on MultiView Zoomed plot
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Remove chromatic delays
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Await multiview plot
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Remove react call to findByText
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Add chromatic viewport
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Use scrollable viewport for chromatic
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

remove flaky test from unit test suite
  extension/src/git.test.ts
Due: prettier --write, eslint --cache --fix

Use @storybook/testing-library for Storybook play functions (#2005)
  webview/package.json
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add wrapper element to scrolled story for chromatic
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix non-standard data type tooltips and add tests (#1991)
  extension/src/cli/reader.ts
  extension/src/experiments/columns/model.test.ts
  extension/src/experiments/model/index.test.ts
  extension/src/test/fixtures/expShow/dataTypes.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Actually export the scrolled story
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Move storybook to devdependencies and remove unused webviewData global
  webview/.storybook/preview.ts
  webview/package.json
Due: prettier --write, eslint --cache --fix

Move @storybook/testing-library to devDependencies
  webview/package.json
  yarn.lock
Due: prettier --write

Remove themes addon
  webview/package.json
  yarn.lock
Due: prettier --write

Add color themes to storybook
  webview/.storybook/main.ts
  webview/.storybook/preview.ts
  webview/package.json
  webview/src/stories/test-vscode-styles.scss
Due: prettier --write, eslint --cache --fix

Use dark by default
  webview/src/stories/test-vscode-styles.scss
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
