Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Add some more tests for bulk selection
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Add failing tests using new fixture
  extension/src/test/fixtures/expShow/dataTypes.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

expand testing of the webview
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

update before hook
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

add basic test for plots webview
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

add custom page objects
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/baseWebview.ts
  extension/src/test/e2e/pageObjects/experimentsWebview.ts
  extension/src/test/e2e/pageObjects/locators.ts
  extension/src/test/e2e/pageObjects/plotsWebview.ts
Due: prettier --write, eslint --cache --fix

add utils
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

move more logic into page object
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/plotsWebview.ts
Due: prettier --write, eslint --cache --fix

scroll plots into view
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

add test e2e command
  extension/package.json
  package.json
  turbo.json
Due: prettier --write

Add stability days to Renovate config (#1992)
  renovate.json
Due: prettier --write

add match languages to package rules
  renovate.json
Due: prettier --write

Add e2e tests (wdio-vscode-service) (#1993)
  extension/.gitignore
  extension/package.json
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/baseWebview.ts
  extension/src/test/e2e/pageObjects/experimentsWebview.ts
  extension/src/test/e2e/pageObjects/locators.ts
  extension/src/test/e2e/pageObjects/plotsWebview.ts
  extension/src/test/e2e/util.ts
  extension/src/test/e2e/wdio.conf.ts
  package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add match languages to package rules (#1998)
  renovate.json
Due: prettier --write

update renovate config again
  renovate.json
Due: prettier --write

update resolutions
  package.json
  yarn.lock
Due: prettier --write

add end to end test workflow
  .github/workflows/end-to-end-test.yml
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

try mac for screenshot
  .github/workflows/end-to-end-test.yml
Due: none

use tree for the table role (update to React types)
  extension/src/test/e2e/pageObjects/locators.ts
Due: prettier --write, eslint --cache --fix

add dvc python path into user settings
  extension/src/python/index.ts
  extension/src/python/path.ts
  extension/src/test/cli/util.ts
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

Add internalChecksFilter to Renovate config (#2001)
  renovate.json
Due: prettier --write

increase timeout and take screenshot
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

add screenshots directory to gitignore
  extension/.gitignore
Due: none

pull data once on startup
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

explicitly set timeout in before and wait step
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

Rename columns and fix tooltip tests
  extension/src/test/fixtures/expShow/dataTypes.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Fix grammar of rows tests
  extension/src/experiments/model/index.test.ts
Due: prettier --write, eslint --cache --fix

Make text of columns tests similar to rows tests
  extension/src/experiments/columns/model.test.ts
Due: prettier --write, eslint --cache --fix

increase timeout of experiment
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Remove unnecessary abstraction
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Move expectTooltipValue in only function it's used, remove module-wide exception
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

fix typo
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Add interactive cell tooltip test
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

fix up pulling all data before proceeding
  .github/workflows/end-to-end-test.yml
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

fix timeouts of startup
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

split wait for blocks
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

refactor waiting for the cli functions
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

try ubuntu
  .github/workflows/end-to-end-test.yml
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

reduce number of epochs
  demo/params.yaml
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

try and debug if rows are being found or not
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix
