Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Toggle revisions from webview (#1607)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/PlotsPicker.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/shared/components/selectMenu/MultiSelect.tsx
  webview/src/shared/components/selectMenu/styles.module.scss
Due: prettier --write, eslint --cache --fix

Apply editor font to body and normal font to tooltip
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/tooltip/styles.module.scss
  webview/src/shared/style.scss
Due: none

Fix refresh loop
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

dvc.yaml minor: add newline
  demo/dvc.yaml
Due: none

Add actions to plots
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/shared/components/modal/styles.module.scss
Due: prettier --write, eslint --cache --fix

Only show plot actions on zoomed in plot
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

Only allow export as action on plot
  webview/src/plots/components/Plots.tsx
Due: prettier --write, eslint --cache --fix

Send context menu event when row is right-clicked
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

Add context menu payload with item details from webview
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

Add non-wired context menu
  extension/src/experiments/index.ts
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Revert broken label
  extension/src/experiments/index.ts
Due: prettier --write, eslint --cache --fix

Add rough functional wiring
  extension/src/experiments/index.ts
Due: prettier --write, eslint --cache --fix

Refactor context menu
  extension/src/experiments/index.ts
Due: prettier --write, eslint --cache --fix

Open context menu on row
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/selectMenu/SelectMenuOption.tsx
Due: prettier --write, eslint --cache --fix

Use original implementation of the context-menu
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/stories/ContextMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

Create context menu component
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/stories/ContextMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

fix integration tests
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

exclude demo from code climate
  .codeclimate.json
Due: prettier --write

Demo updates (#1618)
  .codeclimate.json
  demo/.gitignore
  demo/dvc.lock
  demo/dvc.yaml
  demo/dvclive.json
  demo/dvclive/scalars/acc.tsv
  demo/dvclive/scalars/loss.tsv
  demo/logs.html
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
  demo/requirements.txt
  demo/train.py
  demo/training_metrics.json
  demo/training_metrics/images/missclassified.jpg
  demo/training_metrics/scalars/acc.tsv
  demo/training_metrics/scalars/loss.tsv
  extension/src/test/suite/fileSystem/tree.test.ts
Due: prettier --write, eslint --cache --fix

hack in watcher to work with exp show update
  extension/src/cli/constants.ts
  extension/src/cli/reader.test.ts
  extension/src/cli/reader.ts
  extension/src/data/index.ts
  extension/src/experiments/data/index.ts
  extension/src/plots/data/index.ts
  extension/src/test/cli/expShow.test.ts
  extension/src/test/suite/experiments/util.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

bump min version of DVC
  demo/requirements.txt
  extension/src/cli/constants.ts
Due: prettier --write, eslint --cache --fix

refactor process manager creation
  extension/src/data/index.ts
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

refactor class constructors
  extension/src/data/index.ts
  extension/src/plots/data/index.ts
Due: prettier --write, eslint --cache --fix

change type in abstract update method
  extension/src/data/index.ts
Due: prettier --write, eslint --cache --fix

create explanatory variable
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

add integration tests
  extension/src/experiments/data/index.ts
  extension/src/test/suite/experiments/data/index.test.ts
  extension/src/test/suite/util.ts
Due: prettier --write, eslint --cache --fix

add dvclive env var to process env
  .vscode/settings.json
  extension/src/cli/executor.test.ts
  extension/src/cli/index.test.ts
  extension/src/cli/options.test.ts
  extension/src/cli/options.ts
  extension/src/cli/reader.test.ts
Due: prettier --write, eslint --cache --fix

bump min versions of DVC
  demo/requirements.txt
  extension/src/cli/constants.ts
Due: prettier --write, eslint --cache --fix

Create MessagesMenu component
  webview/src/shared/components/messagesMenu/MessagesMenu.tsx
  webview/src/shared/components/messagesMenu/MessagesMenuOption.tsx
  webview/src/shared/components/messagesMenu/styles.module.scss
Due: prettier --write, eslint --cache --fix

Use scss variables and fix shadows
  webview/src/shared/components/tooltip/styles.module.scss
Due: none

stop tracking training_metrics.json
  demo/training_metrics.json
Due: prettier --write

stop tracking training_metrics
  demo/training_metrics/images/missclassified.jpg
  demo/training_metrics/scalars/acc.tsv
  demo/training_metrics/scalars/loss.tsv
Due: none

stop tracking predictions.json
  demo/predictions.json
Due: prettier --write

Updates
  demo/.gitignore
  demo/dvc.lock
  demo/dvc.yaml
  demo/train.py
Due: none

remove explicit dvclive dep
  demo/requirements.txt
Due: none

commit an excellent experiment
  demo/dvc.lock
Due: none

More demo updates (#1633)
  demo/.gitignore
  demo/dvc.lock
  demo/dvc.yaml
  demo/predictions.json
  demo/requirements.txt
  demo/train.py
  demo/training_metrics.json
  demo/training_metrics/images/missclassified.jpg
  demo/training_metrics/scalars/acc.tsv
  demo/training_metrics/scalars/loss.tsv
Due: prettier --write

Refresh zoomed in plot (#1623)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/templatePlots/util.ts
Due: prettier --write, eslint --cache --fix

Make sure the exported plot is readable
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/constants.ts
  webview/src/util/styles.ts
Due: prettier --write, eslint --cache --fix

Style action button
  webview/src/plots/components/styles.module.scss
Due: none
