Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

stub exists and return true for CI
  extension/src/test/suite/fileSystem/views/trackedExplorerTree.test.ts
Due: prettier --write, eslint --cache --fix

Remove demo project target for dev UI scripts
  .vscode/launch.json
  CONTRIBUTING.md
  package.json
Due: prettier --write

update extension logo to the latest DVC icon
  extension/docs/dvc.png
Due: none

exclude experiments git refs from repository watcher
  extension/src/experiments/table.ts
  extension/src/fileSystem/watcher.test.ts
  extension/src/fileSystem/watcher.ts
Due: prettier --write, eslint --cache --fix

pull helper functions out of get repo watcher
  extension/src/fileSystem/watcher.ts
Due: prettier --write, eslint --cache --fix

re-add delay
  extension/src/util/index.test.ts
  extension/src/util/index.ts
Due: prettier --write, eslint --cache --fix

add retry to repository fetching of data
  extension/src/repository/index.test.ts
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

reduce duplication in tests
  extension/src/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

pull out promises into separate function
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

go off the deep end with types
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

increase verbosity slightly
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

rename function
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

clean up tests
  extension/src/repository/index.test.ts
Due: prettier --write, eslint --cache --fix

Add information to README, including elaborating on the demo project
  CONTRIBUTING.md
Due: prettier --write

Decrement header indentation
  CONTRIBUTING.md
Due: prettier --write

Add info about insiders vs stable
  CONTRIBUTING.md
Due: prettier --write

Fix poor phrasing and title-case new headers
  CONTRIBUTING.md
Due: prettier --write

Change Development Environment heading and add elaboration on it
  CONTRIBUTING.md
Due: prettier --write

Remove instances of recommending insiders
  CONTRIBUTING.md
  README.md
Due: prettier --write

Remove code-insiders from dev-ui script
  package.json
Due: prettier --write

Add insiders dev script
  package.json
Due: prettier --write

Remove demo project target for dev UI scripts and overhaul README/CONTRIBUTING (#530)
  .vscode/launch.json
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

Make shared fixtures package and move existing fixture into it
  extension/src/cli/reader.test.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/table.test.ts
  extension/src/test/suite/extension.test.ts
  fixtures/expShow/complex.json
  fixtures/index.js
  fixtures/package.json
  package.json
  webview/src/components/App.test.tsx
  webview/src/stories/Experiments.stories.tsx
  webview/src/util/parse-experiments.test.ts
Due: prettier --write, eslint --cache --fix

add promise util file
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
Due: prettier --write, eslint --cache --fix

Revert "Make shared fixtures package and move existing fixture into it"
  extension/src/cli/reader.test.ts
  extension/src/experiments/webview/complex-output-example.json
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/table.test.ts
  extension/src/test/suite/extension.test.ts
  fixtures/index.js
  fixtures/package.json
  package.json
  webview/src/components/App.test.tsx
  webview/src/stories/Experiments.stories.tsx
  webview/src/util/parse-experiments.test.ts
Due: prettier --write, eslint --cache --fix

move repository across to new promise util
  extension/src/repository/index.ts
Due: prettier --write, eslint --cache --fix

move delay util into time file
  extension/src/repository/index.test.ts
  extension/src/util/index.test.ts
  extension/src/util/index.ts
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
  extension/src/util/time.test.ts
  extension/src/util/time.ts
Due: prettier --write, eslint --cache --fix

improve tests
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
Due: prettier --write, eslint --cache --fix

use util in experiments table class
  extension/src/experiments/table.ts
  extension/src/test/suite/experiments/table.test.ts
Due: prettier --write, eslint --cache --fix

use refresh in constructor instead of update
  extension/src/experiments/table.ts
Due: prettier --write, eslint --cache --fix

add isReady to experiments table class
  extension/src/experiments/table.ts
  extension/src/test/suite/experiments/table.test.ts
Due: prettier --write, eslint --cache --fix

be more javascript
  extension/src/experiments/table.ts
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
Due: prettier --write, eslint --cache --fix

clean up types and name of function
  extension/src/util/promise.ts
Due: prettier --write, eslint --cache --fix

move test to single promise
  extension/src/util/promise.test.ts
Due: prettier --write, eslint --cache --fix

Create retry until all resolve promise util (#536)
  extension/src/repository/index.test.ts
  extension/src/repository/index.ts
  extension/src/util/index.test.ts
  extension/src/util/index.ts
  extension/src/util/promise.test.ts
  extension/src/util/promise.ts
  extension/src/util/time.test.ts
  extension/src/util/time.ts
Due: prettier --write, eslint --cache --fix

mention python extension up front in contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

removed the <ManageColumns> and <SortIndicator> elements from the Experiments view
  webview/src/components/Experiments/index.tsx
Due: prettier --write, eslint --cache --fix

removed the ManageColumns and SortIndicator components
  webview/src/components/ManageColumns/index.tsx
  webview/src/components/ManageColumns/styles.module.scss
  webview/src/components/SortIndicator/index.tsx
  webview/src/components/SortIndicator/styles.module.scss
Due: prettier --write, eslint --cache --fix

Stop throwing on empty workspace
  extension/src/config.ts
  extension/src/extension.ts
  extension/src/fileSystem/views/trackedExplorerTree.ts
Due: prettier --write, eslint --cache --fix

return undefined explicitly
  extension/src/fileSystem/views/trackedExplorerTree.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
