Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Fix race condition in manual plot refresh (M1 macs) (#2011)
  extension/src/plots/index.ts
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

Actually install addon-themes
  webview/package.json
  yarn.lock
Due: prettier --write

Change order of plugins to change order of UI elements
  webview/.storybook/main.ts
Due: prettier --write, eslint --cache --fix

Remove flaky test from unit test suite (#2014)
  extension/src/git.test.ts
Due: prettier --write, eslint --cache --fix

Switch from matchLanguages to matchManagers in Renovate Config (#2012)
  renovate.json
Due: prettier --write

Pin @storybook/testing-library
  webview/package.json
Due: prettier --write

Add e2e tests into CI (#2002)
  .github/workflows/continuous-integration.yml
  .github/workflows/cross-platform-test.yml
  demo/training_metrics.json
  extension/.gitignore
  extension/src/python/index.ts
  extension/src/python/path.ts
  extension/src/test/cli/util.ts
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/pageObjects/baseWebview.ts
  extension/src/test/e2e/pageObjects/experimentsWebview.ts
  extension/src/test/e2e/pageObjects/locators.ts
  extension/src/test/e2e/util.ts
  extension/src/test/e2e/wdio.conf.ts
Due: prettier --write, eslint --cache --fix

refind tree items in every wait for retry
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Add end to end test for SCM and file decorations
  extension/src/repository/decorationProvider.ts
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

remove timeout as it is set at global level
  extension/src/test/e2e/extension.test.ts
Due: prettier --write, eslint --cache --fix

Pin in yarn.lock
  yarn.lock
Due: none

Add end to end test for SCM and file decorations (#2013)
  extension/src/repository/decorationProvider.ts
  extension/src/test/e2e/extension.test.ts
  extension/src/test/e2e/util.ts
Due: prettier --write, eslint --cache --fix

Add Julie to CODEOWNERS
  .github/CODEOWNERS
Due: none

Add Julie to CODEOWNERS (#2018)
  .github/CODEOWNERS
Due: none

Add more themes
  webview/.storybook/preview.ts
  webview/src/stories/test-vscode-styles.scss
Due: prettier --write, eslint --cache --fix

Remove html prefixes
  webview/src/stories/test-vscode-styles.scss
Due: none

Add Default to default theme names
  webview/.storybook/preview.ts
Due: prettier --write, eslint --cache --fix

rename variable and class
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Add storybook-addon-themes (#2016)
  webview/.storybook/main.ts
  webview/.storybook/preview.ts
  webview/package.json
  webview/src/stories/test-vscode-styles.scss
  yarn.lock
Due: prettier --write, eslint --cache --fix

Minor Storybook config touch-ups (#2015)
  webview/.storybook/main.ts
  webview/.storybook/preview.ts
  webview/package.json
  webview/src/stories/test-vscode-styles.scss
  yarn.lock
Due: prettier --write, eslint --cache --fix

Conditional sticky table head shadows (#2010)
  webview/package.json
  webview/setup-tests.js
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/stories/Table.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Ignore packages in Renovate config
  renovate.json
Due: prettier --write

Add wdio-vscode-service folder to prettierignore
  extension/.prettierignore
Due: none

Upgrade Python dependencies
  demo/requirements.txt
Due: none

Increase timeout of scheduled CLI test
  extension/src/test/cli/index.ts
Due: prettier --write, eslint --cache --fix

remove webview message handling from experiments
  extension/src/experiments/index.ts
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

move creation of webview messages out of constructor
  extension/src/experiments/index.ts
Due: prettier --write, eslint --cache --fix

make all properties readonly
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Add wdio-vscode-service folder to prettierignore (#2023)
  extension/.prettierignore
Due: none

Ignore packages in Renovate config (#2021)
  renovate.json
Due: prettier --write

Increase timeout of scheduled CLI test (#2025)
  extension/src/test/cli/index.ts
Due: prettier --write, eslint --cache --fix

Remove webview message handling from experiments (#2026)
  extension/src/experiments/index.ts
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

remove webview message handling from plots
  extension/src/plots/index.ts
  extension/src/plots/webview/messages.ts
Due: prettier --write, eslint --cache --fix

remove unnecessary optional chaining
  extension/src/plots/index.ts
  extension/src/plots/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Remove webview message handling from plots (#2027)
  extension/src/plots/index.ts
  extension/src/plots/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Move experiments webview message sending into WebviewMessages
  extension/src/experiments/index.ts
  extension/src/experiments/webview/messages.ts
  extension/src/webview/repository.ts
Due: prettier --write, eslint --cache --fix

try caching dependencies
  .github/workflows/continuous-integration.yml
Due: none

move webview messages creation out of constructor
  extension/src/experiments/index.ts
Due: prettier --write, eslint --cache --fix

change get webview to a protected method
  extension/src/webview/repository.ts
Due: prettier --write, eslint --cache --fix
