Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Consolidate version checking into CLI discovery file (#2552)
  extension/src/cli/dvc/discovery.ts
  extension/src/cli/dvc/version.ts
  extension/src/setup.ts
Due: prettier --write, eslint --cache --fix

Update version and CHANGELOG for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Bump min DVC version to 2.30.0 (Use status from exp show) (#2521)
  demo/requirements.txt
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/contract.ts
  extension/src/experiments/data/collect.test.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/accumulator.ts
  extension/src/experiments/model/collect.test.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.test.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/sortBy/index.test.ts
  extension/src/experiments/model/status/collect.test.ts
  extension/src/experiments/model/status/collect.ts
  extension/src/experiments/model/status/index.test.ts
  extension/src/experiments/model/status/index.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/webview/contract.ts
  extension/src/plots/model/collect.ts
  extension/src/test/fixtures/expShow/dataTypes.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/modified.ts
  extension/src/test/fixtures/expShow/output.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/fixtures/expShow/uncommittedDeps.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/model/tree.test.ts
  extension/src/test/suite/plots/index.test.ts
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/RowContextMenu.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/stories/Table.stories.tsx
  webview/src/test/tableDataFixture.ts
Due: prettier --write, eslint --cache --fix

add failed experiment to the test fixture
  extension/src/cli/dvc/contract.ts
  extension/src/experiments/model/collect.ts
  extension/src/test/fixtures/expShow/output.ts
  extension/src/test/fixtures/expShow/rows.ts
Due: prettier --write, eslint --cache --fix

fix integration tests
  extension/src/test/fixtures/expShow/output.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Remove stale developer roadmap from README
  README.md
Due: prettier --write

Display failed experiments (#2535)
  extension/src/cli/dvc/contract.ts
  extension/src/experiments/model/collect.ts
  extension/src/test/fixtures/expShow/output.ts
  extension/src/test/fixtures/expShow/rows.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

* possibly fix tests * update various variables and names
  README.md
  extension/package.json
  extension/package.nls.json
  extension/src/experiments/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/vscode/config.ts
  extension/src/vscode/title.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

Make the plot sizes numerical underneath
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/vega/util.test.ts
  extension/src/plots/vega/util.ts
  extension/src/plots/webview/contract.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/SizePicker.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/plots/components/util.ts
  webview/src/plots/hooks/useNbItemsPerRow.ts
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
  webview/src/util/strings.ts
Due: prettier --write, eslint --cache --fix

Reset file
  demo/dvc.lock
Due: none

Fix comparison table stories
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
Due: prettier --write, eslint --cache --fix

Fix large plots
  webview/src/plots/components/styles.module.scss
Due: none

Remove stale developer roadmap from README (#2561)
  README.md
Due: prettier --write

Fix multiview sizes
  webview/src/plots/components/styles.module.scss
Due: none

Improve max table depth feature (#2538)
  README.md
  extension/package.json
  extension/package.nls.json
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/experiments/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/vscode/config.ts
  extension/src/vscode/inputBox.ts
  extension/src/vscode/title.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

switch eye for radio button and improve tooltip
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/icons/Eye.tsx
  webview/src/shared/components/icons/EyeClosed.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

switch ternary to be in the correct direction
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

improve tooltip
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

fix spinner
  webview/src/experiments/components/table/styles.module.scss
Due: none

destructure row action props to get toggle experiment
  webview/src/experiments/components/table/Cell.tsx
Due: prettier --write, eslint --cache --fix

revert tooltip in order to split PR
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

resort props
  webview/src/experiments/components/table/CellRowActions.tsx
Due: prettier --write, eslint --cache --fix

Account for dvc yaml potentially not having a train stage
  extension/src/experiments/checkpoints/collect.test.ts
  extension/src/experiments/checkpoints/collect.ts
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Screenshot for "Select up to 7 experiments in the table view to visualize in the"
  extension/resources/walkthrough/images/plots-click-the-circle-beside-experiment-name.png
Due: none

Update the DVC: Get Started / Plots Dashboard
  extension/resources/walkthrough/plots.md
Due: prettier --write

Match title from the left section
  extension/resources/walkthrough/command-palette.md
Due: prettier --write

New title "Helpful Resources"
  extension/resources/walkthrough/more-resources.md
Due: prettier --write

Changing one of the sections title
  extension/package.json
Due: prettier --write

Take off await statement
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Add await back
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Account for dvc yaml potentially not having a train stage (#2571)
  extension/src/experiments/checkpoints/collect.test.ts
  extension/src/experiments/checkpoints/collect.ts
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Delete unneeded await
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Fix failing CI vscode test
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Fix failing CI vscode test (#2580)
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Fix virtualized plots
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/util.ts
  webview/src/shared/components/virtualizedGrid/VirtualizedGrid.tsx
  webview/src/stories/util.ts
Due: prettier --write, eslint --cache --fix

Suppress ctx menu sorting options for unsortable headers
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

Suppress ctx menu sorting options for unsortable headers (#2583)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

New screenshot - WOW
  extension/resources/walkthrough/images/click-the-circle-beside-experiment-name.png
Due: none
