Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

refactor complexity out of on definition
  languageServer/src/LanguageServer.ts
Due: prettier --write, eslint --cache --fix

use uri separator
  languageServer/src/LanguageServer.ts
  languageServer/src/test/definitions.test.ts
  languageServer/src/test/utils/openTheseFilesAndNotifyServer.ts
Due: prettier --write, eslint --cache --fix

further test
  languageServer/src/LanguageServer.ts
  languageServer/src/test/definitions.test.ts
Due: prettier --write, eslint --cache --fix

add integration test for client's request handler
  extension/src/fileSystem/index.ts
  extension/src/lspClient/languageClient.ts
  extension/src/test/suite/fileSystem/index.test.ts
Due: prettier --write, eslint --cache --fix

fix test data
  languageServer/src/test/fixtures/python/index.ts
Due: prettier --write, eslint --cache --fix

Fix experiment table showing removed experiments
  extension/src/experiments/data/index.ts
Due: prettier --write, eslint --cache --fix

Fix tests
  extension/src/test/suite/experiments/data/index.test.ts
Due: prettier --write, eslint --cache --fix

Proper solution
  extension/src/fileSystem/watcher.ts
Due: prettier --write, eslint --cache --fix

Fix tests
  extension/src/fileSystem/watcher.ts
  extension/src/test/suite/fileSystem/watcher.test.ts
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Implement simple onDefinition feature in LSP (#3175)
  extension/src/extension.ts
  extension/src/fileSystem/index.ts
  extension/src/lspClient/languageClient.ts
  extension/src/test/suite/fileSystem/index.test.ts
  languageServer/src/LanguageServer.ts
  languageServer/src/TextDocumentWrapper.ts
  languageServer/src/regexes.ts
  languageServer/src/test/definitions.test.ts
  languageServer/src/test/fixtures/examples/valid/index.ts
  languageServer/src/test/fixtures/python/index.ts
  languageServer/src/test/utils/openTheseFilesAndNotifyServer.ts
  languageServer/src/test/utils/requestDefinitions.ts
  languageServer/src/test/utils/sendTheseFilesToServer.ts
  languageServer/src/test/utils/setup-test-connections.ts
Due: prettier --write, eslint --cache --fix

rename files associated with lsp
  extension/src/extension.ts
  extension/src/languageClient/index.ts
  languageServer/src/LanguageServer.ts
  languageServer/src/TextDocumentWrapper.ts
  languageServer/src/server.ts
  languageServer/src/test/utils/setup-test-connections.ts
  languageServer/src/textDocument.ts
Due: prettier --write, eslint --cache --fix

rename language server instance
  languageServer/src/server.ts
Due: prettier --write, eslint --cache --fix

rename language server
  languageServer/src/languageServer.ts
Due: prettier --write, eslint --cache --fix

Fix small table styling bugs
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Fix bugs
  webview/src/experiments/components/table/styles.module.scss
Due: none

Rename files associated with LSP (#3185)
  extension/src/extension.ts
  extension/src/languageClient/index.ts
  languageServer/src/TextDocumentWrapper.ts
  languageServer/src/languageServer.ts
  languageServer/src/server.ts
  languageServer/src/test/utils/setup-test-connections.ts
  languageServer/src/textDocument.ts
Due: prettier --write, eslint --cache --fix

Remove unnecessary dependencies from LSP
  languageServer/package.json
  yarn.lock
Due: prettier --write

Remove unnecessary dependencies from LSP (#3184)
  languageServer/package.json
  yarn.lock
Due: prettier --write

Remove unnecessay interface from LSP
  languageServer/src/ITextDocumentWrapper.ts
Due: prettier --write, eslint --cache --fix

Remove unnecessay interface from LSP (#3181)
  languageServer/src/ITextDocumentWrapper.ts
Due: prettier --write, eslint --cache --fix

Limit LSP reach to dvc yaml files
  extension/src/languageClient/index.ts
  languageServer/src/documentSelector.ts
  languageServer/src/languageServer.ts
Due: prettier --write, eslint --cache --fix

Limit LSP reach to dvc yaml files (#3194)
  extension/src/languageClient/index.ts
  languageServer/src/documentSelector.ts
  languageServer/src/languageServer.ts
Due: prettier --write, eslint --cache --fix

Fix missing border
  webview/src/experiments/components/table/styles.module.scss
Due: none

Refactor code
  extension/src/data/index.ts
  extension/src/experiments/data/index.ts
  extension/src/fileSystem/data/index.ts
  extension/src/fileSystem/relativePattern.ts
  extension/src/fileSystem/watcher.ts
  extension/src/repository/data/index.ts
  extension/src/setup/index.ts
  extension/src/test/suite/fileSystem/watcher.test.ts
  extension/src/util/string.ts
Due: prettier --write, eslint --cache --fix

Fix more unspotted bugs
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Clean up
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix typo
  webview/src/experiments/components/table/styles.module.scss
Due: none

Fix table/plots not updating correctly on windows (#3191)
  extension/src/data/index.ts
  extension/src/experiments/data/index.ts
  extension/src/fileSystem/data/index.ts
  extension/src/fileSystem/relativePattern.ts
  extension/src/fileSystem/watcher.ts
  extension/src/repository/data/index.ts
  extension/src/setup/index.ts
  extension/src/test/suite/fileSystem/watcher.test.ts
Due: prettier --write, eslint --cache --fix

Select training script if not found in pipeline
  extension/src/cli/dvc/constants.ts
  extension/src/cli/dvc/reader.ts
  extension/src/experiments/commands/register.ts
  extension/src/experiments/workspace.test.ts
  extension/src/experiments/workspace.ts
  extension/src/fileSystem/index.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Remove read file contents request sent to extension by language server (use is file check)
  extension/src/fileSystem/index.ts
  extension/src/languageClient/index.ts
  extension/src/test/suite/fileSystem/index.test.ts
  languageServer/src/languageServer.ts
  languageServer/src/test/definitions.test.ts
  languageServer/src/test/utils/setup-test-connections.ts
  languageServer/src/textDocument.ts
Due: prettier --write, eslint --cache --fix

Fix minor table bugs (#3192)
  webview/src/experiments/components/table/TableBody.tsx
  webview/src/experiments/components/table/header/TableHeaderCell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Attempt to fix flaky integration test (timing issue)
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Cleanup code
  extension/src/experiments/workspace.ts
  extension/src/fileSystem/index.ts
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

Fix tests
  extension/src/test/suite/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Remove read file contents request sent to extension by language server (use is file check) (#3198)
  extension/src/fileSystem/index.ts
  extension/src/languageClient/index.ts
  extension/src/test/suite/fileSystem/index.test.ts
  languageServer/src/languageServer.ts
  languageServer/src/test/definitions.test.ts
  languageServer/src/test/utils/setup-test-connections.ts
  languageServer/src/textDocument.ts
Due: prettier --write, eslint --cache --fix

Add tests
  extension/src/experiments/workspace.test.ts
Due: prettier --write, eslint --cache --fix

Remove beaker (show experiments) and scatter graph (show plots) buttons from sidebar
  extension/package.json
Due: prettier --write

Add a mention to run script after adding dvclive
  webview/src/setup/components/NoData.tsx
Due: prettier --write, eslint --cache --fix

Add missing text
  webview/src/setup/components/NoData.tsx
Due: prettier --write, eslint --cache --fix

Remove beaker (show experiments) and scatter graph (show plots) buttons from sidebar (#3205)
  extension/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
