Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Use exp show data along with runner to set dvc experiment running context value (#1848)
  extension/package.json
  extension/src/cli/runner.ts
  extension/src/context.ts
  extension/src/experiments/index.ts
  extension/src/experiments/model/accumulator.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/experiments/workspace.ts
  extension/src/extension.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/tableData.ts
  extension/src/test/suite/cli/runner.test.ts
  extension/src/test/suite/context.test.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/stories/Table.stories.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

Add CODEOWNERS file (#1852)
  .github/CODEOWNERS
Due: none

Capitalize descriptions
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

Add cross-product uuid to all telemetry events (#1619)
  .vscode/settings.json
  extension/package.json
  extension/src/fileSystem/index.ts
  extension/src/telemetry/index.test.ts
  extension/src/telemetry/index.ts
  extension/src/telemetry/uuid.test.ts
  extension/src/telemetry/uuid.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add tooltip with the meaning of each plot section (#1851)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/icons/Info.tsx
  webview/src/shared/components/icons/index.ts
Due: prettier --write, eslint --cache --fix

Add dep prefix to tooltip
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

Add dep prefix to tooltip (#1853)
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Remove the plot section renamer feature
  extension/src/persistence/constants.ts
  extension/src/plots/index.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/contract.ts
  webview/icons/pencil.svg
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/iconMenu/IconMenu.test.tsx
  webview/src/shared/components/icons/Pencil.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/stories/IconMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

ensure that the file we are trying to write JSON to exists
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Ensure that the file we are trying to write JSON to exists (#1856)
  extension/src/fileSystem/index.ts
Due: prettier --write, eslint --cache --fix

Remove the plot section renamer feature (#1855)
  extension/src/persistence/constants.ts
  extension/src/plots/index.ts
  extension/src/plots/model/index.test.ts
  extension/src/plots/model/index.ts
  extension/src/plots/webview/contract.ts
  extension/src/telemetry/constants.ts
  extension/src/test/fixtures/expShow/checkpointPlots.ts
  extension/src/test/fixtures/plotsDiff/index.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/test/suite/plots/util.ts
  extension/src/webview/contract.ts
  webview/icons/pencil.svg
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/shared/components/Icon.tsx
  webview/src/shared/components/iconMenu/IconMenu.test.tsx
  webview/src/shared/components/icons/Pencil.tsx
  webview/src/shared/components/icons/index.ts
  webview/src/stories/IconMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

Use primary button color as accent color
  webview/src/shared/variables.scss
Due: none

Use primary button color as accent color (#1859)
  webview/src/shared/variables.scss
Due: none

Update README.md
  README.md
Due: prettier --write

readme: rewrap
  README.md
Due: prettier --write

readme: add list of high-level features from https://docs.google.com/document/d/10THN0WwvPaDOAnmWd37xMOSWftJrUSIPlA2m0iHGDNI/edit#
  README.md
Due: prettier --write

readme: update features and add competitive advantages based on https://docs.google.com/document/d/10THN0WwvPaDOAnmWd37xMOSWftJrUSIPlA2m0iHGDNI/edit#
  README.md
Due: prettier --write

readme: mention that it's beta per https://github.com/iterative/vscode-dvc/pull/1816#issuecomment-1149365905
  README.md
Due: prettier --write

Remove preview marker from marketplace listing
  extension/package.json
Due: prettier --write

readme: small improvements to lists
  README.md
Due: prettier --write

readme: better Quick start
  README.md
Due: prettier --write

readme: populate Config section
  README.md
Due: prettier --write

Add init to command palette when there is no DVC project in the workspace
  extension/package.json
  extension/package.nls.json
Due: prettier --write

readme: move Useful commands before Config
  README.md
Due: prettier --write

config: update settings descriptions (readme and package)
  README.md
  extension/package.nls.json
Due: prettier --write

GS: begin copy editing texts...
  extension/package.json
Due: prettier --write

contrib: copy edits
  CONTRIBUTING.md
  README.md
Due: prettier --write

readme: fix vs-code commands lnk
  README.md
Due: prettier --write

contrib: kill link to wiki (outdated)
  CONTRIBUTING.md
Due: prettier --write

Add maxWorkers option to jest configs
  extension/jest.config.js
  webview/jest.config.js
Due: prettier --write, eslint --cache --fix

readme: lint (BROKEN)
  README.md
Due: prettier --write

Remove preview marker from marketplace listing (#1860)
  extension/package.json
Due: prettier --write

Add init to command palette when there is no DVC project in the workspace (#1861)
  extension/package.json
  extension/package.nls.json
Due: prettier --write

Add arrow sort indicators and filter indicators to columns
  extension/src/experiments/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/tableData.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/MergeHeaderGroups.tsx
  webview/src/experiments/components/table/SortPicker.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/Table.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/iconMenu/IconMenuItem.tsx
Due: prettier --write, eslint --cache --fix

Fix filters prop dependencies
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/experiments/model/filterBy/tree.test.ts
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/test/sort.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
