Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Group Source Control Management files
  extension/src/repository/index.ts
  extension/src/repository/model/collect.ts
  extension/src/repository/sourceControlManagement/decorationProvider.test.ts
  extension/src/repository/sourceControlManagement/decorationProvider.ts
  extension/src/repository/sourceControlManagement/index.ts
  extension/src/test/suite/repository/sourceControlManagement/index.test.ts
Due: prettier --write, eslint --cache --fix

Group Source Control Management files (#2332)
  extension/src/repository/index.ts
  extension/src/repository/model/collect.ts
  extension/src/repository/sourceControlManagement/decorationProvider.test.ts
  extension/src/repository/sourceControlManagement/decorationProvider.ts
  extension/src/repository/sourceControlManagement/index.ts
  extension/src/test/suite/repository/sourceControlManagement/index.test.ts
Due: prettier --write, eslint --cache --fix

Make first cell contents selectable
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/util/props.ts
Due: prettier --write, eslint --cache --fix

Truncate plots title if too long
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

Add tests
  webview/src/plots/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Switch from jest from ts-jest to swc (#2333)
  .vscode/settings.json
  extension/jest.config.js
  extension/package.json
  extension/src/common/logger.test.ts
  extension/src/processExecution.ts
  extension/src/python/index.test.ts
  extension/src/python/index.ts
  webview/jest.config.js
  webview/package.json
  webview/setup-tests.js
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableHeader.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.test.tsx
  webview/src/shared/components/copyButton/CopyButton.test.tsx
  webview/src/shared/components/dragDrop/currentTarget.ts
  webview/src/shared/components/dragDrop/util.ts
  webview/src/shared/components/iconMenu/IconMenu.test.tsx
  webview/src/shared/components/modal/Modal.test.tsx
  webview/src/shared/components/selectMenu/SelectMenu.test.tsx
  webview/src/shared/components/selectMenu/SelectMenuOption.test.tsx
  webview/src/shared/components/webviewWrapper/WebviewWrapper.test.tsx
  webview/src/test/dragDrop.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add tests
  webview/src/experiments/components/App.test.tsx
Due: prettier --write, eslint --cache --fix

Make first cell text contents selectable (#2341)
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/util/props.ts
Due: prettier --write, eslint --cache --fix

Do not update trees on star update (again)
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

Remove extra sending of data to webview on change of star selection
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

switch ts-loader to swc-loader
  extension/.swcrc
  extension/package.json
  extension/webpack.config.ts
  webview/.swcrc
  webview/package.json
  webview/webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

initial working setup
  extension/src/plots/model/collect.ts
  extension/src/plots/model/index.ts
Due: prettier --write, eslint --cache --fix

Use the title for truncation
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/util.ts
Due: prettier --write, eslint --cache --fix

Remove obsolete code
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

Remove extra sending of data to webview on change of star selection (#2346)
  extension/src/experiments/webview/messages.ts
Due: prettier --write, eslint --cache --fix

reduce overall coverage as webview no longer collected
  extension/.swcrc
  package.json
  webview/.swcrc
Due: prettier --write

Truncate long plot titles (#2344)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
  webview/src/plots/components/util.ts
Due: prettier --write, eslint --cache --fix

Update row styles * update row selection styles * update indicator count styles * change cursor to pointer on cursor hover * add space between checkbox and star * take off last table row border
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Undo unneeded line
  webview/src/shared/variables.scss
Due: none

add border to experiments table tooltips
  webview/src/experiments/components/overflowHoverTooltip/OverflowHoverTooltip.tsx
  webview/src/experiments/components/overflowHoverTooltip/styles.module.scss
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

push border into global style
  webview/src/experiments/components/overflowHoverTooltip/OverflowHoverTooltip.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/shared/components/tooltip/styles.module.scss
Due: prettier --write, eslint --cache --fix

remove arrow from tooltips
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
Due: prettier --write, eslint --cache --fix

remove extra padding and global style
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/shared/components/tooltip/styles.module.scss
Due: prettier --write, eslint --cache --fix

Dismiss tooltip/context menus on Escape
  webview/src/experiments/components/App.test.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
Due: prettier --write, eslint --cache --fix

Always show context menu on right click
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Keep cursor on `col-resize` on table column resize
  webview/src/experiments/components/table/styles.module.scss
Due: none

Truncate axis titles
  webview/src/plots/components/ZoomablePlot.tsx
Due: prettier --write, eslint --cache --fix

Keep cursor on `col-resize` on table column resize (#2356)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Extract documentSelector constant
  languageServer/src/DvcLanguageServer.ts
Due: prettier --write, eslint --cache --fix

Remove unused logic
  languageServer/src/DvcTextDocument.ts
  languageServer/src/test/completions.test.ts
Due: prettier --write, eslint --cache --fix

Remove dupes from DvcLanguageServer
  languageServer/src/DvcLanguageServer.ts
Due: prettier --write, eslint --cache --fix

Add a test and a definitions provider
  .codeclimate.json
  .vscode/settings.json
  .vscode/tasks.json
  extension/package.json
  extension/src/extension.ts
  extension/src/fileSystem/workspace.ts
  extension/src/lsp-client/language-client.ts
  extension/src/lsp-client/server-options.ts
  extension/webpack.config.ts
  languageServer/.eslintrc.js
  languageServer/.lintstagedrc.js
  languageServer/index.d.ts
  languageServer/index.js
  languageServer/jest.config.js
  languageServer/package.json
  languageServer/src/DvcLanguageServer.ts
  languageServer/src/DvcTextDocument.ts
  languageServer/src/DvcYamlModel.ts
  languageServer/src/IDvcTextDocument.ts
  languageServer/src/regexes.ts
  languageServer/src/server.ts
  languageServer/src/test/completions.test.ts
  languageServer/src/test/definitions.test.ts
  languageServer/src/test/fixtures/examples/invalid/index.ts
  languageServer/src/test/fixtures/examples/make.js
  languageServer/src/test/fixtures/examples/valid/index.ts
  languageServer/src/test/fixtures/params/index.ts
  languageServer/src/test/utils/openTheseFilesAndNotifyServer.ts
  languageServer/src/test/utils/requestCompletionsv1.ts
  languageServer/src/test/utils/requestDefinitions.ts
  languageServer/src/test/utils/setup-test-connections.ts
  languageServer/tsconfig.json
  package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Refactor yamlScalarNodeToDocumentSymbol
  languageServer/src/DvcTextDocument.ts
Due: prettier --write, eslint --cache --fix

Update yarn.lock
  yarn.lock
Due: none

Refactor DvcYamlModel
  languageServer/src/DvcYamlModel.ts
Due: prettier --write, eslint --cache --fix

Extract onInitialize handler to dedicated method
  languageServer/src/DvcLanguageServer.ts
Due: prettier --write, eslint --cache --fix

Refactor getCompletions
  languageServer/src/DvcTextDocument.ts
Due: prettier --write, eslint --cache --fix

reduce padding by 5px in info tooltip
  webview/src/plots/components/styles.module.scss
Due: none

remove unused styles file
  webview/src/experiments/components/overflowHoverTooltip/styles.module.scss
Due: none

Match tooltip styles to VS Code (#2353)
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/experiments/util/buildDynamicColumns.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/shared/components/contextMenu/ContextMenu.tsx
  webview/src/shared/components/iconMenu/IconMenu.tsx
  webview/src/shared/components/tooltip/Tooltip.tsx
  webview/src/shared/components/tooltip/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix
