Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Remove 'executable' wording for dvc path
  extension/package.json
  extension/src/DvcPath.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Move all eslint and prettier config to monorepo top level
  .eslintrc.js
  .github/workflows/build.yml
  .prettierignore
  extension/.eslintrc.js
  extension/.prettierignore
  extension/package.json
  package.json
  webview/package.json
Due: prettier --write, eslint --cache --fix

Run prettier and fix lint errors
  extension/src/extension.ts
  webview/index.js
  webview/package.json
  webview/src/react-table-config.d.ts
Due: prettier --write, eslint --cache --fix

Rename dvc extension icon to dvc.png
  extension/docs/dvc.png
  extension/package.json
Due: prettier --write

Change dvc extension name, publisher and description
  extension/package.json
Due: prettier --write

Add proper vscode extension fields to package.json manifest
  extension/package.json
Due: prettier --write

Fix build-extension monorepo script
  package.json
Due: prettier --write

Fix webview build by adding TS types
  webview/package.json
  yarn.lock
Due: prettier --write

Fix builds on my machine
  extension/package-lock.json
  extension/package.json
  package.json
Due: prettier --write

Fix dvc extension build monorepo script and workspace reference
  package.json
Due: prettier --write

Revert extension changes
  extension/package.json
  extension/src/constants.ts
  extension/src/extension.ts
  extension/src/tree/fileInfo.ts
  extension/src/tree/fileTreeDataProvider.ts
  extension/src/tree/fileTreeNodes.ts
  extension/src/utils/fileUtils.ts
  extension/src/utils/stringUtils.ts
Due: prettier --write, eslint --cache --fix

Add newline at end of prettierignore
  .prettierignore
Due: none

Run prettier and fix eslint esplicit return warning
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  extension/src/configuration.ts
Due: prettier --write, eslint --cache --fix

Eslint/prettier automatic fixes
  webview/src/components/Experiments.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/util/build-experiment-tree.ts
Due: prettier --write, eslint --cache --fix

Add yml and yaml for prettier invocations
  package.json
Due: prettier --write

Add cache action for yarn dependencies
  .github/workflows/build.yml
Due: none

Add global jest and upgrade packages
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Simplify ESLint config
  .eslintrc.js
  extension/jest.config.js
  extension/package.json
  jest.config.js
  package.json
  webview/index.js
  webview/jest.config.js
  webview/src/components/App.tsx
  webview/src/components/Experiments.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/hotComponent.tsx
  webview/src/model/VsCodeApi.ts
  webview/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Set up repo-wide testing and add it to CI
  .github/workflows/build.yml
  .gitignore
  extension/.gitignore
  extension/package.json
  extension/src/DvcReader.test.ts
  jest.config.js
  package.json
  webview/package.json
  webview/src/util/build-experiment-tree.test.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Move yarn test after build
  .github/workflows/build.yml
Due: none

Add react version:detect and properly build tests in CI
  .eslintrc.js
  .github/workflows/build.yml
Due: prettier --write, eslint --cache --fix

Add xvfb to run vscode in GHA
  .github/workflows/build.yml
Due: none

xvfb -> xvfb-run
  .github/workflows/build.yml
Due: none

Cache vscode test
  .github/workflows/build.yml
Due: none

Add separate cache action for vscode test
  .github/workflows/build.yml
Due: none

Ignore .vscode-test in prettier
  .prettierignore
Due: none

Cache ESLint in GH Action
  .github/workflows/build.yml
Due: none

Add a dummy test build file and add .vscode-test to gitignore
  .github/workflows/test-build.yml
  .gitignore
Due: none

Re-add test build because CI is preventing merge
  .github/workflows/test-build.yml
Due: none

Add Prettier and EsLint to GH Actions (#54)
  .eslintrc.js
  .github/workflows/build.yml
  .github/workflows/test-build.yml
  .gitignore
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  extension/.eslintrc.js
  extension/.gitignore
  extension/.prettierignore
  extension/jest.config.js
  extension/package.json
  extension/src/DvcReader.test.ts
  extension/src/configuration.ts
  extension/src/extension.ts
  package.json
  webview/.eslintrc.js
  webview/.prettierignore
  webview/index.js
  webview/jest.config.js
  webview/package.json
  webview/src/components/App.tsx
  webview/src/components/Experiments.tsx
  webview/src/components/build-dynamic-columns.tsx
  webview/src/hotComponent.tsx
  webview/src/model/VsCodeApi.ts
  webview/src/react-table-config.d.ts
  webview/src/util/build-experiment-tree.test.ts
  webview/src/util/build-experiment-tree.ts
  webview/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Add basic "Run Experiment" button to Webview (#28)
  extension/src/DvcReader.ts
  extension/src/DvcWebviewManager.ts
  extension/src/extension.ts
  extension/src/webviewContract.ts
  webview/src/components/App.tsx
  webview/src/components/Experiments.tsx
  webview/src/components/GUI.tsx
  webview/src/model/Model.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Prettier
  webview/src/components/Table.tsx
Due: prettier --write, eslint --cache --fix

Add Resources section
  README.md
  extension/docs/figma-webview-list.png
Due: prettier --write

Add basic Storybook support for Experiments
  extension/src/DvcReader.ts
  package.json
  webview/.storybook/main.js
  webview/.storybook/preview.js
  webview/package.json
  webview/src/stories/Experiments.stories.tsx
  webview/src/stories/complex-experiments-output.json
  webview/src/stories/test-vscode-styles.scss
  webview/src/style.scss
  yarn.lock
Due: prettier --write, eslint --cache --fix

Run Prettier and fix missing newline
  webview/.storybook/preview.js
Due: prettier --write, eslint --cache --fix

Add storybook-static to gitignore
  .gitignore
Due: none

Add chromatic CLI and storybook/chromatic scripts
  package.json
  webview/package.json
  yarn.lock
Due: prettier --write

Use addon-actions over console.log
  webview/package.json
  webview/src/stories/Experiments.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Fix addon-actions
  webview/src/stories/Experiments.stories.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

Remove Windows and Mac builds
  .github/workflows/test-build.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
