Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "*.{json,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"]
}

Change to true singleton
  webview/src/components/App.tsx
  webview/src/components/Experiments.tsx
  webview/src/model/Model.ts
Due: prettier --write, eslint --cache --fix

Restore typing to GUI.tsx
  webview/src/components/GUI.tsx
Due: prettier --write, eslint --cache --fix

Add refresh webviews on command finish
  extension/src/DvcWebviewManager.ts
  extension/src/commands.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Remove temp eslint disable (DvcWebviewManager.ts)
  extension/src/DvcWebviewManager.ts
Due: prettier --write, eslint --cache --fix

Remove temp eslint disable (commands.ts)
  extension/src/commands.ts
Due: prettier --write, eslint --cache --fix

Use DvcReader, remove commands.ts
  extension/src/DvcReader.ts
  extension/src/commands.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Change runExperiment to use existing scheme
  extension/src/DvcReader.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Add webview refresh
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Reuse private Output Channel
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Update to error handling of command and refreshAll
  extension/src/DvcReader.ts
  extension/src/DvcWebviewManager.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Pass vsCodeApi to Experiments via GUI
  webview/src/components/Experiments.tsx
  webview/src/components/GUI.tsx
Due: prettier --write, eslint --cache --fix

Add return type to refreshAll
  extension/src/DvcWebviewManager.ts
Due: prettier --write, eslint --cache --fix

Re-add undefined to experiments prop type
  webview/src/components/Experiments.tsx
Due: prettier --write, eslint --cache --fix

Adjust experiment sha style and switch to css modules
  webview/src/components/Experiments.tsx
  webview/src/components/Table.tsx
  webview/src/components/table-styles.module.scss
  webview/src/css.d.ts
  webview/src/style.scss
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

Upgrade packages
  yarn.lock
Due: none

Add extension constants
  extension/src/constants.ts
Due: prettier --write, eslint --cache --fix

Add string normalization utils
  extension/src/utils/stringUtils.ts
Due: prettier --write, eslint --cache --fix

Update husky and add pinst to the root workspace
  package.json
  yarn.lock
Due: prettier --write

Update husky and add pinst to the root workspace (#52)
  package.json
  yarn.lock
Due: prettier --write

Add basic file utils
  extension/src/utils/fileUtils.ts
Due: prettier --write, eslint --cache --fix

Add file info for file stats
  extension/src/tree/fileInfo.ts
Due: prettier --write, eslint --cache --fix

Add file tree nodes for file tree view
  extension/src/tree/fileTreeNodes.ts
Due: prettier --write, eslint --cache --fix

Add basic file tree view
  extension/docs/dvc.png
  extension/package.json
  extension/src/extension.ts
  extension/src/tree/fileTreeDataProvider.ts
Due: prettier --write, eslint --cache --fix

Add Prettier and EsLint to GH Actions
  .github/workflows/build.yml
Due: none

Add dvcPath extension configuration
  extension/package.json
  extension/src/configuration.ts
Due: prettier --write, eslint --cache --fix

Change to local yarn linting and formatting
  .github/workflows/build.yml
  .github/workflows/test-build.yml
Due: none

Remove "--write" from Prettier in favor of user "-w"
  extension/package.json
  package.json
  webview/package.json
Due: prettier --write

Make a mistake on purpose
  webview/index.js
Due: prettier --write, eslint --cache --fix

Add selecting, defining, display of DVC executable
  extension/package.json
  extension/src/DvcExecutable.ts
  extension/src/configuration.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

update vscode dvc extension dev and other dependencies in package.json
  extension/package-lock.json
  extension/package.json
Due: prettier --write

Fix logo filename
  extension/docs/logo.dvc.png
  extension/package.json
Due: prettier --write

Revert to concise 'vscode' importing
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Revert to concise 'vscode' importing 2
  extension/src/DvcExecutable.ts
  extension/src/configuration.ts
Due: prettier --write, eslint --cache --fix

Remove export of defineExecutable fn
  extension/src/DvcExecutable.ts
Due: prettier --write, eslint --cache --fix

Fix DVCExecutableStatusBarItem docstring
  extension/src/DvcExecutable.ts
Due: prettier --write, eslint --cache --fix

Fix path straying
  extension/src/DvcPath.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

(Misc) Remove duplicate runExperiment
  extension/package.json
Due: prettier --write

Update command wording
  extension/package.json
  extension/src/DvcPath.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Add DVC Path configuration, selection, & display (#55)
  extension/docs/logo.dvc.png
  extension/package.json
  extension/src/DvcPath.ts
  extension/src/configuration.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Remove 'executable' wording (dvc path)
  extension/package.json
  extension/src/DvcPath.ts
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix
