Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Fix typo
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

hide unneeded input box
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

update proposed api
  extension/src/vscode.proposed.d.ts
Due: prettier --write, eslint --cache --fix

add experiment run with different param
  demo/.gitignore
  demo/dvc.lock
  demo/logs.json
  demo/params.yaml
  demo/predictions.json
Due: prettier --write

Update .gitignore
  demo/.gitignore
Due: none

fuzzy search in column management - drill down files and columns
  webview/package.json
  webview/src/components/Input/index.tsx
  webview/src/components/Input/styles.module.scss
  webview/src/components/ManageColumns/index.tsx
  webview/src/util/strings.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

rearrange .env gitignore
  .gitignore
  demo/.gitignore
Due: none

patch list speed with ignore entry
  demo/.dvcignore
Due: none

add new lint rules
  .eslintrc.js
  extension/src/extension.ts
  webview/src/components/Experiments/index.tsx
  webview/src/components/GUI.tsx
  webview/src/components/ManageColumns/index.tsx
  webview/src/components/Menu/index.tsx
  webview/src/components/SortIndicator/index.tsx
  webview/src/hotComponent.tsx
  webview/src/util/build-dynamic-columns.tsx
  webview/src/util/number-formatting.ts
  webview/src/util/parse-experiments.ts
Due: prettier --write, eslint --cache --fix

refactored column rows to separate file due to complexity
  webview/src/components/ManageColumns/index.tsx
  webview/src/components/ManageColumns/rows.tsx
  webview/src/components/Menu/index.tsx
  webview/src/components/Menu/styles.module.scss
Due: prettier --write, eslint --cache --fix

dropdown for parameters with children
  webview/src/components/ManageColumns/rows.tsx
  webview/src/components/Menu/index.tsx
  webview/src/components/Menu/styles.module.scss
Due: prettier --write, eslint --cache --fix

collapsible nested rows, hide all in manageColumns, style improvements - thinner rows, aligned checkboxes to the right. uncollapsed the parents of items that are search result hits during search
  demo/params.yaml
  webview/src/components/Button/index.tsx
  webview/src/components/Button/styles.module.scss
  webview/src/components/ManageColumns/rows.tsx
  webview/src/components/ManageColumns/styles.module.scss
  webview/src/components/Menu/index.tsx
  webview/src/components/Menu/styles.module.scss
Due: prettier --write, eslint --cache --fix

hide unneeded input box (#208)
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

add new lint rules (#212)
  .eslintrc.js
  extension/src/extension.ts
  webview/src/components/Experiments/index.tsx
  webview/src/components/GUI.tsx
  webview/src/components/ManageColumns/index.tsx
  webview/src/components/Menu/index.tsx
  webview/src/components/SortIndicator/index.tsx
  webview/src/hotComponent.tsx
  webview/src/util/build-dynamic-columns.tsx
  webview/src/util/number-formatting.ts
  webview/src/util/parse-experiments.ts
Due: prettier --write, eslint --cache --fix

Patch list speed with `.dvcignore` entry (#211)
  .gitignore
  demo/.dvcignore
  demo/.gitignore
Due: none

update proposed api (#209)
  extension/src/vscode.proposed.d.ts
Due: prettier --write, eslint --cache --fix

Remove inputBox placeholder
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Update packages
  yarn.lock
Due: none

Cast child columns in blocks where `columnIsParent` is true
  webview/src/components/ManageColumns/rows.tsx
Due: prettier --write, eslint --cache --fix

Work around CleanWebpackPlugin type issue
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

Add classnames call to avoid false className warning
  webview/src/components/Menu/index.tsx
Due: prettier --write, eslint --cache --fix

Replace onToggle if statements with optional chain calling
  webview/src/components/Dropdown/index.tsx
  webview/src/components/ManageColumns/rows.tsx
Due: prettier --write, eslint --cache --fix

removed .idea/ from gitignore for now until we decide whether to include editor specific stuff, restored demo/params.yaml and removed gibberish
  .gitignore
  demo/params.yaml
Due: none

better search using custom matching, and removed fuse
  webview/package.json
  webview/src/components/ManageColumns/rows.tsx
  webview/src/util/strings.ts
Due: prettier --write, eslint --cache --fix

added category field to columns and de-hacked the tab <-> category matching, added typeguard for defined child column for columnIsParent check
  webview/src/components/Experiments/index.tsx
  webview/src/components/ManageColumns/ColumnRows.tsx
  webview/src/components/ManageColumns/index.tsx
  webview/src/components/Menu/index.tsx
  webview/src/react-table-config.d.ts
  webview/src/util/build-dynamic-columns.tsx
Due: prettier --write, eslint --cache --fix

fixed vertical mouse hover hitbox
  webview/src/components/ManageColumns/ColumnRows.tsx
  webview/src/components/ManageColumns/styles.module.scss
  webview/src/components/Menu/index.tsx
Due: prettier --write, eslint --cache --fix

removed changes to yarn lock
  yarn.lock
Due: none

update yarn lock
  yarn.lock
Due: none

unit tests for isPathLikeSearchHit
  .husky/.gitignore
  demo/.gitignore
  demo/dvc.lock
  demo/logs.html
  demo/logs.json
  demo/predictions.json
  webview/src/components/ManageColumns/ColumnRows.tsx
  webview/src/util/strings.test.ts
  webview/webpack.config.ts
Due: prettier --write, eslint --cache --fix

one more test to isPathLikeSearchHit
  webview/src/util/strings.test.ts
Due: prettier --write, eslint --cache --fix

undo changes to demo
  demo/.gitignore
  demo/dvc.lock
  demo/logs.html
  demo/logs.json
  demo/predictions.json
Due: prettier --write

Remove inputBox placeholder (#214)
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

Remove unused return value on setDvcPath and remove broken test temporarily
  extension/src/Config.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Re-add new broken vscode test
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

only test what we really care about
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

only test what we really care about (#216)
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

import with `* as` and combine `resolves` into one line.
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

fix tests
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

move scm view into own file
  extension/src/extension.ts
  extension/src/views/SourceControlManagement.ts
Due: prettier --write, eslint --cache --fix

Replace delay in extension test with awaited event
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
