Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Rename "Timestamp" column label to "Created"
  extension/src/experiments/columns/constants.ts
  extension/src/experiments/columns/extract.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/status/index.test.ts
  extension/src/experiments/model/status/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/test/fixtures/expShow/dataTypes.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/rows.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

Adjust style
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.test.tsx
  webview/src/plots/components/comparisonTable/RowDropTarget.tsx
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
  webview/src/shared/components/dragDrop/util.ts
Due: prettier --write, eslint --cache --fix

Make column parentPath optional
  extension/src/experiments/columns/constants.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/columns/tree.test.ts
  extension/src/experiments/webview/contract.ts
  webview/src/experiments/hooks/useColumnOrder.ts
Due: prettier --write, eslint --cache --fix

Make column parentPath optional (#2272)
  extension/src/experiments/columns/constants.ts
  extension/src/experiments/columns/model.ts
  extension/src/experiments/columns/tree.test.ts
  extension/src/experiments/webview/contract.ts
  webview/src/experiments/hooks/useColumnOrder.ts
Due: prettier --write, eslint --cache --fix

Account for exp show returning an empty object
  extension/src/cli/dvc/reader.test.ts
  extension/src/cli/dvc/reader.ts
Due: prettier --write, eslint --cache --fix

cahnged settings json snd params
  .vscode/settings.json
  demo/params.yaml
Due: prettier --write

Fix dropped after
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Rename "Timestamp" column label to "Created" (#2269)
  extension/src/experiments/columns/constants.ts
  extension/src/experiments/columns/extract.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/status/index.test.ts
  extension/src/experiments/model/status/index.ts
  extension/src/experiments/webview/contract.ts
  extension/src/test/fixtures/expShow/dataTypes.ts
  extension/src/test/fixtures/expShow/deeplyNested.ts
  extension/src/test/fixtures/expShow/rows.ts
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHeader.tsx
Due: prettier --write, eslint --cache --fix

Add tests
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/test/dragDrop.ts
Due: prettier --write, eslint --cache --fix

Split comparison table rows into new component
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRows.tsx
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Try reducing number of lines
  webview/src/shared/components/dragDrop/DragDropContainer.tsx
Due: prettier --write, eslint --cache --fix

Remove leftover file for section renaming
  webview/src/plots/components/SectionRenamer.tsx
Due: prettier --write, eslint --cache --fix

Apply comments on plot section collapse
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/util/strings.ts
Due: prettier --write, eslint --cache --fix

Self review
  webview/src/plots/components/PlotsContainer.tsx
Due: prettier --write, eslint --cache --fix

useLayoutEffect to better time adding event listeners
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

Remove leftover file for section renaming (#2284)
  webview/src/plots/components/SectionRenamer.tsx
Due: prettier --write, eslint --cache --fix

Review when plot sections should collapse (#2285)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRow.tsx
  webview/src/plots/components/styles.module.scss
  webview/src/util/strings.ts
Due: prettier --write, eslint --cache --fix

useLayoutEffect to better time adding event listeners (#2286)
  webview/src/plots/components/templatePlots/TemplatePlotsGrid.tsx
Due: prettier --write, eslint --cache --fix

Show empty state when final comparison plot is deselected
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
Due: prettier --write, eslint --cache --fix

add rough implementation for sorting and filtering by created
  extension/src/experiments/columns/constants.ts
  extension/src/experiments/columns/quickPick.ts
  extension/src/experiments/model/filterBy/index.ts
  extension/src/experiments/model/filterBy/quickPick.test.ts
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/util/date.ts
  extension/src/vscode/inputBox.ts
Due: prettier --write, eslint --cache --fix

start to refactor
  extension/src/experiments/model/filterBy/date.ts
  extension/src/experiments/model/filterBy/index.ts
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/util/date.ts
Due: prettier --write, eslint --cache --fix

unit test date string comparison
  extension/src/experiments/model/filterBy/date.test.ts
  extension/src/experiments/model/filterBy/date.ts
  extension/src/experiments/model/filterBy/index.ts
  extension/src/util/date.ts
Due: prettier --write, eslint --cache --fix

unit test is free text date
  extension/src/experiments/model/filterBy/quickPick.ts
  extension/src/util/date.test.ts
  extension/src/util/date.ts
Due: prettier --write, eslint --cache --fix

unit test date filters
  extension/src/experiments/model/filterBy/index.test.ts
  extension/src/experiments/model/filterBy/index.ts
  extension/src/experiments/model/filterBy/quickPick.ts
Due: prettier --write, eslint --cache --fix

Show empty state when final comparison plot is deselected (#2290)
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
Due: prettier --write, eslint --cache --fix

Keep the first cells of selected rows sticky
  webview/src/experiments/components/table/styles.module.scss
Due: none

Take off opacity on column resizer
  webview/src/experiments/components/table/styles.module.scss
Due: none

Keep the first cells of selected rows sticky (#2294)
  webview/src/experiments/components/table/styles.module.scss
Due: none

Take right border off of header cells when sticky
  webview/src/experiments/components/table/styles.module.scss
Due: none

Improve table styles (#2289)
  webview/src/experiments/components/table/CellRowActions.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

Persist the order of the comparison table rows
  extension/src/persistence/constants.ts
  extension/src/plots/paths/model.ts
  extension/src/plots/webview/messages.ts
  extension/src/telemetry/constants.ts
  extension/src/util/array.ts
  extension/src/webview/contract.ts
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableRows.tsx
  webview/src/plots/components/ribbon/Ribbon.tsx
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

Add missing line
  extension/src/plots/paths/model.ts
Due: prettier --write, eslint --cache --fix

Add tests
  extension/src/plots/paths/model.test.ts
  extension/src/test/suite/plots/index.test.ts
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
Due: prettier --write, eslint --cache --fix

Use join for test
  extension/src/plots/paths/model.test.ts
Due: prettier --write, eslint --cache --fix

Dispatch publish extension action on merge of update version and CHANGELOG for release PR
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
  .prettierignore
Due: none

better standardize dates before comparing
  extension/src/experiments/model/filterBy/date.ts
  extension/src/util/date.ts
Due: prettier --write, eslint --cache --fix

Add missing joins
  extension/src/plots/paths/model.test.ts
Due: prettier --write, eslint --cache --fix

Add more missing joins
  extension/src/test/suite/plots/index.test.ts
Due: prettier --write, eslint --cache --fix

Dispatch publish extension action on merge of update version and CHANGELOG for release PR (#2292)
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
  .prettierignore
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
