Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

start all params as unselected for modify params and... commands
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
Due: prettier --write, eslint --cache --fix

Link experiments tree to webviews in UI (#1659)
  extension/package.json
  extension/src/vscode/title.ts
Due: prettier --write, eslint --cache --fix

rework dependency tree for packaging (#1664)
  extension/package.json
Due: prettier --write

don't cache metrics file, keep it in Git
  demo/.gitignore
  demo/dvc.lock
  demo/dvc.yaml
  demo/training_metrics.json
Due: prettier --write

Show warning if CLI is minor version ahead of the min version (#1666)
  extension/src/cli/version.test.ts
  extension/src/cli/version.ts
Due: prettier --write, eslint --cache --fix

start all params as unselected for modify params and... commands (#1675)
  extension/src/experiments/model/queue/quickPick.test.ts
  extension/src/experiments/model/queue/quickPick.ts
Due: prettier --write, eslint --cache --fix

Add modify experiment params and run to webview context menu (#1662)
  extension/src/experiments/index.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Row.tsx
Due: prettier --write, eslint --cache --fix

change tense of enum
  extension/src/experiments/index.ts
  extension/src/plots/index.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/stories/ContextMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

change tense of enum (#1665)
  extension/src/experiments/index.ts
  extension/src/plots/index.ts
  extension/src/telemetry/constants.ts
  extension/src/test/suite/experiments/index.test.ts
  extension/src/test/suite/plots/index.test.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/Experiments.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/Table.test.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/PlotsContainer.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTable.tsx
  webview/src/plots/components/templatePlots/TemplatePlots.tsx
  webview/src/stories/ContextMenu.stories.tsx
Due: prettier --write, eslint --cache --fix

always try to initialize if setup the workspace is run and cli is unavailable (#1674)
  extension/src/extension.ts
  extension/src/extensions/python.ts
  extension/src/setup.test.ts
  extension/src/setup.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

watch for dvc being added to virtual environment within the workspace
  extension/src/extension.ts
Due: prettier --write, eslint --cache --fix

update integration test for windows
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

add push and pull to tracked tree title
  extension/package.json
Due: prettier --write

bump patch version
  CHANGELOG.md
  extension/package.json
Due: prettier --write

add action to bump version after release
  .github/workflows/publish.yml
Due: none

commit action to test automation
  .github/workflows/changelog-configuration.json
  .github/workflows/publish.yml
  extension/package.json
Due: prettier --write

match labels to DVC
  .github/workflows/changelog-configuration.json
Due: prettier --write

add skip tag for now
  .github/workflows/publish.yml
Due: none

Watch workspace for virtual environment changes to DVC (#1677)
  extension/src/extension.ts
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Bump patch version for release and add bump action (#1679)
  .github/workflows/publish.yml
  CHANGELOG.md
  extension/package.json
Due: prettier --write

remove flaky integration test (re-add later)
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

add push and pull to tracked tree title (#1678)
  extension/package.json
  extension/src/test/suite/extension.test.ts
Due: prettier --write, eslint --cache --fix

Remove light colors
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/emptyState/styles.module.scss
  webview/src/shared/variables.scss
Due: none

Replace most colors with VSCode variable equivalents
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: none

remove auto commit from publish action
  .github/workflows/publish.yml
Due: none

remove secrets from checkout
  .github/workflows/publish.yml
Due: none

[create-pull-request] automated change
  CHANGELOG.md
  extension/package.json
Due: prettier --write

update version and changelog for release
  CHANGELOG.md
  extension/package.json
Due: prettier --write

dvc: commit experiment 9bf33c448fdac1fa9c3f65492a32f08a2b602fc7f7cf4740602f3a0171470f9c
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 6e6720bfaf5aaa287cf52d9094235dccbc5781a4a25256450d668affdadc9df5
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment c4e09c3dc464bf964b49adc3da1421467dc1b3e94f7784f5151142f645e3d835
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 7106e81682b7ebe0e0c8a8844f584772e37dd655b050a024f162fa3adb884e7d
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 53ab14b6eeeb95acd258bc4c1138a6ff8817b8fa4fbb2d55d59e16fa17546e71
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 065d3840eaac4a1e798d6a0d65eb31724eddd598207a6bfa26254178899f8c8d
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 73e040ae0109f85466c43caca3caaf18faea92e1f24d9d8c8fa121c1bec0aa38
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 02fb3be8d644bbe9271a7dc2ea1daa106209f59154cb3464957ef261170f7e0e
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

dvc: commit experiment 4d27b057fad2714a84f61e05ce7d59955350bdaea3f50854955c45a0a4e2e96d
  demo/dvc.lock
  demo/training_metrics.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
