Repository iterative/vscode-dvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Add filters and refactor into external file
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/TableHead.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

Change design to icons with badges
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/icons/Filter.tsx
  webview/src/shared/components/icons/SortPrecedence.tsx
Due: prettier --write, eslint --cache --fix

Show table header context menu on left click (as well as right)
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Show table header context menu on left click (as well as right) (#1878)
  webview/src/experiments/components/table/TableHeader.tsx
  webview/src/shared/components/contextMenu/ContextMenu.tsx
Due: prettier --write, eslint --cache --fix

Pass extra args to reset and run experiment
  extension/src/cli/runner.ts
  extension/src/experiments/index.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

Pass extra args to reset and run experiment (#1879)
  extension/src/cli/runner.ts
  extension/src/experiments/index.ts
  extension/src/experiments/workspace.ts
  extension/src/test/suite/experiments/index.test.ts
Due: prettier --write, eslint --cache --fix

add both banners to resources
  extension/resources/alt-banner.svg
  extension/resources/banner.svg
Due: none

add error handling passing for record level errors
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/status/collect.ts
  extension/src/experiments/model/tree.ts
  extension/src/experiments/webview/contract.ts
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/Row.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/components/icons/Error.tsx
Due: prettier --write, eslint --cache --fix

rework how an experiment with errors looks in the tree
  extension/src/experiments/index.ts
  extension/src/experiments/model/collect.ts
  extension/src/experiments/model/decorationProvider.ts
  extension/src/experiments/model/index.ts
  extension/src/experiments/model/tree.test.ts
  extension/src/experiments/model/tree.ts
Due: prettier --write, eslint --cache --fix

remove icon and color text for error record
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
  webview/src/shared/variables.scss
Due: prettier --write, eslint --cache --fix

patch accessor to return !
  webview/src/experiments/util/buildDynamicColumns.tsx
Due: prettier --write, eslint --cache --fix

add tooltip for error records
  webview/src/experiments/components/table/Cell.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

use cx instead of introducing a bug
  webview/src/experiments/components/table/Cell.tsx
Due: prettier --write, eslint --cache --fix

Fix lint errors
  webview/src/plots/components/App.test.tsx
  webview/src/plots/components/App.tsx
  webview/src/plots/components/Plots.tsx
  webview/src/plots/components/ZoomablePlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlot.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlots.tsx
  webview/src/plots/components/checkpointPlots/CheckpointPlotsWrapper.tsx
  webview/src/plots/components/checkpointPlots/checkpointPlotsSlice.ts
  webview/src/plots/components/comparisonTable/ComparisonTable.test.tsx
  webview/src/plots/components/comparisonTable/ComparisonTableWrapper.tsx
  webview/src/plots/components/comparisonTable/comparisonTableSlice.ts
  webview/src/plots/components/templatePlots/TemplatePlotsWrapper.tsx
  webview/src/plots/components/templatePlots/templatePlotsSlice.ts
  webview/src/plots/components/webviewSlice.ts
  webview/src/plots/index.tsx
  webview/src/stories/ComparisonTable.stories.tsx
  webview/src/stories/Plots.stories.tsx
  webview/src/util/objects.ts
Due: prettier --write, eslint --cache --fix

fix linter-broken line
  README.md
Due: prettier --write

contrib: simpler dev env steps
  CONTRIBUTING.md
Due: prettier --write

readme: better intro wording per https://github.com/iterative/vscode-dvc/pull/1816#pullrequestreview-999211263
  .vscode/settings.json
  README.md
Due: prettier --write

readme: plots view -> dashboard :/ per https://github.com/iterative/vscode-dvc/pull/1816#discussion_r892625983
  README.md
Due: prettier --write

Add both banners to resources (#1877)
  extension/resources/alt-banner.svg
  extension/resources/banner.svg
Due: none

drop checkpoint from helper text
  extension/package.nls.json
Due: prettier --write

Swap codicons for Reset and Run/Resume experiment
  extension/package.json
Due: prettier --write

Swap codicons for Reset and Run/Resume experiment (#1880)
  extension/package.json
  extension/package.nls.json
Due: prettier --write

Fix storybook and add a sort-less scenario
  webview/src/stories/Table.stories.tsx
Due: prettier --write, eslint --cache --fix

Add jest tests
  webview/src/experiments/components/App.test.tsx
  webview/src/experiments/components/table/Indicators.tsx
Due: prettier --write, eslint --cache --fix

readme: exp bookkeeping -> tracking per https://github.com/iterative/vscode-dvc/pull/1816#pullrequestreview-999959614
  README.md
Due: prettier --write

readme: clarify reproducibility feature per https://github.com/iterative/vscode-dvc/pull/1816#pullrequestreview-999967535
  README.md
Due: prettier --write

readme: more specific data mgmt use per https://github.com/iterative/vscode-dvc/pull/1816#pullrequestreview-999970275
  README.md
Due: prettier --write

Add tree focus click events
  extension/src/experiments/index.ts
  extension/src/webview/contract.ts
  webview/src/experiments/components/table/Indicators.tsx
  webview/src/experiments/components/table/styles.module.scss
Due: prettier --write, eslint --cache --fix

readme: improve UI components list per https://github.com/iterative/vscode-dvc/pull/1816#pullrequestreview-1000116583
  README.md
Due: prettier --write

readme: fix img hack may not work until repo goes public
  README.md
Due: prettier --write

add badges to README
  README.md
Due: prettier --write

drop some badges
  README.md
Due: prettier --write

preview gif
  README.md
Due: prettier --write

preview banner
  README.md
  extension/resources/repo-banner.svg
Due: prettier --write

update link to point to main
  README.md
  extension/resources/repo-banner.svg
Due: prettier --write

readme: impro feats
  README.md
Due: prettier --write

contrib: move note about DVC projects
  CONTRIBUTING.md
Due: prettier --write

revert to changelog from main and add prettier rule
  .prettierignore
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,jsx,ts,tsx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
